openapi: 3.2.0
info:
  description: EB Suite APIs.
  title: EB Suite IT Alerting API
  version: '1.0'
servers:
- url: https://api.everbridge.net/rest
- url: https://api.everbridge.eu/rest
tags:
- description: EB Suites - IT Alerting
  name: IT Alerting
paths:
  /chatOps/public/chatinteg/{organizationId}/channel:
    post:
      description: 'Note: This page has not yet been fully converted to the new developer portal format. Request/response samples and details are missing.  Please use [Swagger](https://api.everbridge.net) to make API calls.'
      operationId: EBS Create Chat Channel
      parameters:
      - description: The ID of the organization containing the contacts
        in: path
        name: organizationId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json: {}
          description: Model
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: Create Chat Channel
      tags:
      - IT Alerting
      x-amazon-apigateway-integration:
        httpMethod: POST
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/chatOps/public/chatinteg/{organizationId}/channel
components:
  securitySchemes:
    API_Authorizer:
      description: oAuth Token
      in: header
      name: Authorization
      type: apiKey
      x-amazon-apigateway-authorizer:
        authorizerCredentials: arn:aws:iam::214792946631:role/oas-rest-api-gw-prod-us-us-east-1-0-us-east-1-gw
        authorizerResultTtlInSeconds: 300
        authorizerUri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:214792946631:function:API_Authorizer_us-east-1_prod:live/invocations
        identitySource: method.request.header.Authorization,method.request.header.PathCacheKey,method.request.header.MethodCacheKey
        type: request
      x-amazon-apigateway-authtype: custom
    BasicAuth:
      description: Basic Authentication Token
      scheme: basic
      type: http
    api_key:
      description: API Key - For System Use
      in: header
      name: x-api-key
      type: apiKey
x-amazon-apigateway-binary-media-types:
- audio/wav
- audio/x-wav
- application/octet-stream
x-readme:
  explorer-enabled: true
  proxy-enabled: true
