openapi: 3.2.0
info:
  title: Asset Management Asset License Limit Stats API
  description: This is the Asset Management Rest API Documentation
  contact:
    name: CAMS Team
  version: 1.0.0
servers:
- url: https://api.everbridge.net/rest/v2/asset-management
tags:
- name: Asset License Limit Stats
  description: Asset licensed limit stats
paths:
  /asset-license-limit-stats:
    get:
      tags:
      - Asset License Limit Stats
      operationId: EBS AM Get Asset License Limit Stats
      summary: Get Asset License Limit Stats
      description: Get Asset License Limit Stats
      parameters:
      - name: X-EB-Organization-Id
        in: header
        description: Organization Id
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetLicenseLimitStats'
              examples:
                success:
                  summary: success
                  value:
                    alertableAssetsCount: 20060
      security:
      - API_Authorizer: []
      - BasicAuth: []
      - api_key: []
      x-amazon-apigateway-integration:
        type: http_proxy
        httpMethod: GET
        uri: https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/asset-license-limit-stats
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.header.Authorization: context.authorizer.override_token
        passthroughBehavior: when_no_match
components:
  schemas:
    AssetLicenseLimitStats:
      type: object
      properties:
        assetLicenseLimit:
          type: integer
          format: int32
        alertableAssetsCount:
          type: integer
          format: int64
    organizationId:
      description: Everbridge Organization id.  Available on manager portal (Settings --> Organization --> Base Information)
      maxLength: 16
      type: integer
      example: '1536984111644674'
      default: '1536984111644674'
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: Basic Authentication Token
    API_Authorizer:
      type: apiKey
      name: Authorization
      description: oAuth Token
      in: header
      x-amazon-apigateway-authtype: custom
      x-amazon-apigateway-authorizer:
        authorizerUri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:214792946631:function:API_Authorizer_us-east-1_prod:live/invocations
        authorizerCredentials: arn:aws:iam::214792946631:role/asset-management-prod-us-us-east-1-0-us-east-1-gw
        authorizerResultTtlInSeconds: 300
        identitySource: method.request.header.Authorization,method.request.header.PathCacheKey,method.request.header.MethodCacheKey
        type: request
    api_key:
      type: apiKey
      name: x-api-key
      description: API Key - For System Use
      in: header
x-readme:
  explorer-enabled: true
  proxy-enabled: true
