openapi: 3.2.0
info:
  title: Everbridge Contacts API
  version: '1.0'
  description: 'Operations tagged Contacts across 2 of this provider''s published API definitions: everbridge-digital-apps-openapi.json, everbridge-eb-suite-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.everbridge.net/digitalapps/v2
- url: https://api.everbridge.net/rest
- url: https://api.everbridge.eu/rest
tags:
- name: Contacts
  description: Contacts operations
paths:
  /contacts/me:
    get:
      tags:
      - Contacts
      summary: Get Contact
      description: Get information of logged in account.
      operationId: ebs-daa-get-contact-info
      parameters:
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      responses:
        '200':
          description: Retrieve account information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountV2Response'
        '404':
          description: Not found account.
          content:
            application/json: {}
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: get
        uri: https://mobilemember.everbridge.net/api/v2/contacts/me
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    servers:
    - url: https://api.everbridge.net/digitalapps/v2
  /contacts/preferences:
    get:
      tags:
      - Contacts
      summary: Get Contact Preferences
      description: Get contact preferences for usage in mobile application.
      operationId: ebs-daa-get-contacts-preferences
      parameters:
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      responses:
        '200':
          description: Get contact preferences for usage in mobile application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberAccountSetting'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: get
        uri: https://mobilemember.everbridge.net/api/v2/contacts/preferences
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    patch:
      tags:
      - Contacts
      summary: Update Contact Preferences
      description: Update contact preferences for usage in mobile application.
      operationId: ebs-daa-update-contact-preferences
      parameters:
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactPreference'
        required: true
      responses:
        '200':
          description: Update contact preferences for usage in mobile application.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactPreference'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: patch
        uri: https://mobilemember.everbridge.net/api/v2/contacts/preferences
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    servers:
    - url: https://api.everbridge.net/digitalapps/v2
  /contacts/devices:
    post:
      tags:
      - Contacts
      summary: Register device
      description: Register a device to receive push notifications.
      operationId: ebs-daa-register-device
      parameters:
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceRequest'
        required: true
      responses:
        '200':
          description: Return device info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: post
        uri: https://mobilemember.everbridge.net/api/v2/contacts/devices
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    servers:
    - url: https://api.everbridge.net/digitalapps/v2
  /contacts/devices/{deviceId}:
    patch:
      tags:
      - Contacts
      summary: Update Device Token
      description: Update device push service token.
      operationId: ebs-daa-update-device-token
      parameters:
      - name: deviceId
        in: path
        description: Device ID
        required: true
        schema:
          pattern: ^\d+$
          type: string
        example: 1884704663928841
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceRequest'
        required: true
      responses:
        '200':
          description: Return device info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: patch
        uri: https://mobilemember.everbridge.net/api/v2/contacts/devices/{deviceId}
        requestParameters:
          integration.request.path.deviceId: method.request.path.deviceId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    delete:
      tags:
      - Contacts
      summary: Deregister Device
      description: Deregister the device for current contact.
      operationId: ebs-daa-deregister-device
      parameters:
      - name: deviceId
        in: path
        description: Device ID
        required: true
        schema:
          pattern: ^\d+$
          type: string
        example: 1884704663928841
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      responses:
        '200':
          description: Return device info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: delete
        uri: https://mobilemember.everbridge.net/api/v2/contacts/devices/{deviceId}
        requestParameters:
          integration.request.path.deviceId: method.request.path.deviceId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    servers:
    - url: https://api.everbridge.net/digitalapps/v2
  /contacts/devices/{deviceId}/reset-badge:
    patch:
      tags:
      - Contacts
      summary: Reset Device Badge
      description: Reset the device badge indicator icon to zero.
      operationId: ebs-daa-reset-device-badge
      parameters:
      - name: deviceId
        in: path
        description: Device ID
        required: true
        schema:
          pattern: ^\d+$
          type: string
        example: 1884704663928841
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      responses:
        '200':
          description: Return device info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: patch
        uri: https://mobilemember.everbridge.net/api/v2/contacts/devices/{deviceId}/reset-badge
        requestParameters:
          integration.request.path.deviceId: method.request.path.deviceId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    servers:
    - url: https://api.everbridge.net/digitalapps/v2
  /contacts/devices/{deviceId}/enable-push:
    patch:
      tags:
      - Contacts
      summary: Enable Push Notification
      description: Enable push notification for this device
      operationId: ebs-daa-enable-push-notification
      parameters:
      - name: deviceId
        in: path
        description: Device ID
        required: true
        schema:
          pattern: ^\d+$
          type: string
        example: 1884704663928841
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      responses:
        '200':
          description: Return device info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: patch
        uri: https://mobilemember.everbridge.net/api/v2/contacts/devices/{deviceId}/enable-push
        requestParameters:
          integration.request.path.deviceId: method.request.path.deviceId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    servers:
    - url: https://api.everbridge.net/digitalapps/v2
  /contacts/devices/{deviceId}/disable-push:
    patch:
      tags:
      - Contacts
      summary: Disable Push Notification
      description: Disable push notification for this device
      operationId: ebs-daa-disable-push-notification
      parameters:
      - name: deviceId
        in: path
        description: Device ID
        required: true
        schema:
          pattern: ^\d+$
          type: string
        example: 1884704663928841
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      responses:
        '200':
          description: Return device info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceResponse'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: patch
        uri: https://mobilemember.everbridge.net/api/v2/contacts/devices/{deviceId}/disable-push
        requestParameters:
          integration.request.path.deviceId: method.request.path.deviceId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    servers:
    - url: https://api.everbridge.net/digitalapps/v2
  /contacts/safe-corridors:
    post:
      tags:
      - Contacts
      summary: Create SafeCorridor
      description: Create safe corridor.
      operationId: ebs-daa-create-safe-corridor
      parameters:
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SafeCorridorV2Request'
        required: true
      responses:
        '200':
          description: Retrieve safeCorridor creation id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SafetyV2Response'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: post
        uri: https://mobilemember.everbridge.net/api/v2/contacts/safe-corridors
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    servers:
    - url: https://api.everbridge.net/digitalapps/v2
  /contacts/safe-corridors/active-devices/{device-id}:
    get:
      tags:
      - Contacts
      summary: Get Active SafeCorridor
      description: Get active safe corridor from server.
      operationId: ebs-daa-get-active-safe-corridor
      parameters:
      - name: device-id
        in: path
        description: Active device id
        required: true
        schema:
          type: string
        example: 1539455328453094
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      responses:
        '200':
          description: Get active safe corridor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SafeCorridorServerHandledVo'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: get
        uri: https://mobilemember.everbridge.net/api/v2/contacts/safe-corridors/active-devices/{device-id}
        requestParameters:
          integration.request.path.device-id: method.request.path.device-id
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    servers:
    - url: https://api.everbridge.net/digitalapps/v2
  /contacts/safe-corridors/{safe-corridor-id}:
    put:
      tags:
      - Contacts
      summary: Stop SafeCorridor
      description: Stop safe corridor.
      operationId: ebs-daa-stop-safe-corridor
      parameters:
      - name: safe-corridor-id
        in: path
        description: Safe corridor id
        required: true
        schema:
          type: integer
          format: int64
        example: 1539455328453094
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopSafeCorridorV2Request'
        required: true
      responses:
        '200':
          description: Stop safe corridor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SafetyV2Response'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: put
        uri: https://mobilemember.everbridge.net/api/v2/contacts/safe-corridors/{safe-corridor-id}
        requestParameters:
          integration.request.path.safe-corridor-id: method.request.path.safe-corridor-id
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    servers:
    - url: https://api.everbridge.net/digitalapps/v2
  /contacts/panics:
    post:
      tags:
      - Contacts
      summary: Create Panic
      description: Create SOS.
      operationId: ebs-daa-create-panic
      parameters:
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PanicV2Request'
        required: true
      responses:
        '200':
          description: Retrieve OpenTok secrets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanicResponse'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: post
        uri: https://mobilemember.everbridge.net/api/v2/contacts/panics
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    servers:
    - url: https://api.everbridge.net/digitalapps/v2
  /contacts/panics/{panic-id}:
    put:
      tags:
      - Contacts
      summary: Update Panic
      description: Start or stop SOS.
      operationId: ebs-daa-update-panic
      parameters:
      - name: panic-id
        in: path
        description: Panic id
        required: true
        schema:
          type: integer
          format: int64
        example: 1539455328453094
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PanicOperationV2Request'
        required: true
      responses:
        '200':
          description: Panic operation response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PanicOperationV2Response'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: put
        uri: https://mobilemember.everbridge.net/api/v2/contacts/panics/{panic-id}
        requestParameters:
          integration.request.path.panic-id: method.request.path.panic-id
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    servers:
    - url: https://api.everbridge.net/digitalapps/v2
  /contacts/checkins:
    post:
      tags:
      - Contacts
      summary: Create Checkin
      description: Create check-in location.
      operationId: ebs-daa-create-checkin
      parameters:
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckinRequest'
        required: true
      responses:
        '200':
          description: Return check-in info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckinResponse'
        '403':
          description: Forbidden - Cannot checkin as no location source was created for this App.
          content:
            application/json: {}
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: post
        uri: https://mobilemember.everbridge.net/api/v2/contacts/checkins
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    servers:
    - url: https://api.everbridge.net/digitalapps/v2
  /contacts/checkins/last:
    delete:
      tags:
      - Contacts
      summary: Delete Checkin
      description: Delete last check-in location.
      operationId: ebs-daa-delete-last-checkin
      parameters:
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      responses:
        '200':
          description: Delete check-in successfully.
          content:
            application/json: {}
        '403':
          description: Forbidden - Cannot delete check-in as no location source was created for this App.
          content:
            application/json: {}
        '404':
          description: No check-in found.
          content:
            application/json: {}
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: delete
        uri: https://mobilemember.everbridge.net/api/v2/contacts/checkins/last
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    servers:
    - url: https://api.everbridge.net/digitalapps/v2
  /contacts/emergency-calls:
    post:
      tags:
      - Contacts
      summary: Create Emergency Call
      description: Create an Emergency Call.
      operationId: ebs-daa-create-emergency-call
      parameters:
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmergencyCallV2Request'
        required: true
      responses:
        '200':
          description: Add emergency call successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SafetyV2Response'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: post
        uri: https://mobilemember.everbridge.net/api/v2/contacts/emergency-calls
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    servers:
    - url: https://api.everbridge.net/digitalapps/v2
  /contacts/custom-forms:
    post:
      tags:
      - Contacts
      summary: Create Custom Form
      description: Submit a custom form.
      operationId: ebs-daa-submit-custom-form
      parameters:
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ButtonSubmitFormEvent'
        required: true
      responses:
        '200':
          description: Response id.
          content:
            application/json: {}
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: post
        uri: https://mobilemember.everbridge.net/api/v2/contacts/custom-forms
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    servers:
    - url: https://api.everbridge.net/digitalapps/v2
  /contacts/devices/{deviceId}/remote-wipe:
    delete:
      tags:
      - Contacts
      summary: Remote Wipe Device
      description: Send a remote wipe command to the specified device.
      operationId: ebs-daa-remote-wipe-device
      parameters:
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      - name: deviceId
        in: path
        required: true
        schema:
          type: string
          pattern: ^\d+$
      responses:
        '204':
          description: Device wipe command accepted
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: delete
        uri: https://mobilemember.everbridge.net/api/v2/contacts/devices/{deviceId}/remote-wipe
        responses:
          default:
            statusCode: '204'
        requestParameters:
          integration.request.path.deviceId: method.request.path.deviceId
        type: http_proxy
        passthroughBehavior: when_no_match
    servers:
    - url: https://api.everbridge.net/digitalapps/v2
  /contactAttributes/{organizationId}:
    get:
      description: Returns all the contact attributes for a given org.
      operationId: EBS List Contact Attributes
      parameters:
      - description: The ID of the organization containing the contactAttributes
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      responses:
        '200':
          content:
            application/json:
              examples:
                Success:
                  summary: Response Model
                  value:
                    firstPageUri: https://api-dev3.everbridge.net/rest/contactAttributes/1536984111644674?pageNumber=1
                    lastPageUri: https://api-dev3.everbridge.net/rest/contactAttributes/1536984111644674?pageNumber=1
                    message: OK
                    page:
                      currentPageNo: 1
                      data:
                      - accountId: 1536846672691202
                        createdDate: 1677075262338
                        createdId: 585800790048776
                        createdName: Ajay Goel
                        dataType: STRING
                        definedValues:
                        - IT
                        - Database
                        - Network
                        displayFormat: S
                        editable: false
                        expose: false
                        id: 620263607631905
                        lastModifiedDate: 1677075372361
                        lastModifiedId: 585800790048776
                        lastModifiedName: Ajay Goel
                        mandatory: false
                        name: Department
                        organizationId: 1536984111644674
                        resourceBundleId: 1536984111644675
                        seq: 1
                        status: A
                      - accountId: 1536846672691202
                        createdDate: 1676526743191
                        createdId: 1530249602924607
                        createdName: Vishal Agrawal
                        dataType: NUMBER
                        displayFormat: F
                        editable: false
                        expose: false
                        id: 613426019696641
                        lastModifiedDate: 1677075587156
                        lastModifiedId: 585800790048776
                        lastModifiedName: Ajay Goel
                        mandatory: false
                        name: Renewal Day
                        organizationId: 1536984111644674
                        resourceBundleId: 1536984111644675
                        seq: 0
                        status: A
                      - accountId: 1536846672691202
                        createdDate: 1676526834561
                        createdId: 1530249602924607
                        createdName: Vishal Agrawal
                        dataType: STRING
                        displayFormat: F
                        editable: false
                        expose: false
                        id: 613426019696642
                        lastModifiedDate: 1677075574653
                        lastModifiedId: 585800790048776
                        lastModifiedName: Ajay Goel
                        mandatory: false
                        name: Floor
                        organizationId: 1536984111644674
                        resourceBundleId: 1536984111644675
                        seq: 0
                        status: A
                      - accountId: 1536846672691202
                        createdDate: 1717568722513
                        createdId: 2200330536222721
                        createdName: Nandish API Access
                        dataType: STRING
                        definedValues:
                        - Eligible to Return to Work
                        - Not Eligible to Return to Work
                        - Followup Needed
                        displayFormat: S
                        editable: true
                        expose: false
                        id: 2344950675013633
                        lastModifiedDate: 1717568722517
                        lastModifiedId: 2200330536222721
                        lastModifiedName: Nandish API Access
                        mandatory: false
                        name: Temp Code4
                        organizationId: 1536984111644674
                        resourceBundleId: 1536984111644675
                        seq: 0
                        status: A
                      pageSize: 8
                      start: 1
                      totalCount: 4
                      totalPageCount: 1
              schema:
                $ref: '#/components/schemas/contactAttributesResponse'
          description: Model
        '400':
          content:
            application/json:
              examples:
                Invalid Request Input:
                  summary: Invalid Input
                  value:
                    message: type mismatch exception
                    status: 400
              schema:
                properties:
                  message:
                    description: Error message
                    type: string
                  status:
                    description: Missing or invalid request input
                    enum:
                    - '400'
                    type: string
                type: object
          description: Invalid request input
        '401':
          content:
            application/json:
              examples:
                Invalid Organization Id:
                  summary: Invalid Organization Id
                  value:
                    message: Org 153698411164467 is invalid.
                    status: 401
              schema:
                $ref: '#/components/schemas/error'
          description: Invalid required fields data
        '500':
          content:
            application/json:
              examples:
                Invalid Request Input:
                  summary: Internal Error
                  value:
                    message: Fatal error on handling request
                    status: 500
              schema:
                properties:
                  message:
                    description: Error message
                    type: string
                  status:
                    description: Internal Error
                    enum:
                    - '500'
                    type: string
                type: object
          description: Internal Error
      security:
      - API_Authorizer: []
      - BasicAuth: []
      - api_key: []
      summary: List Contact Attributes
      tags:
      - Contacts
      x-amazon-apigateway-integration:
        httpMethod: GET
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/contactAttributes/{organizationId}
    post:
      deprecated: false
      description: Create a new contact attribute within an organization.
      operationId: EBS Create Contact Attribute
      parameters:
      - description: The ID of the organization containing the contacts
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      requestBody:
        content:
          application/json:
            examples:
              Contact Filter with displayFormat F:
                summary: Contact Filter with displayFormat F
                value:
                  dataType: STRING
                  definedValues:
                  - Eligible to Return to Work
                  - Not Eligible to Return to Work
                  - Followup Needed
                  displayFormat: F
                  editable: true
                  expose: false
                  mandatory: false
                  name: Test Contract Attribute
              Contact Filter with displayFormat L:
                summary: Contact Filter with displayFormat L
                value:
                  dataType: STRING
                  definedValues:
                  - Eligible to Return to Work
                  - Not Eligible to Return to Work
                  - Followup Needed
                  displayFormat: L
                  editable: true
                  expose: false
                  mandatory: false
                  name: Test Contract Attribute
              Contact Filter with displayFormat S:
                summary: Contact Attributes with Required Properties
                value:
                  dataType: STRING
                  definedValues:
                  - Eligible to Return to Work
                  - Not Eligible to Return to Work
                  - Followup Needed
                  displayFormat: S
                  editable: true
                  expose: false
                  mandatory: false
                  name: Test Contract Attribute
              Contact Filter with editable False:
                summary: Contact Filter with editable False
                value:
                  dataType: STRING
                  definedValues:
                  - Eligible to Return to Work
                  - Not Eligible to Return to Work
                  - Followup Needed
                  displayFormat: S
                  editable: false
                  expose: false
                  mandatory: false
                  name: Test Contract Attribute
              Contact Filter with editable True:
                summary: Contact Filter with editable True
                value:
                  dataType: STRING
                  definedValues:
                  - Eligible to Return to Work
                  - Not Eligible to Return to Work
                  - Followup Needed
                  displayFormat: S
                  editable: true
                  expose: false
                  mandatory: false
                  name: Test Contract Attribute
            schema:
              $ref: '#/components/schemas/contactAttributesRequest'
      responses:
        '200':
          content:
            application/json:
              examples:
                Model Response:
                  summary: Model Response
                  value:
                    baseUri: https://api-dev3.everbridge.net/rest/contactAttributes/1536984111644674
                    id: 2344985034752001
                    instanceUri: https://api-dev3.everbridge.net/rest/contactAttributes/1536984111644674/2344985034752001
                    message: OK
              schema:
                $ref: '#/components/schemas/postUpdateResponse'
          description: Model
        '400':
          content:
            application/json:
              examples:
                Invalid Request Input:
                  summary: Invalid Input
                  value:
                    message: type mismatch exception
                    status: 400
              schema:
                properties:
                  message:
                    description: Error message
                    type: string
                  status:
                    description: Missing or invalid request input
                    enum:
                    - '400'
                    type: string
                type: object
          description: Invalid request input
        '401':
          content:
            application/json:
              examples:
                Invalid Organization Id:
                  summary: Invalid Organization Id
                  value:
                    message: Org 153698411164467 is invalid.
                    status: 401
              schema:
                $ref: '#/components/schemas/error'
          description: Invalid required fields data
        '500':
          content:
            application/json:
              examples:
                Invalid Request Input:
                  summary: Internal Error
                  value:
                    message: Fatal error on handling request
                    status: 500
              schema:
                properties:
                  message:
                    description: Error message
                    type: string
                  status:
                    description: Internal Error
                    enum:
                    - '500'
                    type: string
                type: object
          description: Internal Error
      security:
      - API_Authorizer: []
      - BasicAuth: []
      - api_key: []
      summary: Create Contact Attribute
      tags:
      - Contacts
      x-amazon-apigateway-integration:
        httpMethod: POST
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/contactAttributes/{organizationId}
    servers:
    - url: https://api.everbridge.net/rest
    - url: https://api.everbridge.eu/rest
  /contactAttributes/{organizationId}/{contactAttributeId}:
    delete:
      deprecated: false
      description: Delete the specified contact attribute from an organization
      operationId: EBS Delete Contact Attribute
      parameters:
      - description: The ID of the organization containing the contact
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      - description: The ID of the contact attribute to delete
        in: path
        name: contactAttributeId
        required: true
        schema:
          default: '2344985034752001'
          example: '2344985034752001'
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Response Model:
                  summary: Response Model
                  value:
                    baseUri: https://api.everbridge.net/rest/contacts/1536984111644674/
                    id: 2344985034752001
                    instanceUri: https://api.everbridge.net/rest/contacts/1536984111644674/2344985034752001
                    message: OK
              schema:
                $ref: '#/components/schemas/postUpdateResponse'
          description: Model
        '400':
          content:
            application/json:
              examples:
                Invalid Request Input:
                  summary: Invalid Input
                  value:
                    message: type mismatch exception
                    status: 400
              schema:
                properties:
                  message:
                    description: Error message
                    type: string
                  status:
                    description: Missing or invalid request input
                    enum:
                    - '400'
                    type: string
                type: object
          description: Invalid request input
        '401':
          content:
            application/json:
              examples:
                Invalid Organization Id:
                  summary: Invalid Organization Id
                  value:
                    message: Org 153698411164467 is invalid.
                    status: 401
              schema:
                $ref: '#/components/schemas/error'
          description: Invalid required fields data
        '404':
          content:
            application/json:
              examples:
                Invalid Request Input:
                  summary: Not Found
                  value:
                    message: Contact attribute 2344950675013636 not found
                    status: 404
              schema:
                properties:
                  message:
                    description: Error message
                    type: string
                  status:
                    description: Not Found
                    enum:
                    - '400'
                    type: string
                type: object
          description: Not Found
        '500':
          content:
            application/json:
              examples:
                Invalid Request Input:
                  summary: Internal Error
                  value:
                    message: Fatal error on handling request
                    status: 500
              schema:
                properties:
                  message:
                    description: Error message
                    type: string
                  status:
                    description: Internal Error
                    enum:
                    - '500'
                    type: string
                type: object
          description: Internal Error
      security:
      - API_Authorizer: []
      - BasicAuth: []
      - api_key: []
      summary: Delete Contact Attribute
      tags:
      - Contacts
      x-amazon-apigateway-integration:
        httpMethod: DELETE
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.contactAttributeId: method.request.path.contactAttributeId
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/contactAttributes/{organizationId}/{contactAttributeId}
    get:
      deprecated: false
      description: Retrieve the specified contact attribute within an organization.
      operationId: EBS Get Contact Attribute
      parameters:
      - description: The ID of the organization containing the contact attribute
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      - description: The ID of the contact attribute to return
        in: path
        name: contactAttributeId
        required: true
        schema:
          default: '2344950675013636'
          example: '2344950675013636'
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Response Model:
                  summary: Response Model
                  value:
                    firstPageUri: https://api-dev3.everbridge.net/rest/contactAttributes/1536984111644674?pageNumber=1
                    lastPageUri: https://api-dev3.everbridge.net/rest/contactAttributes/1536984111644674?pageNumber=1
                    message: OK
                    page:
                      currentPageNo: 1
                      data:
                      - accountId: 1536846672691202
                        createdDate: 1677075262338
                        createdId: 585800790048776
                        createdName: Ajay Goel
                        dataType: STRING
                        definedValues:
                        - IT
                        - Database
                        - Network
                        displayFormat: S
                        editable: false
                        expose: false
                        id: 620263607631905
                        lastModifiedDate: 1677075372361
                        lastModifiedId: 585800790048776
                        lastModifiedName: Ajay Goel
                        mandatory: false
                        name: Department
                        organizationId: 1536984111644674
                        resourceBundleId: 1536984111644675
                        seq: 1
                        status: A
                      - accountId: 1536846672691202
                        createdDate: 1676526743191
                        createdId: 1530249602924607
                        createdName: Vishal Agrawal
                        dataType: NUMBER
                        displayFormat: F
                        editable: false
                        expose: false
                        id: 613426019696641
                        lastModifiedDate: 1677075587156
                        lastModifiedId: 585800790048776
                        lastModifiedName: Ajay Goel
                        mandatory: false
                        name: Renewal Day
                        organizationId: 1536984111644674
                        resourceBundleId: 1536984111644675
                        seq: 0
                        status: A
                      pageSize: 3
                      start: 1
                      totalCount: 3
                      totalPageCount: 1
              schema:
                $ref: '#/components/schemas/contactAttributesResponse'
          description: Model
        '400':
          content:
            application/json:
              examples:
                Invalid Request Input:
                  summary: Invalid Input
                  value:
                    message: type mismatch exception
                    status: 400
              schema:
                properties:
                  message:
                    description: Error message
                    type: string
                  status:
                    description: Missing or invalid request input
                    enum:
                    - '400'
                    type: string
                type: object
          description: Invalid request input
        '401':
          content:
            application/json:
              examples:
                Invalid Organization Id:
                  summary: Invalid Organization Id
                  value:
                    message: Org 153698411164467 is invalid.
                    status: 401
              schema:
                $ref: '#/components/schemas/error'
          description: Invalid required fields data
        '404':
          content:
            application/json:
              examples:
                Invalid Request Input:
                  summary: Not Found
                  value:
                    message: Contact attribute 2344950675013636 not found
                    status: 404
              schema:
                properties:
                  message:
                    description: Error message
                    type: string
                  status:
                    description: Not Found
                    enum:
                    - '400'
                    type: string
                type: object
          description: Not Found
        '500':
          content:
            application/json:
              examples:
                Invalid Request Input:
                  summary: Internal Error
                  value:
                    message: Fatal error on handling request
                    status: 500
              schema:
                properties:
                  message:
                    description: Error message
                    type: string
                  status:
                    description: Internal Error
                    enum:
                    - '500'
                    type: string
                type: object
          description: Internal Error
      security:
      - API_Authorizer: []
      - BasicAuth: []
      - api_key: []
      summary: Get Contact Attribute
      tags:
      - Contacts
      x-amazon-apigateway-integration:
        httpMethod: GET
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.contactAttributeId: method.request.path.contactAttributeId
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/contactAttributes/{organizationId}/{contactAttributeId}
    put:
      description: Update/Modify the properties of a contact attribute within an organization.
      operationId: EBS Update Contact Attribute
      parameters:
      - description: The ID of the organization containing the contact
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      - description: The ID of the contact attribute to update
        in: path
        name: contactAttributeId
        required: true
        schema:
          default: '2344985034752001'
          example: '2344985034752001'
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Update displayFormat to type F:
                summary: Update displayFormat to type F
                value:
                  dataType: STRING
                  definedValues:
                  - Eligible to Return to Work
                  - Not Eligible to Return to Work
                  - Followup Needed
                  displayFormat: F
                  editable: true
                  expose: false
                  mandatory: false
                  name: Test Contract Attribute
              Update displayFormat to type L:
                summary: Update displayFormat to type L
                value:
                  dataType: STRING
                  definedValues:
                  - Eligible to Return to Work
                  - Not Eligible to Return to Work
                  - Followup Needed
                  displayFormat: L
                  editable: true
                  expose: false
                  mandatory: false
                  name: Test Contract Attribute
              Update editable to False:
                summary: Update editable to False
                value:
                  dataType: STRING
                  definedValues:
                  - Eligible to Return to Work
                  - Not Eligible to Return to Work
                  - Followup Needed
                  displayFormat: S
                  editable: false
                  expose: false
                  mandatory: false
                  name: Test Contract Attribute
              Update editable to True:
                summary: Update editable to True
                value:
                  dataType: STRING
                  definedValues:
                  - Eligible to Return to Work
                  - Not Eligible to Return to Work
                  - Followup Needed
                  displayFormat: S
                  editable: true
                  expose: false
                  mandatory: false
                  name: Test Contract Attribute
              Update name of Contact Attribute:
                summary: Update name of Contact Attribute
                value:
                  dataType: STRING
                  definedValues:
                  - Eligible to Return to Work
                  - Not Eligible to Return to Work
                  - Followup Needed
                  displayFormat: S
                  editable: true
                  expose: false
                  mandatory: false
                  name: Test Contract Attribute
            schema:
              $ref: '#/components/schemas/contactAttributesRequest'
      responses:
        '200':
          content:
            application/json:
              examples:
                Updated:
                  summary: Contact Updated
                  value:
                    baseUri: https://api.everbridge.net/rest/contacts/1536984111644674/
                    id: 2344985034752001
                    instanceUri: https://api.everbridge.net/rest/contacts/1536984111644674/2344985034752001
                    message: OK
              schema:
                $ref: '#/components/schemas/postUpdateResponse'
          description: Success
        '400':
          content:
            application/json:
              examples:
                Invalid Request Input:
                  summary: Invalid Input
                  value:
                    message: type mismatch exception
                    status: 400
              schema:
                properties:
                  message:
                    description: Error message
                    type: string
                  status:
                    description: Missing or invalid request input
                    enum:
                    - '400'
                    type: string
                type: object
          description: Invalid request input
        '401':
          content:
            application/json:
              examples:
                Invalid Organization Id:
                  summary: Invalid Organization Id
                  value:
                    message: Org 153698411164467 is invalid.
                    status: 401
              schema:
                $ref: '#/components/schemas/error'
          description: Invalid required fields data
        '404':
          content:
            application/json:
              examples:
                Invalid Request Input:
                  summary: Not Found
                  value:
                    message: Contact attribute 2344950675013636 not found
                    status: 404
              schema:
                properties:
                  message:
                    description: Error message
                    type: string
                  status:
                    description: Not Found
                    enum:
                    - '400'
                    type: string
                type: object
          description: Not Found
        '500':
          content:
            application/json:
              examples:
                Invalid Request Input:
                  summary: Internal Error
                  value:
                    message: Fatal error on handling request
                    status: 500
              schema:
                properties:
                  message:
                    description: Error message
                    type: string
                  status:
                    description: Internal Error
                    enum:
                    - '500'
                    type: string
                type: object
          description: Internal Error
      security:
      - API_Authorizer: []
      - BasicAuth: []
      - api_key: []
      summary: Update Contact Attribute
      tags:
      - Contacts
      x-amazon-apigateway-integration:
        httpMethod: PUT
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.contactAttributeId: method.request.path.contactAttributeId
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/contactAttributes/{organizationId}/{contactAttributeId}
    servers:
    - url: https://api.everbridge.net/rest
    - url: https://api.everbridge.eu/rest
  /contactPaths/{organizationId}:
    get:
      deprecated: false
      description: Retrieve all Contact Paths for an organization
      operationId: EBS List Contact Paths
      parameters:
      - description: The ID of the organization containing the contact paths
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      responses:
        '200':
          content:
            application/json:
              examples:
                Response Model:
                  summary: Response Model
                  value:
                    firstPageUri: https://api-dev3.everbridge.net/rest/contactPaths/892807736728255/?pageNumber=1
                    lastPageUri: https://api-dev3.everbridge.net/rest/contactPaths/892807736728255/?pageNumber=1
                    message: OK
                    page:
                      currentPageNo: 1
                      data:
                      - awarePathId: 1682252
                        code: RECIP
                        confirmType: REPLY_TO
                        createdDate: 1347679952331
                        createdId: 8800387989515
                        createdName: Misher Yang
                        default: true
                        displayFlag: true
                        editable: false
                        expose: false
                        extRequired: false
                        formatFlag: P
                        id: 4402341478438
                        isDefault: true
                        lastModifiedDate: 1353658522367
                        lastModifiedId: 4402341478419
                        lastModifiedName: orgleader yang
                        mandatory: false
                        messageCode: E
                        organizationId: 8800387989534
                        pathDeliveryType: T
                        pathFlag: 0
                        pathId: 241901148045325
                        pathType: RECIP
                        prompt: Mobile Member App
                        seq: 1
                        status: A
                        sysPrompt: Mobile Member App
                        type: RECIP
                      pageSize: 1
                      start: 1
                      totalCount: 1
                      totalPageCount: 1
              schema:
                $ref: '#/components/schemas/contactPaths'
          description: Model
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: List Contact Paths
      tags:
      - Contacts
      x-amazon-apigateway-integration:
        httpMethod: GET
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/contactPaths/{organizationId}
    servers:
    - url: https://api.everbridge.net/rest
    - url: https://api.everbridge.eu/rest
  /contactPaths/{organizationId}/{contactPathId}:
    get:
      description: Retrieve the specified contactPath within an organization
      operationId: EBS Get Contact Path
      parameters:
      - description: The ID of the contactPath to return
        in: path
        name: contactPathId
        required: true
        schema:
          example: 589820879437825
          type: integer
      - description: The ID of the organization containing the contact paths
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      responses:
        '200':
          content:
            application/json:
              examples:
                Response Model:
                  summary: Response Model
                  value:
                    message: OK
                    result:
                      accountId: 453003085611434
                      awarePathId: 28661739
                      code: EMAIL1
                      confirmType: HTTP
                      createdDate: 1407526897464
                      createdId: 453003085611520
                      createdName: Jeff Bass
                      default: true
                      displayFlag: true
                      editable: true
                      expose: true
                      extRequired: false
                      formatFlag: E
                      id: 1323816294812872
                      isDefault: false
                      lastModifiedDate: 1501703705176
                      lastModifiedId: 453003085611520
                      lastModifiedName: Jeff Bass
                      mandatory: false
                      messageCode: E
                      organizationId: 453003085611516
                      pathDeliveryType: T
                      pathFlag: 0
                      pathId: 241901148045316
                      pathType: EMAIL
                      prompt: Work Email
                      resourceBundleId: 453003085611713
                      seq: 1
                      status: A
                      sysPrompt: E-Mail Address 1
                      type: EMAIL
              schema:
                $ref: '#/components/schemas/contactPath'
          description: Model
        '404':
          content:
            application/json:
              examples:
                Missing Contact Path:
                  summary: Missing Contact Path
                  value:
                    message: No contactPath 5898208794378251 found in organization 1536984111644674
                    status: 404
              schema:
                $ref: '#/components/schemas/error'
          description: Missing Contact Path
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: Get Contact Path
      tags:
      - Contacts
      x-amazon-apigateway-integration:
        httpMethod: GET
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.contactPathId: method.request.path.contactPathId
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/contactPaths/{organizationId}/{contactPathId}
    servers:
    - url: https://api.everbridge.net/rest
    - url: https://api.everbridge.eu/rest
  /contacts/groups/{organizationId}:
    get:
      description: Returns all the contacts with in a group.
      operationId: EBS List Group Contacts
      parameters:
      - description: The ID of the organization containing the contacts
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      - allowEmptyValue: false
        description: Whether to get by id or name of group
        in: query
        name: byType
        required: false
        schema:
          default: id
          enum:
          - id
          - name
          type: string
      - description: The ID of the group to get contacts
        in: query
        name: groupIds
        required: false
        schema:
          example: 0
          type: integer
      - description: The name of the group to get contacts
        in: query
        name: groupName
        required: false
        schema:
          example: ''
          type: string
      - description: The page size for contacts to return.
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          example: 100
          type: integer
      - description: The page number of contacts to return.
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          example: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              examples:
                Success:
                  summary: Response Model
                  value:
                    firstPageUri: https://api-dev3.everbridge.net/rest/contacts/groups/1536984111644674?byType=id&groupId=2314748464988162&pageSize=100&pageNumber=1
                    lastPageUri: https://api-dev3.everbridge.net/rest/contacts/groups/1536984111644674?byType=id&groupId=2314748464988162&pageSize=100&pageNumber=1
                    message: OK
                    page:
                      currentPageNo: 1
                      data:
                      - accountId: 0
                        createdDate: 1680096911839
                        createdId: 620263607632029
                        createdName: Elias Collins
                        externalId: elias.collins@everbridge.com
                        firstName: Elias
                        groups:
                        - 2314748464988162
                        id: 585869509526252
                        lastModifiedDate: 1717410532008
                        lastModifiedId: 2200330536222721
                        lastModifiedName: Nandish API Access
                        lastModifiedTime: 1680096911839
                        lastName: Collins
                        organizationId: 1536984111644674
                        paths:
                        - countryCode: US
                          pathEnable: true
                          pathId: 241901148045316
                          skipValidation: false
                          value: elias.collins@everbridge.com
                          waitTime: 0
                        recordTypeId: 1536984111644674
                        resourceBundleId: 0
                        seq: 1
                        status: A
                        timezoneId: America/New_York
                        uploadProcessing: false
                      pageSize: 100
                      start: 0
                      totalCount: 1
                      totalPageCount: 1
              schema:
                $ref: '#/components/schemas/getContacts'
          description: Model
      security:
      - API_Authorizer: []
      - BasicAuth: []
      - api_key: []
      summary: List Group Contacts
      tags:
      - Contacts
      x-amazon-apigateway-integration:
        httpMethod: GET
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/contacts/groups/{organizationId}
    servers:
    - url: https://api.everbridge.net/rest
    - url: https://api.everbridge.eu/rest
  /contacts/{organizationId}:
    get:
      description: Returns all the contacts for a given org.
      operationId: EBS List Contacts
      parameters:
      - description: The ID of the organization containing the contacts
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      - description: A comma-separated list of contactFilterIds to apply during this contact search. Contacts that match any contactFilter will be returned
        in: query
        name: contactFilterIds
        required: false
        schema:
          example: ''
          type: string
      - description: A comma-separated list of contactIds used while selecting contacts
        in: query
        name: contactIds
        required: false
        schema:
          items:
            properties:
              contactId:
                description: Contact ID
                example: 595799473913944
                type: integer
            required:
            - contactId
            type: integer
          type: array
      - description: Valid values are ASC or DESC. Specifying the sort direction for "sortBy"
        in: query
        name: direction
        required: false
        schema:
          enum:
          - ASC
          - DESC
          type: string
      - description: AA comma-separated list of shape polygons to exclude from the results of this query
        in: query
        name: excludeShapes
        required: false
        schema:
          example: ''
          type: integer
      - description: A comma-separated list of externalIds used when selecting contacts
        in: query
        name: externalIds
        required: false
        schema:
          example: ''
          type: string
      - description: A comma-separated list of groupIds to use when selecting contacts. Any contact that matches any groupId in the list is returned
        in: query
        name: groupIds
        required: false
        schema:
          example: 0
          type: integer
      - description: A comma-separated list of shape polygons to include in the results of this query
        in: query
        name: includeShapes
        required: false
        schema:
          example: ''
          type: string
      - description: The page of contact data to return. Page size is 100, and pageNumber is assumed to be 1 if not provided
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          example: 1
          type: integer
      - description: The page size for contacts to return.  Maximum is 3000
        in: query
        name: pageSize
        required: false
        schema:
          default: 1000
          example: 1000
          maximum: 3000
          minimum: 1
          type: integer
      - description: 'A comma-separated list. The value can be STATIC,DYNAMIC,EXPECTED, to specify search shape applies to what kind of contact address: static address, lastKnownLocation, and expectedLocation'
        in: query
        name: searchShapeTypes
        required: false
        schema:
          enum:
          - STATIC
          - DYNAMIC
          - EXPECTED
          - STATIC,DYNAMIC
          - STATIC,EXPECTED
          - DYNAMIC,EXPECTED
          - STATIC,DYNAMIC,EXPECTED
          example: ''
          type: string
      - description: Valid values are OR or AND. searchType determines how the above query parameters are combined to select contacts. The default is AND, meaning that a contact must match all of the provided criteria to be returned by this call. An OR query will match any of the provided criteria
        in: query
        name: searchType
        required: false
        schema:
          enum:
          - OR
          - AND
          type: integer
      - description: Valid values are lastModifiedDate, externalId or lastName. Specifying the sort field for contacts. Note, if the value is "lastModifiedDate" and there is no direction specified, the default sort direction is "DESC"
        in: query
        name: sortBy
        required: false
        schema:
          enum:
          - lastModifiedDate
          - externalId
          - lastName
          type: integer
      requestBody:
        content:
          application/json:
            examples:
              Contacts in a Group:
                summary: List Contacts
                value:
                  direction: DESC
                  groupIds: '906019056355163'
                  pageNumber: '1'
                  pageSize: '500'
                  sortBy: lastModifiedDate
      responses:
        '200':
          content:
            application/json:
              examples:
                Success:
                  summary: Response Model
                  value:
                    firstPageUri: https://api.everbridge.net/rest/contacts/453003085618421/?pageNumber=1
                    lastPageUri: https://api.everbridge.net/rest/contacts/453003085618421/?pageNumber=1
                    message: OK
                    page:
                      currentPageNo: 1
                      data:
                      - Groups *:
                        - 4402341478403
                        - 4402341478404
                        - 4402341478405
                        accountId: 0
                        address:
                        - arriveDate: '2023-02-15T12:38:52.914Z'
                          city: Burlington
                          country: US
                          expireDate: '2023-02-15T12:38:52.914Z'
                          gisLocation:
                            lat: 42.494813
                            lon: -71.189554
                          iata: 01803
                          locationId: 0
                          locationName: Burlington Office
                          locationSourceId: 0
                          postalCode: 01803
                          source: MANUAL
                          state: Massachusetts
                          streetAddress: 25 Corporate Drive
                          suite: Fourth Floor
                        businessName: string
                        contactAttributes:
                        - name: Incident Id
                          orgAttrId: 565153271644286
                          values:
                          - 16324267
                        - name: First Name
                          orgAttrId: 565153271644290
                          values:
                          - Ajay
                        country: US
                        createdDate: 1592496719297
                        createdId: 505642204790883
                        createdName: Ajay Goel
                        externalId: GSECPUSH
                        firstName: Ajay
                        geoSearchAddress:
                        - country: US
                          gisLocation:
                            lat: 38
                            lon: -77.9
                          locationName: Home
                          source: MANUAL
                          state: Arizona
                          streetAddress: a
                        groupsName:
                        - Admin
                        - Top group from API
                        id: 509370236403885
                        individualAccountId: 512514152480135
                        lastModifiedDate: 1676288952981
                        lastModifiedId: 505642204790883
                        lastModifiedName: Ajay Goel
                        lastModifiedTime: 1676288952952
                        lastName: SecurePush
                        middleInitial: R
                        organizationId: 453003085618421
                        paths:
                        - countryCode: US
                          pathEnable: true
                          pathId: 241901148045316
                          quietTimeFrames:
                          - days:
                            - 1
                            - 3
                            - 4
                            fromHour: 20
                            fromMin: 30
                            name: Sun
                            toHour: 9
                            toMin: 0
                          skipValidation: false
                          value: ajay.goel@everbridge.com
                          waitTime: 0
                        recordTypeId: 453003085618420
                        registedDate: 1595270008026
                        registedEmail: ajay.goel@everbridge.com
                        registeredDate: 1595270008026
                        registeredEmail: ajay.goel@everbridge.com
                        resourceBundleId: 0
                        status: A
                        suffix: Jr.
                        topics:
                        - 4402341478419
                        - 4402341478420
                        uploadProcessing: false
                      - accountId: 0
                        createdDate: 1592496832518
                        createdId: 505642204790883
                        createdName: Ajay Goel
                        externalId: everbridge.ngso@gmail.com
                        firstName: Ajay
                        id: 509370236403886
                        lastModifiedDate: 1592496832518
                        lastModifiedId: 505642204790883
                        lastModifiedName: Ajay Goel
                        lastModifiedTime: 1592496832518
                        lastName: GoelGmailNGSO
                        organizationId: 453003085618421
                        paths:
                        - pathEnable: true
                          pathId: 241901148045316
                          skipValidation: false
                          value: everbridge.ngso@gmail.com
                          waitTime: 0
                        recordTypeId: 453003085618420
                        resourceBundleId: 0
                        status: A
                        uploadProcessing: false
                      pageSize: 100
                      start: 0
                      totalCount: 8
                      totalPageCount: 1
              schema:
                $ref: '#/components/schemas/getContacts'
          description: Model
      security:
      - API_Authorizer: []
      - BasicAuth: []
      - api_key: []
      summary: List Contacts
      tags:
      - Contacts
      x-amazon-apigateway-integration:
        contentHandling: CONVERT_TO_TEXT
        credentials: arn:aws:iam::214792946631:role/apigateway_invoke_lambda
        httpMethod: POST
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: aws_proxy
        uri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:214792946631:function:apigw-large-file-handler-us-east-1-prod/invocations
    post:
      deprecated: false
      description: Create a new contact within an organization. The response object contains the entire contact record as it exists in the database.
      operationId: EBS Create Contact
      parameters:
      - description: The ID of the organization containing the contacts
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      requestBody:
        content:
          application/json:
            examples:
              Request with Contact Attributes & Address:
                summary: Contact with Contact Attributes & Address
                value:
                  address:
                  - city: Burlington
                    country: US
                    gisLocation:
                      lat: 42.494813
                      lon: -71.189554
                    locationId: 0
                    locationName: Burlington Office
                    locationSourceId: 0
                    postalCode: 01803
                    source: MANUAL
                    state: Massachusetts
                    streetAddress: 25 Corporate Drive
                    suite: Fourth Floor
                  contactAttributes:
                  - name: Department
                    values:
                    - IT
                    - Database
                  - name: Renewal Day
                    values:
                    - '3'
                  externalId: roy.harper
                  firstName: Roy
                  lastName: Harper
                  recordTypeId: 1536984111644674
              Request with Groups & Paths:
                summary: Contact with Groups & Paths
                value:
                  externalId: roy.harper
                  firstName: Roy
                  groups:
                  - 2451915224907929
                  - 2455763515605121
                  lastName: Harper
                  paths:
                  - countryCode: US
                    pathEnable: true
                    pathId: 241901148045316
                    skipValidation: false
                    value: ajay.goel@everbridge.com
                    waitTime: 0
                  recordTypeId: 1536984111644674
              Request with Quiet Time Frames:
                summary: Contact with Quiet Times
                value:
                  externalId: c-nandish.siddaiah
                  firstName: Roy
                  lastName: Harper
                  paths:
                  - countryCode: US
                    pathEnable: true
                    pathId: 241901148045316
                    quietTimeFrames:
                    - days:
                      - 1
                      - 3
                      - 4
                      fromHour: 20
                      fromMin: 30
                      name: Sun
                      toHour: 9
                      toMin: 0
                    - days:
                      - 7
                      fromHour: 21
                      fromMin: 0
                      name: Sat
                      toHour: 21
                      toMin: 0
                    skipValidation: false
                    value: roy.harper@everbridge.com
                    waitTime: 0
                  recordTypeId: 1536984111644674
                  timezoneId: America/Los_Angeles
              Request with minimum properties:
                summary: Contact with Required Properties
                value:
                  externalId: roy.harper
                  firstName: Roy
                  lastName: Harper
                  recordTypeId: 1536984111644674
              Request with most properties:
                summary: Contact with Most Properties
                value:
                  address:
                  - city: Burlington
                    country: US
                    gisLocation:
                      lat: 42.494813
                      lon: -71.189554
                    locationId: 0
                    locationName: Burlington Office
                    locationSourceId: 0
                    postalCode: 01803
                    source: MANUAL
                    state: Massachusetts
                    streetAddress: 25 Corporate Drive
                    suite: Fourth Floor
                  businessName: India
                  contactAttributes:
                  - name: Department
                    values:
                    - IT
                    - Database
                  - name: Renewal Day
                    values:
                    - '3'
                  country: US
                  expatriate: false
                  externalId: c-nandish.siddaiah
                  firstName: Roy
                  groups:
                  - 2451915224907929
                  - 2455763515605121
                  individualAccountId: 512514152480135
                  lastName: Harper
                  middleInitial: S
                  paths:
                  - countryCode: US
                    pathEnable: true
                    pathId: 241901148045316
                    quietTimeFrames:
                    - days:
                      - 1
                      - 3
                      - 4
                      fromHour: 20
                      fromMin: 30
                      name: Sun
                      toHour: 9
                      toMin: 0
                    skipValidation: false
                    value: ajay.goel@everbridge.com
                    waitTime: 0
                  preferredLanguage: en_US
                  recordTypeId: 1536984111644674
                  resourceBundleId: 0
                  status: A
                  suffix: Jr.
                  timezoneId: America/Los_Angeles
                  uploadProcessing: false
                  vip: false
            schema:
              $ref: '#/components/schemas/contactRequest'
      responses:
        '200':
          content:
            application/json:
              examples:
                Model Response:
                  summary: Model Response
                  value:
                    baseUri: https://api.everbridge.net/rest/contacts/453003085618421/
                    id: 3697266762197036
                    instanceUri: https://api.everbridge.net/rest/contacts/453003085618421/3697266762197036
                    message: OK
              schema:
                $ref: '#/components/schemas/postUpdateResponse'
          description: Model
      security:
      - API_Authorizer: []
      - BasicAuth: []
      - api_key: []
      summary: Create Contact
      tags:
      - Contacts
      x-amazon-apigateway-integration:
        httpMethod: POST
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/contacts/{organizationId}
    servers:
    - url: https://api.everbridge.net/rest
    - url: https://api.everbridge.eu/rest
  /contacts/{organizationId}/batch:
    delete:
      deprecated: false
      description: Delete the specified contacts from an organization
      operationId: EBS Delete Contacts Batch
      parameters:
      - description: The ID of the organization containing the contact
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      - allowEmptyValue: false
        description: Whether to search by contact.id or contact.externalId.
        in: query
        name: idType
        required: false
        schema:
          default: id
          enum:
          - externalId
          - id
          type: string
      requestBody:
        content:
          application/json:
            examples:
              DeleteContactsByExternalId:
                summary: Delete contacts by external Id
                value:
                - c-vishal.agrawal@everbridge.com
                - ajay.goel@everbridge.com
              DeleteContactsById:
                summary: Delete contacts by Id
                value:
                - '2451915224909292'
                - '2451915224909156'
            schema:
              $ref: '#/components/schemas/DeleteContactBatchRequest'
      responses:
        '200':
          content:
            application/json:
              examples:
                Response Model:
                  summary: Response Model
                  value:
                    code: 100
                    message: OK
              schema:
                $ref: '#/components/schemas/ContactBatchResponse'
          description: Model
        '401':
          content:
            application/json:
              examples:
                Invalid Input:
                  summary: Invalid Input
                  value:
                    message: contactIds invalid to the organization 1536984111644674
                    status: 401
              schema:
                $ref: '#/components/schemas/error'
          description: Invalid Input
      security:
      - API_Authorizer: []
      - BasicAuth: []
      - api_key: []
      summary: Delete Contacts (Batch)
      tags:
      - Contacts
      x-amazon-apigateway-integration:
        httpMethod: DELETE
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/contacts/{organizationId}/batch
    post:
      description: Create contacts within an organization.
      operationId: EBS Create Contacts Batch
      parameters:
      - description: The ID of the organization containing the contact
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      requestBody:
        content:
          application/json:
            examples:
              Request with Contact Attributes & Address:
                summary: Contact with Contact Attributes & Address
                value:
                - address:
                  - city: Burlington
                    country: US
                    gisLocation:
                      lat: 42.494813
                      lon: -71.189554
                    locationId: 0
                    locationName: Burlington Office
                    locationSourceId: 0
                    postalCode: 01803
                    source: MANUAL
                    state: Massachusetts
                    streetAddress: 25 Corporate Drive
                    suite: Fourth Floor
                  contactAttributes:
                  - name: Department
                    values:
                    - IT
                    - Database
                  - name: Renewal Day
                    values:
                    - '3'
                  externalId: roy.harper
                  firstName: Roy
                  lastName: Harper
                  recordTypeId: 1536984111644674
                - address:
                  - city: Burlington
                    country: US
                    gisLocation:
                      lat: 42.494813
                      lon: -71.189554
                    locationId: 0
                    locationName: Burlington Office
                    locationSourceId: 0
                    postalCode: 01803
                    source: MANUAL
                    state: Massachusetts
                    streetAddress: 25 Corporate Drive
                    suite: Fourth Floor
                  contactAttributes:
                  - name: Department
                    values:
                    - IT
                    - Database
                  - name: Renewal Day
                    values:
                    - '3'
                  externalId: c-vishal.agrawal@everbridge.com
                  firstName: Vishal
                  lastName: Agrawal
                  recordTypeId: 1536984111644674
              Request with Groups & Paths:
                summary: Contact with Groups & Paths
                value:
                - externalId: roy.harper
                  firstName: Roy
                  groups:
                  - 2451915224907929
                  - 2455763515605121
                  lastName: Harper
                  paths:
                  - countryCode: US
                    pathEnable: true
                    pathId: 241901148045316
                    skipValidation: false
                    value: ajay.goel@everbridge.com
                    waitTime: 0
                  recordTypeId: 1536984111644674
                - externalId: c-vishal.agrawal@everbridge.com
                  firstName: Vishal
                  groups:
                  - 2451915224907929
                  - 2455763515605121
                  lastName: Agrawal
                  paths:
                  - countryCode: US
                    pathEnable: true
                    pathId: 241901148045316
                    skipValidation: false
                    value: ajay.goel@everbridge.com
                    waitTime: 0
                  recordTypeId: 1536984111644674
              Request with Quiet Time Frames:
                summary: Contact with Quiet Times
                value:
                - externalId: c-nandish.siddaiah
                  firstName: Roy
                  lastName: Harper
                  paths:
                  - countryCode: US
                    pathEnable: true
                    pathId: 241901148045316
                    quietTimeFrames:
                    - days:
                      - 1
                      - 3
                      - 4
                      fromHour: 20
                      fromMin: 30
                      name: Sun
                      toHour: 9
                      toMin: 0
                    - days:
                      - 7
                      fromHour: 21
                      fromMin: 0
                      name: Sat
                      toHour: 21
                      toMin: 0
                    skipValidation: false
                    value: roy.harper@everbridge.com
                    waitTime: 0
[...]
