openapi: 3.2.0
info:
  description: EB Suite APIs.
  title: EB Suite Calendars API
  version: '1.0'
servers:
- url: https://api.everbridge.net/rest
- url: https://api.everbridge.eu/rest
tags:
- description: EB Suites - Calendars Management
  name: Calendars
paths:
  /calendars/{organizationId}:
    get:
      operationId: EBS Query Calendars
      parameters:
      - description: The ID of the organization containing the calendars.
        in: path
        name: organizationId
        required: true
        schema:
          format: int64
          type: integer
      - description: The page number of calendars to return.
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalendarWrapperCollectionResult'
          description: OK
        '400':
          description: Missing or invalid request input
        '401':
          description: Invalid or missing credentials
        '500':
          description: Internal Error
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: Query Calendars
      tags:
      - Calendars
      x-amazon-apigateway-integration:
        httpMethod: GET
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/calendars/{organizationId}
components:
  schemas:
    CalendarWrapper:
      properties:
        accountId:
          format: int64
          type: integer
        active:
          type: boolean
        createdDate:
          format: date-time
          type: string
        createdDateString:
          type: string
        createdId:
          format: int64
          type: integer
        createdName:
          type: string
        createdProxyName:
          type: string
        emailNotificationEnabled:
          type: boolean
        emailNotificationList:
          items:
            type: string
          type: array
        externalId:
          type: string
        id:
          format: int64
          type: integer
        lastModifiedDate:
          format: date-time
          type: string
        lastModifiedDateString:
          type: string
        lastModifiedId:
          format: int64
          type: integer
        lastModifiedName:
          type: string
        lastModifiedProxyName:
          type: string
        name:
          type: string
        organizationId:
          format: int64
          type: integer
        resourceBundleId:
          format: int64
          type: integer
        shiftIds:
          items:
            format: int64
            type: integer
          type: array
        status:
          enum:
          - A
          - D
          type: string
      type: object
    DataPageCalendarWrapper:
      properties:
        currentPageNo:
          format: int32
          type: integer
        data:
          items:
            $ref: '#/components/schemas/CalendarWrapper'
          type: array
        dataPageList:
          items:
            $ref: '#/components/schemas/DataPageCalendarWrapper'
          type: array
        pageSize:
          format: int32
          type: integer
        scrollId:
          type: string
        start:
          format: int32
          type: integer
        totalCount:
          format: int64
          type: integer
        totalPageCount:
          format: int32
          type: integer
      type: object
    CalendarWrapperCollectionResult:
      properties:
        currentPageUri:
          type: string
        firstPageUri:
          type: string
        lastPageUri:
          type: string
        message:
          type: string
        nextPageUri:
          type: string
        page:
          $ref: '#/components/schemas/DataPageCalendarWrapper'
        previousPageUri:
          type: string
      type: object
  securitySchemes:
    API_Authorizer:
      description: oAuth Token
      in: header
      name: Authorization
      type: apiKey
      x-amazon-apigateway-authorizer:
        authorizerCredentials: arn:aws:iam::214792946631:role/oas-rest-api-gw-prod-us-us-east-1-0-us-east-1-gw
        authorizerResultTtlInSeconds: 300
        authorizerUri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:214792946631:function:API_Authorizer_us-east-1_prod:live/invocations
        identitySource: method.request.header.Authorization,method.request.header.PathCacheKey,method.request.header.MethodCacheKey
        type: request
      x-amazon-apigateway-authtype: custom
    BasicAuth:
      description: Basic Authentication Token
      scheme: basic
      type: http
    api_key:
      description: API Key - For System Use
      in: header
      name: x-api-key
      type: apiKey
x-amazon-apigateway-binary-media-types:
- audio/wav
- audio/x-wav
- application/octet-stream
x-readme:
  explorer-enabled: true
  proxy-enabled: true
