openapi: 3.2.0
info:
  title: Digital Apps Internal Mobile Secure Chats API
  description: 'Digital Apps APIs bring Everbridge notification functionality to your company''s mobile, desktop or web applications. '
  version: v1
servers:
- url: https://api.everbridge.net/digitalapps/v2
tags:
- name: Internal Mobile Secure Chats
  description: Secure Chats operations
paths:
  /secure-chats/contacts:
    get:
      tags:
      - Internal Mobile Secure Chats
      summary: List Contacts
      description: Get all contacts for the user.
      operationId: ebs-daa-list-chats-contacts
      parameters:
      - name: since
        in: query
        description: Since
        required: false
        schema:
          type: integer
          format: int64
          default: 0
      - name: page
        in: query
        description: Page Number
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: limit
        in: query
        description: The number of records per page
        required: false
        schema:
          type: integer
          format: int32
          default: 50
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: get
        uri: https://mobilemember.everbridge.net/api/v2/secure-chats/contacts
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
  /secure-chats/contacts/{contact-id}:
    get:
      tags:
      - Internal Mobile Secure Chats
      summary: Get Contact
      description: Get Contact by id
      operationId: ebs-daa-get-chats-contact
      parameters:
      - name: contact-id
        in: path
        description: Contact id
        required: true
        schema:
          type: string
        example: 1539455328453094
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MobileContactDetail'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: get
        uri: https://mobilemember.everbridge.net/api/v2/secure-chats/contacts/{contact-id}
        requestParameters:
          integration.request.path.contact-id: method.request.path.contact-id
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
  /secure-chats/devices/{deviceId}:
    put:
      tags:
      - Internal Mobile Secure Chats
      summary: Register device
      description: Register a device in secure chat.
      operationId: ebs-daa-chats-register-device
      parameters:
      - name: deviceId
        in: path
        description: Device id
        required: true
        schema:
          type: string
        example: 5a815d3933bd0eec
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDeviceRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: put
        uri: https://mobilemember.everbridge.net/api/v2/secure-chats/devices/{deviceId}
        requestParameters:
          integration.request.path.deviceId: method.request.path.deviceId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
  /secure-chats/chats/me:
    post:
      tags:
      - Internal Mobile Secure Chats
      summary: Get Unread Message
      description: Get unread message from conversation
      operationId: ebs-daa-get-chats-unread-message
      parameters:
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SMUnreadMessageRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: post
        uri: https://mobilemember.everbridge.net/api/v2/secure-chats/chats/me
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
  /secure-chats/chats:
    get:
      tags:
      - Internal Mobile Secure Chats
      summary: List Chats
      description: Get chat list
      operationId: ebs-daa-list-chats
      parameters:
      - name: chatTypes
        in: query
        description: 'the value of ''chatTypes'' parameter must be one of the following values: [INCIDENT, DIRECTORY, VIDEO_CALL, AUDIO_CALL].'
        required: true
        schema:
          type: string
          enum:
          - INCIDENT
          - DIRECTORY
          - VIDEO_CALL
          - AUDIO_CALL
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: get
        uri: https://mobilemember.everbridge.net/api/v2/secure-chats/chats
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
  /secure-chats/chats/{contextString}:
    put:
      tags:
      - Internal Mobile Secure Chats
      summary: Join Chat
      description: Join chat.
      operationId: ebs-daa-join-chat
      parameters:
      - name: contextString
        in: path
        description: contextString
        required: true
        schema:
          type: string
        example: contextString
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatKeyRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: put
        uri: https://mobilemember.everbridge.net/api/v2/secure-chats/chats/{contextString}
        requestParameters:
          integration.request.path.contextString: method.request.path.contextString
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    patch:
      tags:
      - Internal Mobile Secure Chats
      summary: Update Chat name
      operationId: ebs-daa-update-chat-name
      parameters:
      - name: contextString
        in: path
        description: contextString
        required: true
        schema:
          type: string
        example: contextString
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetChatNameRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: patch
        uri: https://mobilemember.everbridge.net/api/v2/secure-chats/chats/{contextString}
        requestParameters:
          integration.request.path.contextString: method.request.path.contextString
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
  /secure-chats/chats/invitations:
    post:
      tags:
      - Internal Mobile Secure Chats
      summary: Invite Chat
      description: Invite to a chat
      operationId: ebs-daa-chats-invite-to-chat
      parameters:
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteToChatRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: post
        uri: https://mobilemember.everbridge.net/api/v2/secure-chats/chats/invitations
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
  /secure-chats/chats/invitations/voip:
    post:
      tags:
      - Internal Mobile Secure Chats
      summary: Invite Voip Chat
      description: Invite to voip chat
      operationId: ebs-daa-chats-invite-to-voip-chat
      parameters:
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteToVoipChatRequestBody'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: post
        uri: https://mobilemember.everbridge.net/api/v2/secure-chats/chats/invitations/voip
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
  /secure-chats/chats/invitations/{contextString}:
    patch:
      tags:
      - Internal Mobile Secure Chats
      summary: Update Invitation
      description: Update chat invitation
      operationId: ebs-daa-chats-update-invitation
      parameters:
      - name: contextString
        in: path
        description: contextString
        required: true
        schema:
          type: string
        example: contextString
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddContactsToChatRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: patch
        uri: https://mobilemember.everbridge.net/api/v2/secure-chats/chats/invitations/{contextString}
        requestParameters:
          integration.request.path.contextString: method.request.path.contextString
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
  /secure-chats/chats/{contextString}/leave:
    post:
      tags:
      - Internal Mobile Secure Chats
      summary: Leave Chat
      description: Leave from a chat
      operationId: ebs-daa-chats-leave-chat
      parameters:
      - name: contextString
        in: path
        description: contextString
        required: true
        schema:
          type: string
        example: contextString
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: post
        uri: https://mobilemember.everbridge.net/api/v2/secure-chats/chats/{contextString}/leave
        requestParameters:
          integration.request.path.contextString: method.request.path.contextString
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
  /secure-chats/chats/{contextString}/attachments:
    post:
      tags:
      - Internal Mobile Secure Chats
      summary: Create Attachment
      description: Create attachment and return attachment upload url
      operationId: ebs-daa-chats-create-attachment
      parameters:
      - name: contextString
        in: path
        description: contextString
        required: true
        schema:
          type: string
        example: contextString
      - name: attachmentId
        in: query
        description: Attachment id
        schema:
          type: string
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: post
        uri: https://mobilemember.everbridge.net/api/v2/secure-chats/chats/{contextString}/attachments
        requestParameters:
          integration.request.path.contextString: method.request.path.contextString
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    get:
      tags:
      - Internal Mobile Secure Chats
      summary: Get attachment
      description: Get attachment.
      operationId: ebs-daa-chats-get-attachment
      parameters:
      - name: contextString
        in: path
        description: contextString
        required: true
        schema:
          type: string
        example: contextString
      - name: attachmentId
        in: query
        description: Attachment id
        schema:
          type: string
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: get
        uri: https://mobilemember.everbridge.net/api/v2/secure-chats/chats/{contextString}/attachments
        requestParameters:
          integration.request.path.contextString: method.request.path.contextString
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
  /secure-chats/receipts/{messageId}:
    get:
      tags:
      - Internal Mobile Secure Chats
      summary: List Receipts
      description: List receipts
      operationId: ebs-daa-chats-list-receipts
      parameters:
      - name: messageId
        in: path
        description: messageId
        required: true
        schema:
          type: string
        example: messageId
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: get
        uri: https://mobilemember.everbridge.net/api/v2/secure-chats/receipts/{messageId}
        requestParameters:
          integration.request.path.messageId: method.request.path.messageId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
components:
  schemas:
    InviteToVoipChatRequestBody:
      type: object
      properties:
        contactIds:
          type: array
          description: Contact Ids
          items:
            type: string
        displayName:
          type: string
        chatType:
          type: string
        callerDisplayName:
          type: string
        region:
          type: string
    ChatKeyRequestBody:
      type: object
      properties:
        channelName:
          type: string
        deviceId:
          type: string
        publicKey:
          type: string
    AddContactsToChatRequest:
      type: object
      properties:
        contactIds:
          type: array
          description: Contact Ids
          items:
            type: string
    MobileContactAttribute:
      type: object
      properties:
        orgAttrId:
          type: integer
          format: int64
        name:
          type: string
        values:
          type: array
          items:
            type: object
        dataType:
          type: string
          enum:
          - STRING
          - NUMBER
          - DATE
          - BOOLEAN
          - POLYGON
        displayFormat:
          type: string
          enum:
          - L
          - F
          - S
    InviteToChatRequestBody:
      type: object
      properties:
        contactIds:
          type: array
          description: Contact Ids
          items:
            type: string
        displayName:
          type: string
        chatType:
          type: string
    GisLocation:
      type: object
      properties:
        lon:
          type: number
          format: double
        lat:
          type: number
          format: double
        'null':
          type: boolean
    RegisterDeviceRequestBody:
      type: object
      properties:
        deviceId:
          type: string
        description:
          type: string
        publicKey:
          type: string
    SetChatNameRequestBody:
      type: object
      properties:
        channelName:
          type: string
    MobileContactPath:
      type: object
      properties:
        pathId:
          type: integer
          format: int64
        countryCode:
          type: string
        code:
          type: string
        value:
          type: string
        type:
          type: string
          enum:
          - EMAIL
          - TA
          - CALLIN
          - FAX
          - TTYTTD
          - ALPHA
          - IM
          - SMS
          - TELEX
          - TTYTDD
          - IPHONE
          - PHONE
          - COMPACT
          - PAGER
          - RECIP
          - SECUREPUSH
          - ONEBRIDGE
          - NUMERICPAGER
          - TAPPAGER
          - EXTPHONE
          - PLAINTEXTEMAIL
          - MSTEAMS
        prompt:
          type: string
    MobileContactDetail:
      type: object
      properties:
        id:
          type: integer
          format: int64
        firstName:
          type: string
        lastName:
          type: string
        smUserId:
          type: string
        contactAttributes:
          type: array
          items:
            $ref: '#/components/schemas/MobileContactAttribute'
        paths:
          type: array
          items:
            $ref: '#/components/schemas/MobileContactPath'
        address:
          type: array
          items:
            $ref: '#/components/schemas/MobileContactAddress'
        smUser:
          type: boolean
    MobileContactAddress:
      type: object
      properties:
        streetAddress:
          type: string
        postalCode:
          type: string
        source:
          type: string
          enum:
          - MANUAL
          - AUTO
        state:
          type: string
        locationName:
          type: string
        suite:
          type: string
        gisLocation:
          $ref: '#/components/schemas/GisLocation'
        country:
          type: string
        city:
          type: string
    SMUnreadMessageRequest:
      type: object
      properties:
        chatContextStrings:
          type: array
          items:
            type: string
  securitySchemes:
    API_Authorizer:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: custom
      x-amazon-apigateway-authorizer:
        authorizerUri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:214792946631:function:API_Authorizer_us-east-1_prod:live/invocations
        authorizerCredentials: arn:aws:iam::214792946631:role/ebs-mobile-member-api-prod-us-us-east-1-0-us-east-1-gw
        authorizerResultTtlInSeconds: 300
        identitySource: method.request.header.Authorization,method.request.header.PathCacheKey,method.request.header.MethodCacheKey
        type: request
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
