openapi: 3.2.0
info:
  title: Everbridge Scheduling API
  version: '1.0'
  description: 'Operations tagged Scheduling across 2 of this provider''s published API definitions: everbridge-digital-apps-openapi.json, everbridge-eb-suite-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.everbridge.net/digitalapps/v2
- url: https://api.everbridge.net/rest
- url: https://api.everbridge.eu/rest
tags:
- name: Scheduling
  description: Scheduling operations
paths:
  /scheduling/staff-substitutions:
    post:
      tags:
      - Scheduling
      summary: Create Staff Substitutions
      description: Create staff substitutions.
      operationId: ebs-daa-create-staff-substitutions
      parameters:
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StaffSubstitutionV2BulkRequest'
        required: true
      responses:
        '200':
          description: List of added staff substitutions
          content:
            application/json: {}
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: post
        uri: https://mobilemember.everbridge.net/api/v2/scheduling/staff-substitutions
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    get:
      tags:
      - Scheduling
      summary: Get Staff Substitutions
      description: Get all staff substitutions
      operationId: ebs-daa-get-staff-substitutions
      parameters:
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      responses:
        '200':
          description: List of all staff substitutions
          content:
            application/json:
              schema:
                type: string
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: get
        uri: https://mobilemember.everbridge.net/api/v2/scheduling/staff-substitutions
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    put:
      tags:
      - Scheduling
      summary: Update Staff Substitutions
      description: Update staff substitutions.
      operationId: ebs-daa-update-staff-substitutions
      parameters:
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StaffSubstitutionV2BulkUpdateRequest'
        required: true
      responses:
        '200':
          description: List of updated staff substitutions
          content:
            application/json: {}
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: put
        uri: https://mobilemember.everbridge.net/api/v2/scheduling/staff-substitutions
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    delete:
      tags:
      - Scheduling
      summary: Delete Staff Substitutions
      description: Delete staff substitutions.
      operationId: ebs-daa-delete-staff-substitutions
      parameters:
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      responses:
        '200':
          description: List of deleted staff substitutions
          content:
            application/json: {}
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: delete
        uri: https://mobilemember.everbridge.net/api/v2/scheduling/staff-substitutions
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    servers:
    - url: https://api.everbridge.net/digitalapps/v2
  /scheduling/events:
    get:
      tags:
      - Scheduling
      summary: List Events
      description: List scheduling events.
      operationId: ebs-daa-list-scheduling-events
      parameters:
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: get
        uri: https://mobilemember.everbridge.net/api/v2/scheduling/events
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    servers:
    - url: https://api.everbridge.net/digitalapps/v2
  /scheduling/calendars:
    get:
      tags:
      - Scheduling
      summary: Get Calendars
      description: Get scheduling calendars.
      operationId: ebs-daa-get-scheduling-calendars
      parameters:
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      responses:
        '200':
          description: Get List of Calendars
          content:
            application/json: {}
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: get
        uri: https://mobilemember.everbridge.net/api/v2/scheduling/calendars
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
    servers:
    - url: https://api.everbridge.net/digitalapps/v2
  /scheduling/{organizationId}/audits:
    get:
      description: Scheduling Audit is a read-only resource, meaning audits cannot be modified or deleted. Hence, there is only one API to get the audits. However, the result can be filtered in various ways as per the need.
      operationId: EBS List Scheduling Audits
      parameters:
      - description: The id of the Organization that owns this resource
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      - description: Fields to be included in the response.
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: <p>filter may be used to specify filter criteria for the request.</p><p>filters are specified in the format of filter[fieldName], where fieldName is any field supported by this resource.</p><p>multiple filter criteria will result in AND conditions, with the exception of multiple filters on the same field, in which case the criteria will be treated as an OR condition</p><p> Ex. filter[calendarId]=1234567890, filter[action]=CREATE, filter[auditResource.type]=calendar, etc.</p>
        explode: true
        in: query
        name: filter
        required: false
        schema:
          allOf:
          - properties:
              calendarId:
                description: Unique ID of the calendar
                type: integer
            required:
            - calendarId
            title: Filter by calendar ID
            type: object
          - properties:
              shiftScheduleId:
                description: Unique ID of the shift schedule
                type: integer
            required:
            - shiftScheduleId
            title: Filter by shiftSchedule ID
            type: object
          - properties:
              staffScheduleId:
                description: Unique ID of the shift schedule
                type: integer
            required:
            - staffScheduleId
            title: Filter by staffSchedule ID
            type: object
        style: deepObject
      - description: One or more calendarIds that this request should filter by.
        in: query
        name: calendarId
        required: false
        schema:
          items:
            type: integer
          type: array
      - description: One or more shiftScheduleIds that this request should filter by.
        in: query
        name: shiftScheduleId
        required: false
        schema:
          items:
            type: integer
          type: array
      - description: One or more staffScheduleIds that this request should filter by.
        in: query
        name: staffScheduleId
        required: false
        schema:
          items:
            type: integer
          type: array
      - description: One or more staffSubstitutionIds (unavailability/replacement) that this request should filter by.
        in: query
        name: staffSubstitutionId
        required: false
        schema:
          items:
            type: integer
          type: array
      - description: One or more shiftScheduleSubstitutionIds (override) that this request should filter by.
        in: query
        name: shiftScheduleSubstitutionId
        required: false
        schema:
          items:
            type: integer
          type: array
      - description: Audit CRUD action type that this request should filter by.
        in: query
        name: action
        required: false
        schema:
          enum:
          - CREATE
          - UPDATE
          - DELETE
          type: string
      - description: <p>Comma delimited list of fields to sort by.</p><p> +/- can precede the field name to indicate direction (ascending/descending).</p><p> + is the default direction.</p><p> Ex. sort=action,-createdDate sorts by the action ascending and createdDate descending.</p><p> Audit records are by default sorted by the createdDate descending.</p>
        in: query
        name: sort
        required: false
        schema:
          type: string
      - description: The number of records per page to be included in the response
        in: query
        name: pageSize
        required: false
        schema:
          format: int32
          type: integer
      - description: The page to be returned.
        in: query
        name: pageNo
        required: false
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              examples:
                Successful Operation:
                  summary: Successful Operation
                  value:
                    currentPageNo: 1
                    data:
                    - accountId: 1536846672691202
                      action: UPDATE
                      auditResource:
                        id: '2343267047833601'
                        minStaff: 0
                        name: Pre Test 4
                        onCallReminder:
                          enabled: false
                        recurrence:
                          datesApplicable:
                            from: '2024-10-15'
                            to: '2024-10-20'
                          everyNRecurrence: 2
                          type: periodic
                        sequencingOverrideAllowed: true
                        staffAssignments:
                        - days:
                          - 1
                          - 2
                          - 3
                          - 4
                          type: mixed
                        staffEachDay: false
                        type: staffSchedule
                      calendarId: 2343267047833601
                      createdDate: '2024-10-15T15:38:18Z'
                      createdId: 2200330536222721
                      createdName: Nandish API Access
                      details:
                        assignments:
                          after:
                          - days:
                            - 1
                            - 2
                            - 3
                            - 4
                          before:
                          - days:
                            - 1
                            - 2
                            - 3
                            - 4
                            - 5
                            - 6
                            - 7
                            ids:
                            - id: 2480365088276853
                              type: contact
                      id: 2560042637197315
                      includes:
                      - id: 2343267047833601
                        name: PRE Test111
                        numDays: 7
                        sequenced: false
                        timeZoneString: Pacific/Niue
                        type: shiftSchedule
                        weekStartsWith: SUNDAY
                      - id: 2343267047833601
                        name: PRE Test111
                        onCallReminder:
                          enabled: false
                        type: calendar
                      - firstName: nandy
                        id: 2480365088276853
                        lastName: nandy
                        type: contact
                      organizationId: 1536984111644674
                      shiftScheduleId: 2343267047833601
                      staffScheduleId: 2343267047833601
                      type: audit
                    - accountId: 1536846672691202
                      action: UPDATE
                      auditResource:
                        id: '2343267047833601'
                        minStaff: 0
                        name: Pre Test 4
                        onCallReminder:
                          enabled: false
                        recurrence:
                          datesApplicable:
                            from: '2024-10-15'
                            to: '2024-10-20'
                          everyNRecurrence: 2
                          type: periodic
                        sequencingOverrideAllowed: true
                        staffAssignments:
                        - days:
                          - 1
                          - 2
                          - 3
                          - 4
                          - 5
                          - 6
                          - 7
                          ids:
                          - id: 2480365088276853
                            type: contact
                          type: mixed
                        staffEachDay: false
                        type: staffSchedule
                      calendarId: 2343267047833601
                      createdDate: '2024-10-15T15:38:02Z'
                      createdId: 2200330536222721
                      createdName: Nandish API Access
                      details:
                        recurrence:
                          after:
                            everyNRecurrence: 2
                            type: periodic
                          before:
                            everyNRecurrence: 1
                            type: periodic
                      id: 2560042637197314
                      includes:
                      - id: 2343267047833601
                        name: PRE Test111
                        numDays: 7
                        sequenced: false
                        timeZoneString: Pacific/Niue
                        type: shiftSchedule
                        weekStartsWith: SUNDAY
                      - id: 2343267047833601
                        name: PRE Test111
                        onCallReminder:
                          enabled: false
                        type: calendar
                      - firstName: nandy
                        id: 2480365088276853
                        lastName: nandy
                        type: contact
                      organizationId: 1536984111644674
                      shiftScheduleId: 2343267047833601
                      staffScheduleId: 2343267047833601
                      type: audit
                    pageSize: 20
                    totalCount: 238
                    totalPageCount: 12
              schema:
                $ref: '#/components/schemas/schedulingAudits'
          description: Successful Operation
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: List Scheduling Audits
      tags:
      - Scheduling
      x-amazon-apigateway-integration:
        httpMethod: GET
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/scheduling/{organizationId}/audits
    servers:
    - url: https://api.everbridge.net/rest
    - url: https://api.everbridge.eu/rest
  /scheduling/{organizationId}/calendarEvents:
    get:
      description: List of events and their corresponding assignments
      operationId: EBS List Calendar Events
      parameters:
      - description: The id of the Organization that owns this resource
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      - description: <p>fields to be included in the response.</p><p>fields[resourceName] may be used to specify fields returned for included documents. When doing so, it is not necessary to also request to include the resource as the include is implied by the fields request</p>
        in: query
        name: fields
        required: false
        schema:
          type: string
      - description: <p>Specifying the includes parameter will result in a compound document response, adding resources to included which have been referenced by resources returned in data.<p><p>include may be specified as a comma delimited list of resource names.</p>
        in: query
        name: include
        required: false
        schema:
          enum:
          - calendar
          - shiftSchedule
          - staffSchedule
          - shiftSubstitution
          - staffSubstitution
          - contact
          - group
          type: string
      - description: Start date/time to fetch events from.
        in: query
        name: start
        required: false
        schema:
          type: string
      - description: End date/time of the interval to fetch events from.
        in: query
        name: end
        required: false
        schema:
          type: string
      - description: Instant to fetch events for.
        in: query
        name: instant
        required: false
        schema:
          type: string
      - description: Number of days to fetch events for.
        in: query
        name: days
        required: false
        schema:
          type: integer
      - description: IDs for calendars that this request should filter by.
        in: query
        name: calendarId
        required: false
        schema:
          type: string
      - description: IDs for shifts that this request should filter by.
        in: query
        name: shiftScheduleId
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Successful Operation:
                  summary: Successful Operation
                  value:
                    data:
                    - assignments: []
                      calendarId: 2343267047833601
                      end: '2024-10-16T00:00:00-11:00'
                      id: 08533060000001-670e4b30-670f9cb0
                      organizationId: 1536984111644674
                      shiftScheduleId: 2343267047833601
                      start: '2024-10-15T00:00:00-11:00'
                      type: calendarEvent
                    - assignments: []
                      calendarId: 2481052283043883
                      end: '2024-10-17T00:00:00+05:30'
                      id: 08e1b060000001-670eb4a8-67100628
                      organizationId: 1536984111644674
                      shiftScheduleId: 2499947454791681
                      start: '2024-10-16T00:00:00+05:30'
                      type: calendarEvent
                    - assignments: []
                      calendarId: 2481052283043883
                      end: '2024-10-16T09:00:00-04:00'
                      id: 08d08100000032-670ed7d0-670fb8d0
                      organizationId: 1536984111644674
                      shiftScheduleId: 2481052283043890
                      start: '2024-10-15T17:00:00-04:00'
                      type: calendarEvent
                    - assignments:
                      - contactId: 2480365088276853
                        staffLayerId: 2514825221505027
                      - contactId: 2480365088276853
                        staffLayerId: 2514825221505029
                      - contactId: 2480365088276853
                        staffLayerId: 2514825221505030
                      - contactId: 2480365088276853
                        staffLayerId: 2514825221505031
                      - contactId: 2480365088276853
                        staffLayerId: 2514825221505032
                      - contactId: 2480365088276853
                        staffLayerId: 2514859581243393
                      - contactId: 2480365088276853
                        staffLayerId: 2514859581243394
                      - contactId: 2480365088276853
                        staffLayerId: 2514859581243395
                      calendarId: 2481052283043883
                      end: '2024-10-17T00:00:00-04:00'
                      id: 08de2060000003-670f3a40-67108bc0
                      organizationId: 1536984111644674
                      shiftScheduleId: 2496030444617731
                      start: '2024-10-16T00:00:00-04:00'
                      type: calendarEvent
                    - assignments: []
                      calendarId: 2481052283043883
                      end: '2024-10-17T00:00:00-04:00'
                      id: 08de2060000005-670f3a40-67108bc0
                      organizationId: 1536984111644674
                      shiftScheduleId: 2496030444617733
                      start: '2024-10-16T00:00:00-04:00'
                      type: calendarEvent
              schema:
                $ref: '#/components/schemas/FlatCalendarEvent'
          description: Successful Operation
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: List Calendar Events
      tags:
      - Scheduling
      x-amazon-apigateway-integration:
        httpMethod: GET
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/scheduling/{organizationId}/calendarEvents
    servers:
    - url: https://api.everbridge.net/rest
    - url: https://api.everbridge.eu/rest
  /scheduling/{organizationId}/calendars:
    get:
      deprecated: false
      description: Return a list of all calendars for an organization
      operationId: EBS List Calendars
      parameters:
      - description: The ID of the organization that owns this resource
        example: 1536984111644674
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      - description: An array containing country codes for the countries/regions to which this calendar is related. No validation is done. Invalid codes will be ignored
        example: AU
        in: query
        name: holidayCalendarCodes
        required: false
        schema:
          items:
            type: string
          type: array
      - description: Page number to be displayed. Maximum page number with page size 20 is 1
        example: 1
        in: query
        name: pageNumber
        required: false
        schema:
          type: integer
      - description: Number od records displayed per page. The maximum page size is 100
        example: 20
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              examples:
                Response Model:
                  summary: Response Model
                  value:
                    currentPageNo: 1
                    data:
                    - accountId: 1536846672691202
                      active: true
                      createdDate: '2023-02-22T17:42:46Z'
                      createdId: 585800790048776
                      createdName: Ajay Goel
                      emailNotificationEnabled: false
                      externalId: 8d0810000002b
                      id: 2481052283043883
                      lastModifiedDate: '2023-02-22T17:44:10Z'
                      lastModifiedId: 585800790048776
                      lastModifiedName: Ajay Goel
                      name: Calendar for Engineering Team
                      notifyScheduled: false
                      onCallReminder:
                        enabled: false
                      organizationId: 1536984111644674
                      resourceBundleId: 1536984111644675
                      status: A
                      type: calendar
                      visibility: contact
                    pageSize: 20
                    totalCount: 1
                    totalPageCount: 1
              schema:
                $ref: '#/components/schemas/listCalendars'
          description: Model
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: List Calendars
      tags:
      - Scheduling
      x-amazon-apigateway-integration:
        httpMethod: GET
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/scheduling/{organizationId}/calendars
    post:
      deprecated: false
      description: Create Calendar in an Organization
      operationId: EBS Create Calendar
      parameters:
      - description: The id of the Organization that owns this resource
        example: 1536984111644674
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      requestBody:
        content:
          application/json:
            examples:
              Calendar with Custom External Id:
                summary: Calendar with Custom External Id
                value:
                  data:
                    externalId: alph4Num3ricOrStringCharacters0nly
                    name: Calendar for Eng
              Calendar with Email Notification:
                summary: Calendar with Email Notification
                value:
                  data:
                    emailNotificationEnabled: true
                    emailNotificationList:
                    - example@gmail.com
                    externalId: alph4Num3ricOrStringCharacters0nly
                    name: Calendar for Eng
              Calendar with Notification Scheduled:
                summary: Calendar with Notification Scheduled
                value:
                  data:
                    emailNotificationEnabled: true
                    emailNotificationList:
                    - example@gmail.com
                    externalId: alph4Num3ricOrStringCharacters0nly
                    name: Calendar for Eng
                    notifyScheduled: true
              Minimal Calendar:
                summary: Minimal Calendar
                value:
                  data:
                    name: Calendar for Eng
            schema:
              $ref: '#/components/schemas/calendarObj'
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                Success:
                  summary: Created Calendar
                  value:
                    data:
                      accountId: 1536846672691202
                      active: false
                      createdDate: '2024-06-04T06:27:37Z'
                      createdId: 2200330536222721
                      createdName: Nandish API Access
                      emailNotificationEnabled: false
                      externalId: '8529060000001'
                      id: 2342579853066241
                      lastModifiedDate: '2024-06-04T06:27:37Z'
                      lastModifiedId: 2200330536222721
                      lastModifiedName: Nandish API Access
                      name: PRE Calendar Postman 1717482455
                      notifyScheduled: false
                      onCallReminder:
                        enabled: false
                      organizationId: 1536984111644674
                      resourceBundleId: 1536984111644675
                      status: A
                      type: calendar
                      visibility: contact
              schema:
                $ref: '#/components/schemas/calendar'
          description: OK
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: Create Calendar
      tags:
      - Scheduling
      x-amazon-apigateway-integration:
        httpMethod: POST
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/scheduling/{organizationId}/calendars
    servers:
    - url: https://api.everbridge.net/rest
    - url: https://api.everbridge.eu/rest
  /scheduling/{organizationId}/calendars/{ids}:
    delete:
      deprecated: false
      description: Delete Calendars within an Organization
      operationId: EBS Delete Calendars
      parameters:
      - description: The id of the Organization that owns this resource
        example: 1536984111644674
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      - description: The id or ids (comma delimmited) of the resources to delete
        in: path
        name: ids
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                Success:
                  summary: Delete Calendar
                  value:
                    data:
                      accountId: 1536846672691202
                      active: false
                      createdDate: '2024-06-04T09:02:52Z'
                      createdId: 2200330536222721
                      createdName: Nandish API Access
                      emailNotificationEnabled: false
                      externalId: '8531860000001'
                      id: 2343163968618497
                      lastModifiedDate: '2024-06-04T09:03:43Z'
                      lastModifiedId: 2200330536222721
                      lastModifiedName: Nandish API Access
                      name: PRE Calendar Postman 1717491771
                      notifyScheduled: false
                      onCallReminder:
                        enabled: false
                      organizationId: 1536984111644674
                      resourceBundleId: 1536984111644675
                      status: D
                      type: calendar
                      visibility: contact
              schema:
                $ref: '#/components/schemas/calendar'
          description: OK
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: Delete Calendars
      tags:
      - Scheduling
      x-amazon-apigateway-integration:
        httpMethod: DELETE
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.ids: method.request.path.ids
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/scheduling/{organizationId}/calendars/{ids}
    get:
      deprecated: false
      description: Get Calendar or Calendars within an Organization
      operationId: EBS Get Calendars
      parameters:
      - description: The id of the Organization that owns this resource
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      - description: The id or ids (comma delimited) of the resources to find
        in: path
        name: ids
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              example:
                Success:
                  summary: Get Calendar
                  value:
                    data:
                      accountId: 1536846672691202
                      active: false
                      createdDate: '2024-06-04T09:02:52Z'
                      createdId: 2200330536222721
                      createdName: Nandish API Access
                      emailNotificationEnabled: false
                      externalId: '8531860000001'
                      id: 2343163968618497
                      lastModifiedDate: '2024-06-04T09:03:43Z'
                      lastModifiedId: 2200330536222721
                      lastModifiedName: Nandish API Access
                      name: PRE Calendar Postman 1717491771
                      notifyScheduled: false
                      onCallReminder:
                        enabled: false
                      organizationId: 1536984111644674
                      resourceBundleId: 1536984111644675
                      status: D
                      type: calendar
                      visibility: contact
              schema:
                $ref: '#/components/schemas/calendar'
          description: OK
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: Get Calendars
      tags:
      - Scheduling
      x-amazon-apigateway-integration:
        httpMethod: GET
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.ids: method.request.path.ids
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/scheduling/{organizationId}/calendars/{ids}
    put:
      deprecated: false
      description: Update Calendar or Calendars within an Organization
      operationId: EBS Update calendars
      parameters:
      - description: The id of the Organization that owns this resource
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      - description: The id or ids (comma delimited) of the resources to delete
        in: path
        name: ids
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            examples:
              Change Calendar Name:
                summary: Change Calendar Name
                value:
                  data:
                    name: Updated Calendar for Eng
              Make Calendar Active:
                summary: Make Calendar Active
                value:
                  data:
                    active: true
              Make Calendar Inactive:
                summary: Make Calendar Inactive
                value:
                  data:
                    active: false
              Publish Calendar:
                summary: Publish Calendar
                value:
                  data:
                    visibility: org
              Unpublish Calendar:
                summary: Unpublish Calendar
                value:
                  data:
                    visibility: contact
              Update Calendar Email Notif List:
                summary: Update Calendar Email Notif List
                value:
                  data:
                    emailNotificationList:
                    - example1@gmail.com
                    - example2@gmail.com
            schema:
              $ref: '#/components/schemas/calendarObj'
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                Success:
                  summary: Update Calendar
                  value:
                    data:
                      accountId: 1536846672691202
                      active: false
                      createdDate: '2024-06-04T09:02:52Z'
                      createdId: 2200330536222721
                      createdName: Nandish API Access
                      emailNotificationEnabled: false
                      externalId: '8531860000001'
                      id: 2343163968618497
                      lastModifiedDate: '2024-06-04T09:03:43Z'
                      lastModifiedId: 2200330536222721
                      lastModifiedName: Nandish API Access
                      name: PRE Calendar Postman 1717491771
                      notifyScheduled: false
                      onCallReminder:
                        enabled: false
                      organizationId: 1536984111644674
                      resourceBundleId: 1536984111644675
                      status: D
                      type: calendar
                      visibility: contact
              schema:
                $ref: '#/components/schemas/calendar'
          description: OK
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: Update calendars
      tags:
      - Scheduling
      x-amazon-apigateway-integration:
        httpMethod: PUT
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.ids: method.request.path.ids
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/scheduling/{organizationId}/calendars/{ids}
    servers:
    - url: https://api.everbridge.net/rest
    - url: https://api.everbridge.eu/rest
  /scheduling/{organizationId}/oncallreminder/staff:
    get:
      description: Get the on-call staff for Scheduling reminder
      operationId: EBS Scheduling Oncall Reminder Staff
      parameters:
      - description: The id of the Organization that owns this resource
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      - description: The ID of the calendar associated with the onCall reminder
        in: query
        name: calendarId
        required: false
        schema:
          type: integer
      - description: The ID of the shiftSchedule associated with the onCall reminder
        in: query
        name: shiftScheduleId
        required: false
        schema:
          type: integer
      - description: The ID of the staffSchedule associated with the onCall reminder
        in: query
        name: staffScheduleId
        required: false
        schema:
          type: integer
      - description: The start datetime of the onCall reminder
        in: query
        name: eventStart
        required: false
        schema:
          type: string
      - description: The end datetime of the onCall reminder
        in: query
        name: eventEnd
        required: false
        schema:
          type: string
      - description: The time interval associated with the onCall reminder
        in: query
        name: reminderTimeIntervalValue
        required: false
        schema:
          type: integer
      - description: The time unit associated with the onCall reminder
        in: query
        name: reminderTimeIntervalUnit
        required: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            examples: {}
            schema: {}
        required: true
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema: {}
          description: Successful Operation
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: Scheduling Oncall Reminder Staff
      tags:
      - Scheduling
      x-amazon-apigateway-integration:
        httpMethod: GET
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/scheduling/{organizationId}/oncallreminder/staff
    servers:
    - url: https://api.everbridge.net/rest
    - url: https://api.everbridge.eu/rest
  /scheduling/{organizationId}/oncallstaff:
    post:
      description: Get the on-call staff for non-flexible or flexible Scheduling
      operationId: EBS Scheduling Oncall Staff
      parameters:
      - description: The id of the Organization that owns this resource
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      requestBody:
        content:
          application/json:
            examples: {}
            schema: {}
        required: true
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema: {}
          description: Successful Operation
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: Scheduling Oncall Staff
      tags:
      - Scheduling
      x-amazon-apigateway-integration:
        httpMethod: POST
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/scheduling/{organizationId}/oncallstaff
    servers:
    - url: https://api.everbridge.net/rest
    - url: https://api.everbridge.eu/rest
  /scheduling/{organizationId}/shiftSchedules:
    get:
      deprecated: false
      description: Return a list of shiftSchedules within an organization
      operationId: EBS List Shift Schedules
      parameters:
      - description: The ID of the organization containing the shift schedules
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      - allowEmptyValue: false
        description: <p>Fields (Any ShiftSchedule field) to be included in the response.</p><p>Fields[resourceName] may be used to specify fields returned for included documents. When doing so, it is not necessary to also request to include the resource as the include is implied by the fields request</p>
        in: query
        name: fields
        required: false
        schema:
          example:
          - name
          - colorIndicator
          - name,numDays,colorIndicator
          type: string
      - allowEmptyValue: false
        description: <p>Filter (Any non transient ShiftSchedule field) may be used to specify filter criteria for the request.</p><p>filters are specified in the format of filter[fieldName], where fieldName is any field supported by this resource.</p><p>multiple filter criteria will result in AND conditions, with the exception of multiple filters on the same field, in which case the criteria will be treated as an OR condition</p>
        in: query
        name: filter
        required: false
        schema:
          example:
          - name
          - numDays,colorIndicator
          type: string
      - allowEmptyValue: false
        description: <p>Specifying the includes parameter will result in a compound document response, adding resources to included which have been referenced by resources returned in data.<p><p>include may be specified as a comma delimited list of resource names.</p>
        in: query
        name: include
        required: false
        schema:
          enum:
          - calendar
          - group
          - staffSchedule
          - shiftSubstitution
          - calendar,group
          - staffSchedule,shiftSubstitution
          - group,staffSchedule
          - calendar,staffSchedule
          - calendar,group,staffSchedule
          - calendar,staffSchedule,shiftSubstitution
          - group,staffSchedule,shiftSubstitution
          type: string
      - allowEmptyValue: false
        description: The page to be returned.
        in: query
        name: pageNo
        required: false
        schema:
          default: 1
          type: integer
      - allowEmptyValue: false
        description: The number of records per page to be included in the response
        in: query
        name: pageSize
        required: false
        schema:
          default: 10
          type: integer
      - allowEmptyValue: false
        description: <p>Comma delimited list of fields (Any non transient ShiftSchedule field) to sort by.</p><p> +/- can precede the field name to indicate direction (ascending/descending).</p><p> + is the default direction</p><p> Ex. sort=status,-createdDate sorts by status ascending and createdDate descending</p>
        in: query
        name: sort
        required: false
        schema:
          example:
          - status
          - status,-createdDate
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Response Model:
                  summary: Response Model
                  value:
                    currentPageNo: 1
                    data:
                    - accountId: 1536846672691202
                      calendarId: 2481052283043883
                      colorIndicator: '#9EBAD3'
                      createdDate: '2023-02-22T17:43:39Z'
                      createdId: 585800790048776
                      createdName: Ajay Goel
                      datesApplicable:
                        from: '2023-02-22'
                      groupId: null
                      id: 2481052283043889
                      lastModifiedDate: '2023-02-22T17:43:39Z'
                      lastModifiedId: 585800790048776
                      lastModifiedName: Ajay Goel
                      name: Day Shift
                      numDays: 7
                      organizationId: 1536984111644674
                      override: false
                      resourceBundleId: 1536984111644675
                      schedule:
                      - days:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        shift:
                          end: '17:00'
                          start: 09:00
                        type: day
                      sequenced: false
                      shiftTimeZoneString: America/New_York
                      staffTypeRequired: []
                      status: A
                      timeZoneString: America/New_York
                      type: shiftSchedule
                      weekStartsWith: SUNDAY
                    - accountId: 1536846672691202
                      calendarId: 2481052283043883
                      colorIndicator: '#9EBAD3'
                      createdDate: '2023-02-22T17:44:49Z'
                      createdId: 585800790048776
                      createdName: Ajay Goel
                      datesApplicable:
                        from: '2023-02-22'
                      groupId: null
                      id: 2481052283043890
                      lastModifiedDate: '2023-02-22T17:44:49Z'
                      lastModifiedId: 585800790048776
                      lastModifiedName: Ajay Goel
                      name: Evening Shift
                      numDays: 7
                      organizationId: 1536984111644674
                      override: false
                      resourceBundleId: 1536984111644675
                      schedule:
                      - days:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        shift:
                          end: 09:00
                          start: '17:00'
                        type: day
                      sequenced: false
                      shiftTimeZoneString: America/New_York
                      staffTypeRequired: []
                      status: A
                      timeZoneString: America/New_York
                      type: shiftSchedule
                      weekStartsWith: SUNDAY
                    pageSize: 20
                    totalCount: 2
                    totalPageCount: 1
                Response Model With Filters:
                  summary: Response Model With Filters
                  value:
                    currentPageNo: 1
                    data:
                    - calendarId: 2481052283043883
                      colorIndicator: '#9EBAD3'
                      groupId: null
                      id: 2481052283043890
                      name: Evening Shift
                      numDays: 7
                      type: shiftSchedule
                    - calendarId: 2481052283043883
                      colorIndicator: '#9EBAD3'
                      groupId: null
                      id: 2481052283043889
                      name: Day Shift
                      numDays: 7
                      type: shiftSchedule
                    included:
                    - accountId: 1536846672691202
                      active: true
                      createdDate: '2023-02-22T17:42:46Z'
                      createdId: 585800790048776
                      createdName: Ajay Goel
                      emailNotificationEnabled: false
                      externalId: 8d0810000002b
                      id: 2481052283043883
                      lastModifiedDate: '2023-02-22T17:44:10Z'
                      lastModifiedId: 585800790048776
                      lastModifiedName: Ajay Goel
                      name: Calendar for Engineering Team
                      notifyScheduled: false
                      onCallReminder:
                        enabled: false
                      organizationId: 1536984111644674
                      resourceBundleId: 1536984111644675
                      status: A
                      type: calendar
                      visibility: contact
                    - accountId: 1536846672691202
                      calendarId: 2481052283043883
                      createdDate: '2023-02-22T17:44:05Z'
                      createdId: 585800790048776
                      createdName: Ajay Goel
                      id: 2481052283043888
                      lastModifiedDate: '2023-02-22T17:44:05Z'
                      lastModifiedId: 585800790048776
                      lastModifiedName: Ajay Goel
                      minStaff: 0
                      name: Manager
                      onCallReminder:
                        enabled: false
                      organizationId: 1536984111644674
                      recurrence:
                        datesApplicable:
                          from: '2023-02-22'
                        everyNRecurrence: 1
                        type: periodic
                      resourceBundleId: 1536984111644675
                      seq: 0
                      sequencingOverrideAllowed: true
                      shiftScheduleId: 2481052283043889
                      staffAssignments:
                      - days:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        ids:
                        - id: 609852606906395
                          type: contact
                        type: mixed
                      staffEachDay: false
                      status: A
                      type: staffSchedule
                    - accountId: 1536846672691202
                      calendarId: 2481052283043883
                      createdDate: '2023-02-22T17:45:24Z'
                      createdId: 585800790048776
                      createdName: Ajay Goel
                      id: 2481052283043889
                      lastModifiedDate: '2023-02-22T17:45:24Z'
                      lastModifiedId: 585800790048776
                      lastModifiedName: Ajay Goel
                      minStaff: 0
                      name: 'Offshore Manager '
                      onCallReminder:
                        enabled: false
                      organizationId: 1536984111644674
                      recurrence:
                        datesApplicable:
                          from: '2023-02-22'
                        everyNRecurrence: 1
                        type: periodic
                      resourceBundleId: 1536984111644675
                      seq: 0
                      sequencingOverrideAllowed: true
                      shiftScheduleId: 2481052283043890
                      staffAssignments:
                      - days:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        ids:
                        - id: 2451915224909156
                          type: contact
                        type: mixed
                      staffEachDay: false
                      status: A
                      type: staffSchedule
                    pageSize: 10
                    totalCount: 2
                    totalPageCount: 1
              schema:
                $ref: '#/components/schemas/shiftSchedules'
          description: Model
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: List Shift Schedules
      tags:
      - Scheduling
      x-amazon-apigateway-integration:
        httpMethod: GET
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/scheduling/{organizationId}/shiftSchedules
    post:
      operationId: EBS Create Shift Schedules
      parameters:
      - description: The id of the Organization that owns this resource
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      requestBody:
        content:
          application/json:
            examples:
              All days Shift:
                summary: All days Shift
                value:
                  data:
                    calendarId: 2481052283043883
                    colorIndicator: '#9EBAD3'
                    datesApplicable:
                      from: '2023-02-22'
                      to: null
                    name: All days Shift
                    numDays: 7
                    schedule:
                    - days:
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      shift:
                        end: '17:00'
                        start: 09:00
                      type: day
                    staffTypeRequired: []
                    timeZoneString: America/New_York
              Weekdays After Hour Shift:
                summary: Weekdays After Hour Shift
                value:
                  data:
                    calendarId: 2481052283043883
                    colorIndicator: '#FF3333'
                    datesApplicable:
                      from: '2017-08-23'
                    name: Weekdays After Hour
                    numDays: 7
                    schedule:
                    - days:
                      - 1
                      - 7
                      shift:
                        end: 00:00
                        start: 00:00
                      type: day
                    - days:
                      - 2
                      shift:
                        end: 09:00
                        start: 00:00
                      type: day
                    - days:
                      - 6
                      shift:
                        end: 00:00
                        start: '18:00'
                      type: day
                    sequenced: true
                    timeZoneString: America/New_York
                    weekStartsWith: SUNDAY
              Weekdays Shift:
                summary: Weekdays Shift
                value:
                  data:
                    calendarId: 2481052283043883
                    colorIndicator: '#FF3333'
                    datesApplicable:
                      from: '2017-08-23'
                    name: Weekdays Shift
                    numDays: 7
                    schedule:
                    - days:
                      - 1
                      - 7
                      shift:
                        end: 00:00
                        start: 00:00
                      type: day
                    - days:
                      - 2
                      shift:
                        end: 09:00
                        start: 00:00
                      type: day
                    - days:
                      - 6
                      shift:
                        end: 00:00
                        start: '18:00'
                      type: day
                    sequenced: true
                    timeZoneString: America/New_York
                    weekStartsWith: SUNDAY
              Weekend Shift:
                summary: Weekend Shift
                value:
                  data:
                    calendarId: 2481052283043883
                    colorIndicator: '#FF3333'
                    datesApplicable:
                      from: '2017-08-23'
                    name: Weekend Shift
                    numDays: 7
                    schedule:
                    - days:
                      - 1
                      - 7
                      shift:
                        end: '18:00'
                        start: 09:00
                      type: day
                    - days:
                      - 2
                      shift:
                        end: 00:00
                        start: 00:00
                      type: day
                    - days:
                      - 6
                      shift:
                        end: 00:00
                        start: 00:00
                      type: day
                    sequenced: true
                    timeZoneString: America/New_York
                    weekStartsWith: SUNDAY
            schema:
              $ref: '#/components/schemas/shiftSchedulesRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              example:
                Success:
                  summary: Create Shift Scheduler
                  value:
                    data:
                      accountId: 453003085614350
                      calendarId: 7991254805643266
                      colorIndicator: '#CC99FF'
                      createdDate: '2017-08-29T18:39:36Z'
                      createdId: 8118798154465522
                      createdName: Ajay Goel
                      datesApplicable:
                        from: '2017-08-23'
                      id: 7978060666109953
                      lastModifiedDate: '2017-08-29T18:39:36Z'
                      lastModifiedId: 8118798154465522
                      lastModifiedName: Ajay Goel
                      name: Weekdays After Hours
                      numDays: 7
                      organizationId: 453003085616967
                      resourceBundleId: 453003085618621
                      schedule:
                      - days:
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        shift:
                          end: 09:00
                          start: '18:00'
                        type: day
                      sequenced: true
                      status: A
                      timeZoneString: America/New_York
                      type: shiftSchedule
                      weekStartsWith: SUNDAY
              schema:
                $ref: '#/components/schemas/shiftSchedulesCreateResponse'
          description: OK
        '400':
          content:
            application/json:
              example:
                Success:
                  summary: Bad request
                  value:
                    errors:
                    - code: SHIFT_SCHEDULE_CALENDAR_ID_REQUIRED
                      detail: A valid calendarId is required
                      id: 3abc3100-061a-40d9-846b-794bebbc3323
                      meta:
                        resource: shiftSchedule
                      source:
                        pointer: /data/calendarId
                      status: '400'
                      title: ShiftSchedule calendarId is required.
              schema: {}
          description: OK
        '401':
          content:
            application/json:
              example:
                Success:
                  summary: Invalid input
                  value:
                    message: Org is invalid.
                    status: 401
              schema: {}
          description: OK
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: Create Shift Schedules
      tags:
      - Scheduling
      x-amazon-apigateway-integration:
        httpMethod: POST
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/scheduling/{organizationId}/shiftSchedules
    servers:
    - url: https://api.everbridge.net/rest
    - url: https://api.everbridge.eu/rest
  /scheduling/{organizationId}/shiftSchedules/{ids}:
    delete:
      deprecated: false
      description: Delete shiftSchedule or shiftSchedules within an organization
      operationId: EBS Delete Shift Schedules
      parameters:
      - description: The ID of the organization containing the shift schedules
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      - description: The id or ids (comma delimited) of the resources to find
        in: path
        name: ids
        required: true
        schema: {}
      responses:
        '200':
          content:
            application/json:
              examples:
                Response Model:
                  summary: Response Model
                  value:
                    data:
                    - accountId: 1536846672691202
                      calendarId: 2481052283043883
                      colorIndicator: '#9EBAD3'
                      createdDate: '2024-09-18T07:05:44Z'
                      createdId: 2200330536222721
                      createdName: Nandish API Access
                      datesApplicable:
                        from: '2023-02-22'
                      id: 2503108550721537
                      lastModifiedDate: '2024-09-18T07:35:16Z'
                      lastModifiedId: 2200330536222721
                      lastModifiedName: Nandish API Access
                      name: All days Shift
                      numDays: 7
                      organizationId: 1536984111644674
                      resourceBundleId: 1536984111644675
                      schedule:
                      - days:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        shift:
                          end: '17:00'
                          start: 09:00
                        type: day
                      staffTypeRequired: []
                      status: D
                      timeZoneString: America/New_York
                      type: shiftSchedule
                    - accountId: 1536846672691202
                      calendarId: 2481052283043883
                      colorIndicator: '#FF3333'
                      createdDate: '2024-09-13T11:05:38Z'
                      createdId: 2200330536222721
                      createdName: Nandish API Access
                      datesApplicable:
                        from: '2017-08-23'
                      id: 2496030444617730
                      lastModifiedDate: '2024-09-18T07:35:16Z'
                      lastModifiedId: 2200330536222721
                      lastModifiedName: Nandish API Access
                      name: Day Shift Test11
                      numDays: 7
                      organizationId: 1536984111644674
                      resourceBundleId: 1536984111644675
                      schedule:
                      - days:
                        - 1
                        - 7
                        shift:
                          end: 00:00
                          start: 00:00
                        type: day
                      - days:
                        - 2
                        shift:
                          end: 09:00
                          start: 00:00
                        type: day
                      - days:
                        - 6
                        shift:
                          end: 00:00
                          start: '18:00'
                        type: day
                      sequenced: true
                      staffTypeRequired: []
                      status: D
                      timeZoneString: America/New_York
                      type: shiftSchedule
                      weekStartsWith: SUNDAY
              schema: {}
          description: Model
        '400':
          content:
            application/json:
              examples:
                Response Model:
                  summary: Bad Request
                  value:
                    errors:
                    - code: DELETE_DELETED_SHIFT_SCHEDULE_NOT_SUPPORTED
                      detail: Cannot delete a deleted shiftSchedule
                      id: e2ac67da-c858-4e9f-bd1c-7aa642d06fab
                      meta:
                        id: 2503108550721537
                        resource: shiftSchedule
                        status: D
                      source:
                        pointer: /data/status
                      status: '400'
                      title: ShiftSchedule cannot be deleted
              schema: {}
          description: Model
        '500':
          content:
            application/json:
              examples:
                Response Model:
                  summary: Server Error
                  value:
                    errors:
                    - code: INTERNAL_SERVER_ERROR
                      id: 1b067d8b-e3ca-4e66-9d55-bd9ec84be9f3
                      status: '500'
                      title: Oops, an unexpected error occurred
              schema: {}
          description: Model
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: Delete Shift Schedules
      tags:
      - Scheduling
      x-amazon-apigateway-integration:
        httpMethod: DELETE
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.ids: method.request.path.ids
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/scheduling/{organizationId}/shiftSchedules/{ids}
    get:
      deprecated: false
      description: Get shiftSchedule or shiftSchedules within an organization
      operationId: EBS Get Shift Schedules
      parameters:
      - description: The ID of the organization containing the shift schedules
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      - description: The id or ids (comma delimmited) of the resources to find
        in: path
        name: ids
        required: true
        schema: {}
      - allowEmptyValue: false
        description: <p>Fields (Any ShiftSchedule field) to be included in the response.</p><p>Fields[resourceName] may be used to specify fields returned for included documents. When doing so, it is not necessary to also request to include the resource as the include is implied by the fields request</p>
        in: query
        name: fields
        required: false
        schema:
          example:
          - name
          - colorIndicator
          - name,numDays,colorIndicator
          type: string
      - allowEmptyValue: false
        description: <p>Specifying the includes parameter will result in a compound document response, adding resources to included which have been referenced by resources returned in data.<p><p>include may be specified as a comma delimited list of resource names.</p>
        in: query
        name: include
        required: false
        schema:
          enum:
          - calendar
          - group
          - staffSchedule
          - shiftSubstitution
          - calendar,group
          - staffSchedule,shiftSubstitution
          - group,staffSchedule
          - calendar,staffSchedule
          - calendar,group,staffSchedule
          - calendar,staffSchedule,shiftSubstitution
          - group,staffSchedule,shiftSubstitution
          type: string
      responses:
        '200':
          content:
            application/json:
              examples:
                Response Model:
                  summary: Response Model
                  value:
                    currentPageNo: 1
                    data:
                    - accountId: 1536846672691202
                      calendarId: 2481052283043883
                      colorIndicator: '#9EBAD3'
                      createdDate: '2023-02-22T17:43:39Z'
                      createdId: 585800790048776
                      createdName: Ajay Goel
                      datesApplicable:
                        from: '2023-02-22'
                      groupId: null
                      id: 2481052283043889
                      lastModifiedDate: '2023-02-22T17:43:39Z'
                      lastModifiedId: 585800790048776
                      lastModifiedName: Ajay Goel
                      name: Day Shift
                      numDays: 7
                      organizationId: 1536984111644674
                      override: false
                      resourceBundleId: 1536984111644675
                      schedule:
                      - days:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        shift:
                          end: '17:00'
                          start: 09:00
                        type: day
                      sequenced: false
                      shiftTimeZoneString: America/New_York
                      staffTypeRequired: []
                      status: A
                      timeZoneString: America/New_York
                      type: shiftSchedule
                      weekStartsWith: SUNDAY
                    - accountId: 1536846672691202
                      calendarId: 2481052283043883
                      colorIndicator: '#9EBAD3'
                      createdDate: '2023-02-22T17:44:49Z'
                      createdId: 585800790048776
                      createdName: Ajay Goel
                      datesApplicable:
                        from: '2023-02-22'
                      groupId: null
                      id: 2481052283043890
                      lastModifiedDate: '2023-02-22T17:44:49Z'
                      lastModifiedId: 585800790048776
                      lastModifiedName: Ajay Goel
                      name: Evening Shift
                      numDays: 7
                      organizationId: 1536984111644674
                      override: false
                      resourceBundleId: 1536984111644675
                      schedule:
                      - days:
                        - 1
                        - 2
                        - 3
                        - 4
                        - 5
                        - 6
                        - 7
                        shift:
                          end: 09:00
                          start: '17:00'
                        type: day
                      sequenced: false
                      shiftTimeZoneString: America/New_York
                      staffTypeRequired: []
                      status: A
                      timeZoneString: America/New_York
                      type: shiftSchedule
                      weekStartsWith: SUNDAY
                    pageSize: 20
                    totalCount: 2
                    totalPageCount: 1
              schema:
                $ref: '#/components/schemas/shiftSchedulesGetResponse'
          description: Model
        '400':
          content:
            application/json:
              examples:
                Response Model:
                  summary: Bad Request
                  value:
                    errors:
                    - code: DELETE_DELETED_SHIFT_SCHEDULE_NOT_SUPPORTED
                      detail: Cannot delete a deleted shiftSchedule
                      id: e2ac67da-c858-4e9f-bd1c-7aa642d06fab
                      meta:
                        id: 2503108550721537
                        resource: shiftSchedule
                        status: D
                      source:
                        pointer: /data/status
                      status: '400'
                      title: ShiftSchedule cannot be deleted
              schema: {}
          description: Model
        '500':
          content:
            application/json:
              examples:
                Response Model:
                  summary: Server Error
                  value:
                    errors:
                    - code: INTERNAL_SERVER_ERROR
                      id: 1b067d8b-e3ca-4e66-9d55-bd9ec84be9f3
                      status: '500'
                      title: Oops, an unexpected error occurred
              schema: {}
          description: Model
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: Get Shift Schedules
      tags:
      - Scheduling
      x-amazon-apigateway-integration:
        httpMethod: GET
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.ids: method.request.path.ids
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/scheduling/{organizationId}/shiftSchedules/{ids}
    put:
      operationId: EBS Update Shift Schedules
      parameters:
      - description: The id of the Organization that owns this resource
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      - description: The id or ids (comma delimmited) of the resources to find
        in: path
        name: ids
        required: true
        schema: {}
      requestBody:
        content:
          application/json:
            examples:
              Update a Shift Schedule:
                summary: Update a Shift Schedule
                value:
                  data:
                    accountId: 1536846672691202
                    calendarId: 2481052283043883
                    colorIndicator: '#FF3333'
                    createdDate: '2024-09-13T11:07:39Z'
                    createdId: 2200330536222721
                    createdName: Nandish API Access
                    datesApplicable:
                      from: '2017-08-23'
                    id: 2496030444617732
                    lastModifiedDate: '2024-09-18T09:22:13Z'
                    lastModifiedId: 2200330536222721
                    lastModifiedName: Nandish API Access
                    name: Weekend1
                    numDays: 7
                    organizationId: 1536984111644674
                    resourceBundleId: 1536984111644675
                    schedule:
                    - days:
                      - 1
                      - 7
                      shift:
                        end: 09:00
                        start: '18:00'
                      type: day
                    - days:
                      - 2
                      - 6
                      shift:
                        end: 00:00
                        start: 00:00
                      type: day
                    sequenced: true
                    shiftTimeZoneString: America/New_York
                    staffTypeRequired: []
                    status: A
                    timeZoneString: America/New_York
                    type: shiftSchedule
                    weekStartsWith: SUNDAY
              Update multiple Shift Schedules:
                summary: Weekend Shift
                value:
                  data:
                    calendarId: 2481052283043883
                    colorIndicator: '#FF3333'
                    datesApplicable:
                      from: '2017-08-23'
                    name: Weekends
                    numDays: 7
                    schedule:
                    - days:
                      - 1
                      - 7
                      shift:
                        end: 09:00
                        start: '18:00'
                      type: day
                    - days:
                      - 2
                      shift:
                        end: 00:00
                        start: 00:00
                      type: day
                    - days:
                      - 6
                      shift:
                        end: 00:00
                        start: 00:00
                      type: day
                    sequenced: true
                    timeZoneString: America/New_York
                    weekStartsWith: SUNDAY
            schema:
              $ref: '#/components/schemas/shiftSchedulesRequest'
        required: true
      responses:
        '200':
          content:
            '*/*':
              schema:
                type: string
          description: Successful Operation
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: Update Shift Schedules
      tags:
      - Scheduling
      x-amazon-apigateway-integration:
        httpMethod: PUT
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.ids: method.request.path.ids
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/scheduling/{organizationId}/shiftSchedules/{ids}
    servers:
    - url: https://api.everbridge.net/rest
    - url: https://api.everbridge.eu/rest
  /scheduling/{organizationId}/shiftSubstitutions:
    get:
      description: Retrieve Shift Substitution(s) for an organization (Override)
      operationId: EBS List Shift Substitutions
      parameters:
      - description: The id of the Organization that owns this resource
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      - description: <p>fields to be included in the response.</p><p>fields[resourceName] may be used to specify fields returned for included documents. When doing so, it is not necessary to also request to include the resource as the include is implied by the fields request.</p>
        in: query
        name: fields
        required: false
        schema:
          items:
            enum:
            - calendar
            - shiftSchedule
            - eventSummary
            - assignment
            - contact
            - calendarEvent
            - event
            - group
            type: string
          type: array
      - description: <p>Specifying the includes parameter will result in a compound document response, adding resources to included which have been referenced by resources returned in data.<p><p>include may be specified as a comma delimited list of resource names.</p>
        in: query
        name: include
        required: false
        schema:
          enum:
          - calendar
          - shiftSchedule
          - contact
          type: string
      - description: <p>filter may be used to specify filter criteria for the request.</p><p>filters are specified in the format of filter[fieldName], where fieldName is any field supported by this resource.</p><p>multiple filter criteria will result in AND conditions, with the exception of multiple filters on the same field, in which case the criteria will be treated as an OR condition</p>
        explode: true
        in: query
        name: filter
        required: false
        schema:
          allOf:
          - properties:
              calendarId:
                description: Unique ID of the calendar
                type: integer
            required:
            - calendarId
            title: Filter by calendar ID
            type: object
          - properties:
              shiftScheduleId:
                description: Unique ID of the shift schedule
                type: integer
            required:
            - shiftScheduleId
            title: Filter by shiftSchedule ID
            type: object
        style: deepObject
      - description: <p>Comma delimited list of fields to sort by.</p><p> +/- can precede the field name to indicate direction (ascending/descending).</p><p> + is the default direction</p><p> Ex. sort=status,-createdDate sorts by status ascending and createdDate descending</p>
        in: query
        name: sort
        required: false
        schema:
          type: string
      - description: The number of records per page to be included in the response
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
      - description: The page to be returned.
        in: query
        name: pageNo
        required: false
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              examples:
                Response Model:
                  summary: Response Model
                  value:
                    currentPageNo: 1
                    data:
                    - accountId: 1536846672691202
                      calendarId: 2516955525283841
                      createdDate: '2024-09-25T06:47:17Z'
                      createdId: 2200330536222721
                      createdName: Nandish API Access
                      id: 2514859581243393
                      lastModifiedDate: '2024-09-25T06:47:17Z'
                      lastModifiedId: 2200330536222721
                      lastModifiedName: Nandish API Access
                      organizationId: 1536984111644674
                      recurrence:
                        datesApplicable:
                        - '2024-09-23'
                        type: occurrence
                      resourceBundleId: 1536984111644675
                      shiftScheduleId: 2514859581243396
                      staffAssignment:
                        contactIds:
                        - 2414322986778856
                        type: contact
                      status: A
                      type: shiftSubstitution
                    pageSize: 20
                    totalCount: 1
                    totalPageCount: 1
              schema: {}
          description: Model
        '400':
          content:
            application/json:
              examples:
                Bad Request:
                  summary: Bad Request
                  value:
                    errors:
                    - code: SHIFT_SUBSTITUTION_RECURRENCE_DATES_APPLICABLE_OVERLAP
                      detail: Multiple substitutions not allowed
                      id: 433e76e2-7169-40ed-8c9f-03ef03c39b9f
                      meta:
                        resource: shiftSubstitution
                      source:
                        pointer: /data/recurrence/datesApplicable
                      status: '400'
                      title: Invalid shift substitution date
              schema: {}
          description: Model
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: List Shift Substitutions
      tags:
      - Scheduling
      x-amazon-apigateway-integration:
        httpMethod: GET
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/scheduling/{organizationId}/shiftSubstitutions
    post:
      description: Create Shift Substitution(s) for an organization (Override).
      operationId: EBS Create Shift Substitutions
      parameters:
      - description: The id of the Organization that owns this resource
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      requestBody:
        content:
          application/json:
            examples:
              'Multiple Dates Shift Substitutions ':
                summary: Shift substitutions for multiple dates
                value:
                  data:
                  - recurrence:
                      datesApplicable:
                      - '2024-10-06'
                      type: occurrence
                    shiftScheduleId: 2527332166270977
                    staffAssignment:
                      contactIds:
                      - 2414322986778856
                      type: contact
                  - recurrence:
                      datesApplicable:
                      - '2024-10-10'
                      type: occurrence
                    shiftScheduleId: 2527332166270977
                    staffAssignment:
                      contactIds:
                      - 2414322986778856
                      type: contact
              Shift Substitutions [Contact]:
                summary: Create a new shift substitutions with a contact
                value:
                  data:
                    recurrence:
                      datesApplicable:
                      - '2024-09-23'
                      type: occurrence
                    shiftScheduleId: 2514859581243396
                    staffAssignment:
                      contactIds:
                      - 2414322986778856
                      type: contact
              Shift Substitutions [Group]:
                summary: Contact shift substitutions with a group
                value:
                  data:
                    recurrence:
                      datesApplicable:
                      - '2024-09-27'
                      type: occurrence
                    shiftScheduleId: 2514859581243396
                    staffAssignment:
                      ids:
                      - id: '2469369971998969'
                        type: group
                      type: mixed
              Shift Substitutions [Multiple Contact]:
                summary: Create a new shift substitutions with multiple contacts
                value:
                  data:
                    recurrence:
                      datesApplicable:
                      - '2024-10-06'
                      type: occurrence
                    shiftScheduleId: 2527332166270977
                    staffAssignment:
                      contactIds:
                      - 2414322986778856
                      - 609852606906395
                      type: contact
            schema:
              $ref: '#/components/schemas/shiftSubstitutionsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              examples:
                Response Model:
                  summary: Response Model
                  value:
                    data:
                      accountId: 1536846672691202
                      calendarId: 2516955525283841
                      createdDate: '2024-09-25T08:00:46Z'
                      createdId: 2200330536222721
                      createdName: Nandish API Access
                      id: 2514825221505030
                      lastModifiedDate: '2024-09-25T08:00:46Z'
                      lastModifiedId: 2200330536222721
                      lastModifiedName: Nandish API Access
                      organizationId: 1536984111644674
                      recurrence:
                        datesApplicable:
                        - '2024-09-27'
                        type: occurrence
                      resourceBundleId: 1536984111644675
                      shiftScheduleId: 2514859581243396
                      staffAssignment:
                        contactIds:
                        - 2414322986778856
                        type: contact
                      status: A
                      type: shiftSubstitution
              schema: {}
          description: Model
        '400':
          content:
            application/json:
              examples:
                Multiple Shift Substitutions Not Allowed:
                  summary: Multiple shift substitutions not allowed
                  value:
                    errors:
                    - code: SHIFT_SUBSTITUTION_RECURRENCE_DATES_APPLICABLE_SIZE
                      detail: One and only one occurrence is supported
                      id: bfa6e1c0-ccfc-4f71-9d31-11f02eea5231
                      meta:
                        occurrences:
                          datesApplicable:
                          - '2024-10-01'
                          - '2024-10-02'
                          type: occurrence
                        resource: shiftSubstitution
                      source:
                        pointer: /data/recurrence/datesApplicable
                      status: '400'
                      title: Occurrences error
              schema: {}
          description: Model
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: Create Shift Substitutions (Override)
      tags:
      - Scheduling
      x-amazon-apigateway-integration:
        httpMethod: POST
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/scheduling/{organizationId}/shiftSubstitutions
    servers:
    - url: https://api.everbridge.net/rest
    - url: https://api.everbridge.eu/rest
  /scheduling/{organizationId}/shiftSubstitutions/{ids}:
    delete:
      operationId: EBS Delete Shift Substitutions
      parameters:
      - description: 'The id of the Organization that owns this resource '
        in: path
        name: organizationId
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      - description: The id or ids of the resources to delete
        explode: false
        in: path
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: simple
      responses:
        '200':
          content:
            application/json:
              examples:
                Response Model:
                  summary: Response Model
                  value:
                    data:
                      accountId: 1536846672691202
                      calendarId: 2516955525283841
                      createdDate: '2024-09-25T10:53:18Z'
                      createdId: 2200330536222721
                      createdName: Nandish API Access
                      id: 2514825221505031
                      lastModifiedDate: '2024-09-25T10:53:28Z'
                      lastModifiedId: 2200330536222721
                      lastModifiedName: Nandish API Access
                      organizationId: 1536984111644674
                      recurrence:
                        datesApplicable:
                        - '2024-09-27'
                        type: occurrence
                      resourceBundleId: 1536984111644675
                      shiftScheduleId: 2514859581243396
                      staffAssignment:
                        contactIds:
                        - 2414322986778856
                        type: contact
                      status: D
                      type: shiftSubstitution
              schema: {}
          description: Model
        '404':
          content:
            application/json:
              examples:
                Resource Not Found:
                  summary: Resource not found
                  value:
                    errors:
                    - code: NOT_FOUND
                      detail: Resource not found
                      id: 6182e569-eaa3-4ba0-a1cf-6e471cbe1c76
                      meta:
                        id: 2514825221505032
                        resource: shiftSubstitution
                      status: '404'
                      title: Not Found
              schema: {}
          description: Model
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: Delete Shift Substitutions
      tags:
      - Scheduling
      x-amazon-apigateway-integration:
        httpMethod: DELETE
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.ids: method.request.path.ids
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/scheduling/{organizationId}/shiftSubstitutions/{ids}
    get:
      operationId: EBS Get Shift Substitutions
      parameters:
      - description: The id of the Organization that owns this resource
        in: path
        name: organizationId
        required: true
[...]
