openapi: 3.2.0
info:
  title: Communications Comms Schedule APIs API
  description: Unified Communications APIs
  version: '1.0'
servers:
- url: https://api.everbridge.net/managerapps/communications/v1
tags:
- name: Comms Schedule APIs
paths:
  /schedules:
    get:
      tags:
      - Comms Schedule APIs
      operationId: getSchedules
      summary: List Schedules
      description: List available Comms Schedules.
      parameters:
      - in: query
        name: name
        schema:
          type: string
        description: Filters by the name of the schedules. Returns any schedules that contains any word provided in `name` by default.
      - in: query
        name: status
        schema:
          type: string
          enum:
          - Scheduled
          - Paused
          - Ended
        description: Filter the record set by the  status of the schedule. If `status` is not provided, then the record set will include all records.
      - in: query
        name: type
        schema:
          type: string
          enum:
          - OneTime
          - FixedInterval
          - Recurring
        description: Filter the record set by the type of the schedule. Valid values are `OneTime`, `FixedInterval`, and `Recurring`. If `type` is not provided, all schedule types will be included.
      - in: query
        name: createdBy
        schema:
          type: string
        description: Filter by an ID of a user that can create schedules.
      - in: query
        name: fromDate
        schema:
          type: string
          format: date-time
        description: from date as an ISO 8601-compliant value to filter the record by startTime.
      - in: query
        name: toDate
        schema:
          type: string
          format: date-time
        description: to date as an ISO 8601-compliant value to filter the record by startTime.
      - in: query
        name: sortBy
        schema:
          type: string
          enum:
          - startTime
          - created
        description: 'The field to sort the result set by. See `sortDirection` for adjusting the order in which the result set is sorted.

          Defaults to `created`.'
      - in: query
        name: sortDirection
        schema:
          type: string
          enum:
          - ASC
          - ASCENDING
          - DESC
          - DESCENDING
        description: 'The order by which to sort the result set by. `ASC` and `ASCENDING` have the same effect of ordering the values in ascending order; additionally, `DESC` and `DESCENDING` also have the same effect of ordering the values in descending order. See `sortBy` for details on changing which field is used in sorting.

          Defaults to `DESCENDING`.'
      - in: query
        name: pageSize
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        description: The size of each page of search results. Defaults to ten records.
      - in: query
        name: pageNumber
        schema:
          type: integer
          format: int32
          minimum: 1
        description: The requested page number out of the total number of pages. Defaults to the first page, which is page number 1.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommSchedulePaginatedResponse'
              example:
                data:
                - id: b7e2a1c4-3f8e-4b2a-9c1d-2e6f7a8b9d10
                  status: Scheduled
                  name: Morning Alert
                  description: Send a one-time alert at 9am
                  nextFiredTime: '2026-07-01T09:00:00Z'
                  scheduleConfig:
                    type: OneTime
                    startTime: '2026-07-01T09:00:00Z'
                  commsPayload:
                    title: Earthquake - FORECAST Galesburg, Michigan
                    mode: Live
                    tags:
                    - alert
                    - earthquake
                    publicSafety: false
                    name: EarthquakeAlert
                    priority: NORMAL
                    eventType: Earthquake
                    templateId: commsTemplate://1234abcd
                  created: '2026-06-01T10:00:00Z'
                  createdBy: user-123
                  createdByName: Alice
                  updated: '2026-06-01T10:00:00Z'
                  updatedBy: user-123
                  updatedByName: Alice
                pageSize: 10
                pageNumber: 1
                totalPages: 1
                totalItems: 1
        '500':
          description: An internal error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        type: http_proxy
        connectionId: 11ofco
        httpMethod: GET
        uri: https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/schedules
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
    head:
      tags:
      - Comms Schedule APIs
      operationId: checkSchedulesExist
      summary: Check if schedules exist
      description: Check if any Comms Schedules exist matching the given filters.
      parameters:
      - in: query
        name: name
        schema:
          type: string
        description: Filters by the name of the schedules.
      - in: query
        name: status
        schema:
          type: string
          enum:
          - Scheduled
          - Paused
          - Ended
        description: Filter by the status of the schedule.
      - in: query
        name: type
        schema:
          type: string
          enum:
          - OneTime
          - FixedInterval
          - Recurring
        description: Filter the record set by the type of the schedule. Valid values are `OneTime`, `FixedInterval`, and `Recurring`. If `type` is not provided, all schedule types will be included.
      - in: query
        name: createdBy
        schema:
          type: string
        description: Filter by an ID of a user that can create schedules.
      - in: query
        name: fromDate
        schema:
          type: string
          format: date-time
        description: Start date as an ISO 8601-compliant value to filter the record startTime.
      - in: query
        name: toDate
        schema:
          type: string
          format: date-time
        description: End date as an ISO 8601-compliant value to filter the record startTime.
      responses:
        '200':
          description: At least one schedule matches the filters.
        '404':
          description: No schedules match the filters.
        '500':
          description: An internal error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        type: http_proxy
        connectionId: 11ofco
        httpMethod: HEAD
        uri: https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/schedules
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
    post:
      tags:
      - Comms Schedule APIs
      operationId: createSchedule
      summary: Create Schedule
      description: Create a new Comms Schedule.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScheduleRequest'
            examples:
              Creating a OneTime Schedule:
                summary: Create a Morning Alert tiggered at 2026-07-01 9am
                value:
                  name: Morning Alert
                  description: Send a one-time alert at 9am
                  scheduleConfig:
                    type: OneTime
                    startTime: '2026-07-01T09:00:00Z'
                  commsPayload:
                    title: System update reminder
                    mode: Live
                    priority: Normal
                    eventType: General
                    launchedFrom: API
                    message:
                      contents:
                      - type: Textual
                        contentType: text/plain
                        title: System update reminder
                        content: System update reminder.
                        paths:
                        - CATEGORY:EMAIL
                    settings:
                      sender:
                        email:
                          name: Mitten Circus Attractions Inc.
                          replyToEmail: call4clowns@example.com
                      delivery:
                        paths:
                        - type: Prompt
                          prompt: Email
                        ttl: PT1H
                      recipientInteraction:
                        confirm: false
              Creating a FixedInterval Schedule:
                summary: Create a FixedInterval reminder tiggered at 2025-06-01 8am, ends at 2025-06-01 1pm, and runs every hour for 5 times
                value:
                  name: Hourly Reminder
                  description: Send a reminder every hour for 5 times
                  scheduleConfig:
                    type: FixedInterval
                    startTime: '2025-06-01T08:00:00Z'
                    endTime: '2025-06-01T13:00:00Z'
                    maxCount: 5
                    timeInterval: PT1H
                  commsPayload:
                    title: morning alert
                    mode: Live
                    priority: Normal
                    eventType: General
                    launchedFrom: API
                    message:
                      contents:
                      - type: Textual
                        contentType: text/plain
                        title: morning alert
                        content: morning alert.
                        paths:
                        - CATEGORY:SMS
                    settings:
                      sender:
                        email:
                          name: Mitten Circus Attractions Inc.
                          replyToEmail: call4clowns@example.com
                      delivery:
                        paths:
                        - type: Prompt
                          prompt: Email
                        ttl: PT1H
                      recipientInteraction:
                        confirm: false
              Creating a Recurring Schedule:
                summary: Create a Recurring Schedule tirgered at 12-31 12pm every year in Vancouver
                value:
                  name: Year End Notification
                  description: Send a notification every year on December 31st at noon
                  scheduleConfig:
                    type: Recurring
                    startTime: '2025-12-31T12:00:00Z'
                    frequency:
                      type: Yearly
                      month: 12
                      day_of_month: 31
                      time: '12:00:00'
                      timeZoneId: America/Vancouver
                  commsPayload:
                    title: System update reminder
                    mode: Live
                    priority: Normal
                    eventType: General
                    launchedFrom: API
                    message:
                      contents:
                      - type: Textual
                        contentType: text/plain
                        title: System update reminder
                        content: System update reminder.
                        paths:
                        - CATEGORY:EMAIL
                    settings:
                      sender:
                        email:
                          name: Mitten Circus Attractions Inc.
                          replyToEmail: call4clowns@example.com
                      delivery:
                        paths:
                        - type: Prompt
                          prompt: Email
                        ttl: PT1H
                      recipientInteraction:
                        confirm: false
      responses:
        '201':
          description: The schedule was created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAndUpdateScheduleResponse'
              examples:
                Successful creation of a schedule:
                  summary: Schedule created
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        '400':
          description: The request failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '401':
          description: The token provided does not have permission to create a new schedule.
        '500':
          description: An internal error has occurred. This may not always return a response body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        type: http_proxy
        connectionId: 11ofco
        httpMethod: POST
        uri: https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/schedules
        responses:
          default:
            statusCode: '201'
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
  /schedules/{id}:
    get:
      tags:
      - Comms Schedule APIs
      operationId: getScheduleById
      summary: Get schedule by ID
      description: Retrieve a Comms Schedule by its unique identifier.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: The unique ID of the schedule.
      - in: query
        name: includeCommsDetails
        required: false
        schema:
          type: boolean
          default: true
        description: If true, the response will include the full details of the commsPayload. If false, the commsPayload field will be omitted from the response.
      responses:
        '200':
          description: Schedule found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommScheduleResponse'
              example:
                Return a OneTime Schedule.:
                  summary: Return a OneTime Schedule
                  value:
                    id: b7e2a1c4-3f8e-4b2a-9c1d-2e6f7a8b9d10
                    status: Scheduled
                    name: Morning Alert
                    description: Send a one-time alert at 9am
                    nextFiredTime: '2026-07-01T09:00:00Z'
                    scheduleConfig:
                      type: OneTime
                      startTime: '2026-07-01T09:00:00Z'
                    commsPayload:
                      title: Earthquake - FORECAST Galesburg, Michigan
                      mode: Live
                      priority: Normal
                      eventType: Earthquake
                      launchedFrom: API
                      message:
                        contents:
                        - type: Textual
                          contentType: text/plain
                          title: Earthquake in Galesburg, Michigan
                          content: An earthquake was reported in Galesburg, Michigan. Assess the situation and await further communication.
                          paths:
                          - CATEGORY:EMAIL
                      recipients:
                        groups:
                        - type: Id
                          id: '873461568734615'
                        - type: Name
                          name: MVPs
                    created: '2026-06-01T10:00:00Z'
                    createdBy: user-123
                    createdByName: Alice
                    updated: '2026-06-01T10:00:00Z'
                    updatedBy: user-123
                    updatedByName: Alice
                Return a FixedInterval Schedule.:
                  summary: Return a FixedInterval Schedule
                  value:
                    id: c8f3b2d5-4e9f-4c3a-8d2e-3f7e8b9c0d11
                    status: Scheduled
                    name: Hourly Reminder
                    description: Send a reminder every hour for 5 times
                    nextFiredTime: '2025-06-01T09:00:00Z'
                    scheduleConfig:
                      type: FixedInterval
                      startTime: '2025-06-01T08:00:00Z'
                      endTime: '2025-06-01T13:00:00Z'
                      maxCount: 5
                      timeInterval: PT1H
                    commsPayload:
                      title: System update reminder
                      mode: Live
                      priority: Normal
                      eventType: General
                      launchedFrom: API
                      message:
                        contents:
                        - type: Textual
                          contentType: text/plain
                          title: System update reminder
                          content: System update reminder.
                          paths:
                          - CATEGORY:EMAIL
                      recipients:
                        groups:
                        - type: Id
                          id: '873461568734615'
                        - type: Name
                          name: MVPs
                    created: '2025-05-01T10:00:00Z'
                    createdBy: user-456
                    createdByName: Bob
                    updated: '2025-05-01T10:00:00Z'
                    updatedBy: user-456
                    updatedByName: Bob
                Return a Recurring Schedule.:
                  summary: Return a Recurring Schedule
                  value:
                    id: d9f4c3e6-5f1a-4b7c-9e2f-4a8b9c1d2e13
                    status: Scheduled
                    name: Year End Notification
                    description: Send a notification every year on December 31st at noon
                    nextFiredTime: '2025-12-31T12:00:00Z'
                    scheduleConfig:
                      type: Recurring
                      startTime: '2025-12-31T12:00:00Z'
                      frequency:
                        type: Yearly
                        month: 12
                        day_of_month: 31
                        time: '12:00:00'
                        timeZoneId: America/Vancouver
                    commsPayload:
                      title: Year End System Notification
                      mode: Active
                      priority: Normal
                      eventType: General
                      launchedFrom: API
                      message:
                        contents:
                        - type: Textual
                          contentType: text/plain
                          title: Year End Notification
                          content: This is your annual year-end notification.
                          paths:
                          - CATEGORY:EMAIL
                      recipients:
                        groups:
                        - type: Id
                          id: '873461568734615'
                        - type: Name
                          name: MVPs
                    created: '2025-06-01T10:00:00Z'
                    createdBy: user-789
                    createdByName: Carol
                    updated: '2025-06-01T10:00:00Z'
                    updatedBy: user-789
                    updatedByName: Carol
        '400':
          description: 'Invalid value for: header Authorization, Invalid value for: parameters'
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: No schedule with the given ID exists.
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: An internal error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        type: http_proxy
        connectionId: 11ofco
        httpMethod: GET
        uri: https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/schedules/{id}
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.id: method.request.path.id
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
    patch:
      tags:
      - Comms Schedule APIs
      operationId: partial Update ScheduleById
      summary: Update schedule by ID (partial)
      description: Partially update a Comms Schedule by its unique identifier.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: The unique ID of the schedule.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartialUpdateScheduleRequest'
            examples:
              Updating the status of the Schedule.:
                summary: Updating the status of the Schedule.
                value:
                  status: Paused
              Updating the comms Payload of the Schedule.:
                summary: Updating the comms launch Payload of the Schedule.
                value:
                  commsPayload:
                    title: Earthquake - FORECAST Galesburg, Michigan
                    mode: Live
                    priority: Normal
                    eventType: Earthquake
                    launchedFrom: API
                    message:
                      contents:
                      - type: Textual
                        contentType: text/plain
                        title: Earthquake in Galesburg, Michigan
                        content: An earthquake was reported in Galesburg, Michigan. Assess the situation and await further communication.
                        paths:
                        - CATEGORY:EMAIL
                    recipients:
                      groups:
                      - type: Id
                        id: '873461568734615'
                      - type: Name
                        name: MVPs
                    templateId: commsTemplate://1234abcd
              Updating the name and description of the Schedule..:
                summary: Updating the name and description of the Schedule.
                value:
                  name: Hourly Reminder
                  description: Send a reminder every hour for 5 times
              Updating the scheduleConfig of a schedule.:
                summary: Updating the recurring of a schedule.
                value:
                  sceduleConfig:
                    type: Recurring
                    startTime: '2025-12-31T12:00:00Z'
                    frequency:
                      type: Yearly
                      month: 12
                      day_of_month: 31
                      time: '12:00:00'
                      timeZoneId: America/Vancouver
        required: true
      responses:
        '200':
          description: Schedule updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAndUpdateScheduleResponse'
              examples:
                Successful update of a schedule:
                  summary: Schedule updated
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        '400':
          description: The request failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '404':
          description: No schedule with the given ID exists.
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: An internal error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        type: http_proxy
        connectionId: 11ofco
        httpMethod: PATCH
        uri: https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/schedules/{id}
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.id: method.request.path.id
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
    delete:
      tags:
      - Comms Schedule APIs
      operationId: Delete ScheduleById
      summary: Delete by ID
      description: Delete a Comms Schedule by its unique identifier.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: The unique ID of the schedule.
      responses:
        '200':
          description: Schedule delete successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAndUpdateScheduleResponse'
              examples:
                Successful delete of a schedule:
                  summary: Schedule deleted
                  value:
                    id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
        '400':
          description: The request failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '404':
          description: No schedule with the given ID exists.
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: An internal error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        type: http_proxy
        connectionId: 11ofco
        httpMethod: DELETE
        uri: https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/schedules/{id}
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.id: method.request.path.id
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
  /schedules/{id}/trigger:
    post:
      tags:
      - Comms Schedule APIs
      operationId: triggerSchedule
      summary: Trigger schedule by ID
      description: Manually trigger a schedule by its unique identifier.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: The unique ID of the schedule.
      responses:
        '200':
          description: Schedule triggered successfully.
        '404':
          description: No schedule with the given ID exists.
        '500':
          description: An internal error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        type: http_proxy
        connectionId: 11ofco
        httpMethod: POST
        uri: https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/schedules/{id}/trigger
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.id: method.request.path.id
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
  /schedules/{id}/runs:
    get:
      tags:
      - Comms Schedule APIs
      operationId: getScheduleRunsById
      summary: List schedule runs  by ID
      description: List Schedule runs by its unique identifier and query parameter.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
        description: The unique ID of the schedule.
      - in: query
        name: status
        schema:
          type: string
          enum:
          - Success
          - Failed
        description: Filter the record set by the  status of the schedule. If `status` is not provided, then the record set will include all records.
      - in: query
        name: pageSize
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        description: The size of each page of search results. Defaults to ten records.
      - in: query
        name: pageNumber
        schema:
          type: integer
          format: int32
          minimum: 1
        description: The requested page number out of the total number of pages. Defaults to the first page, which is page number 1.
      responses:
        '200':
          description: Schedule found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommScheduleJobLogPaginatedResponse'
        '400':
          description: 'Invalid value for: header Authorization, Invalid value for: parameters'
          content:
            text/plain:
              schema:
                type: string
        '404':
          description: No schedule with the given ID exists.
          content:
            text/plain:
              schema:
                type: string
        '500':
          description: An internal error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        type: http_proxy
        connectionId: 11ofco
        httpMethod: GET
        uri: https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/schedules/{id}/runs
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.id: method.request.path.id
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
  /schedules/schedule-config/validate:
    post:
      tags:
      - Comms Schedule APIs
      operationId: validateScheduleConfig
      summary: Validate schedule configuration
      description: Validate a schedule configuration before creating a schedule.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommScheduleConfig'
      responses:
        '200':
          description: Validation result generated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommsValidateResponse'
              example:
                valid: false
                errors:
                - The startTime must be some time in the future.
                errorDetails:
                - field: startTime
                  message: The startTime must be some time in the future.
                  i18nKey: comms.schedule.invalid.future
        '500':
          description: An internal error has occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        type: http_proxy
        connectionId: 11ofco
        httpMethod: POST
        uri: https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/schedules/schedule-config/validate
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        connectionType: VPC_LINK
components:
  schemas:
    AudioBulletinBoardPublicMessage:
      type: object
      description: The ABB public message content.
      required:
      - title
      - body
      - settingId
      properties:
        title:
          type: string
          description: The title of abb.
        body:
          type: string
          description: The core content of abb.
        settingId:
          type: string
          description: The setting id of abb that defined in setting page.
        audioKey:
          type: string
          description: 'The system-generated audio Key referring to the audio file for this message. '
        expires:
          type: string
          description: How long the message expires. This is in formatted in the ISO 8601 "duration" format.
          example: PT5H
    Facebook:
      type: object
      description: The Facebook custom message content.
      properties:
        body:
          type: string
          description: The core content sent to facebook.
        imageId:
          type: string
          description: The system-generated image ID referring to the image file that will be sent to facebook
        image:
          $ref: '#/components/schemas/ContentAttachment'
    LaunchMessageBody:
      type: object
      required:
      - contentType
      - title
      properties:
        contentType:
          type: string
          description: "A MIME type, defined in IETF's [RFC 6838](https://datatracker.ietf.org/doc/html/rfc6838), that describes the content type (e.g. `text/plain` for plain text or `audio/ogg` for an audio file). The content types that are valid for a given message body depends on the `type` of the message body:\n * `AudioMessageBody`: Supports only `audio` MIME types with any of its supported contact delivery path types.\n * `TextualMessageBody`: Supports only `text` MIME types with any of its supported contact delivery path types; for audio-only contact delivery path types, the text content will be translated to spoken audio via text-to-speech.\n * `WebPageMessageBody`: Supports only `text` MIME types with any of its supported contact delivery path types."
        title:
          type: string
          description: A title for the notification. For audio messages, this is used for display purposes within the Everbridge portal.
          minLength: 1
          maxLength: 255
    WeeklyFrequency:
      type: object
      required:
      - type
      - day_of_week
      - time
      properties:
        type:
          type: string
          enum:
          - Weekly
        interval:
          type:
          - integer
          - 'null'
          description: Optional interval in weeks between executions.
        day_of_week:
          type: array
          items:
            type: integer
          description: The days of the week (1=Monday, 7=Sunday) when the schedule triggers.
        time:
          type: string
          format: time
          description: The time of day when the schedule triggers (HH:mm:ss).
        timeZoneId:
          type:
          - string
          - 'null'
          description: Optional time zone identifier (e.g., 'UTC', 'America/New_York').
    RecurringScheduleConfig:
      type: object
      required:
      - type
      - startTime
      - frequency
      properties:
        type:
          type: string
          enum:
          - Recurring
        startTime:
          type:
          - string
          - 'null'
          format: date-time
          description: The date and time when the schedule should start.
        endTime:
          type:
          - string
          - 'null'
          format: date-time
          description: The date and time when the schedule should end.
        frequency:
          $ref: '#/components/schemas/RecurringFrequency'
    DeliverySettings:
      type: object
      description: Settings that adjust the way that notifications are delivered to recipients.
      properties:
        paths:
          type: array
          description: A list of contact delivery paths to use in notifying recipients. Refer to the [Everbridge List Contact Paths API](https://developers.everbridge.net/internal/reference/ebs-list-contact-paths) to find contact delivery paths for an organization.
          items:
            $ref: '#/components/schemas/ApiDeliveryPath'
        pathOrder:
          type: string
          description: Determines which ordering of delivery paths are used for this notification.
          enum:
          - CONTACT
          - ORGANIZATION
          - CUSTOM
        ttl:
          type: string
          description: "The amount of time, beginning at the communication's launch, to continue sending notifications (\"time-to-live\"). This is in formatted in the ISO 8601 \"duration\" format and must be specified as a number of whole hours.\n Supports a minimum value of one minute up to a maximum value of five days."
          example: PT5H
        deliveryRetries:
          type: integer
          description: The number of attempts to contact recipients that haven't responded.
          maximum: 20
        pathInterval:
          type: string
          description: How long the system should wait before attempting to contact the next device in a recipient's delivery paths. This is in formatted in the ISO 8601 "duration" format.
          enum:
          - PT0M
          - PT1M
          - PT2M
          - PT3M
          - PT5M
          - PT10M
          - PT15M
        deliveryInterval:
          type: string
          description: "How long the system should wait before attempting another delivery starting from the beginning of a recipient's delivery paths.\n Supported values are 0 minutes, 1 minute, 2 minutes, or multiples of 5 minutes up to 60 minutes."
          example: PT15M
        applyThrottle:
          type: boolean
          description: If set to true, will throttle the number of phone calls made.
        quietTimeOverride:
          type: boolean
          description: If set to true, then notifications from this communication will ignore recipients' quiet time settings (i.e. phone calls will be made despite the recipient opting to only receive them during a certain time range.)
    ContactRecipientExternalId:
      type: object
      description: Refers to a contact recipient by its contact external ID.
      required:
      - type
      - externalId
      properties:
        type:
          type: string
          description: Must be set to exactly `ExternalId`.
          enum:
          - ExternalId
        externalId:
          type: string
          description: The organization-provided contact external ID from the [Everbridge Contacts API](https://developers.everbridge.net/internal/reference/ebs-list-contacts).
    SupportedLanguages:
      type: string
      description: "A combined language and region tag that signifies the default language to use when selecting a message body to send to a recipient.\n *Note:* Currently, all communication message bodies in a single communication are signified as being spoken or written in the language defined in this property."
      default: en_US
      enum:
      - ar_SA
      - bn_BD
      - cy_GB
      - da_DK
      - de_DE
      - el_GR
      - en_GB
      - en_US
      - es_ES
      - es_US
      - fi_FI
      - fr_FR
      - he_IL
      - ht_HT
      - id_ID
      - it_IT
      - ja_JP
      - ko_KR
      - nl_NL
      - no_NO
      - pl_PL
      - pt_BR
      - pt_PT
      - ru_RU
      - sv_SE
      - th_TH
      - tr_TR
      - uk_UA
      - ur_PK
      - vi_VN
      - yi_US
      - zh_CN
    VoiceSettings:
      type: object
      description: The caller ID number displayed when contacting recipients via phone.
      required:
      - countryCode
      - callerId
      - default
      properties:
        countryCode:
          type: string
          description: The ISO 3166 two-letter code for the country where this phone number is valid. Please refer to [the Wikipedia page on ISO 3166 country codes](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes) for valid values.
        callerId:
          type: string
          description: The caller ID phone number in E. 164 format.
        default:
          type: boolean
          description: If true, then this is the caller ID number used when no other applies.
    ApiDeliveryPathPathId:
      type: object
      description: A unique identifier for the delivery path.
      required:
      - type
      - pathId
      properties:
        type:
          type: string
          description: Must be set to exactly `PathId`.
          enum:
          - PathId
        pathId:
          type: string
          description: The path ID itself.
    ContactRecipientName:
      type: object
      description: Refers to a contact recipient by their name as shown in the [Everbridge Contacts API](https://developers.everbridge.net/internal/reference/ebs-list-contacts).
      required:
      - type
      - firstName
      - lastName
      properties:
        type:
          type: string
          description: Must be set to exactly `Name`.
          enum:
          - Name
        firstName:
          type: string
          description: The contact's first or given name.
        middleInitial:
          type: string
          description: The contact's middle initial.
        lastName:
          type: string
          description: The contact's last name or surname.
        suffix:
          type: string
          description: A suffix to the contact's name.
          example: Jr.
    SocialMediaPublicMessage:
      type: object
      description: The social media public message content.
      required:
      - tokenIds
      - incLink
      properties:
        body:
          type: string
          description: The title of social media.
        tokenIds:
          type: array
          description: The tokens of social media ,it can contain the token of  both twitter and facebook.
          items:
            type: string
        incLink:
          type: boolean
          description: Whether the message publish to social media contains a link
        imageId:
          type: string
          description: The system-generated image ID referring to the image file for this message..
        customContents:
          type: array
          description: The bodies of the custom social media  Each type at most has one item.
          items:
            anyOf:
            - $ref: '#/components/schemas/Facebook'
            - $ref: '#/components/schemas/Twitter'
    GenericOneWayPublicMessage:
      type: object
      description: The GenericOneWay public message content.
      required:
      - title
      - body
      - receiveUrls
      properties:
        title:
          type: string
          description: The title of generic one way.
        body:
          type: string
          description: The core content of generic one way.
        receiveUrls:
          type: string
          description: The receive url list of generic one way.
          items:
            type: string
    CemResultsCompleteName:
      type: object
      description: Used to describe a contact's complete name in a CEM Results query.
      required:
      - type
      - first
      - last
      properties:
        type:
          type: string
          description: Must be set to exactly `Complete`.
          enum:
          - Complete
        first:
          type: string
          description: The first name of the contact.
        last:
          type: string
          description: The last name of the contact.
        middleInitial:
          type: string
          description: The middle initial of the contact.
        suffix:
          type: string
          description: The suffix of the contact's name, such as "Jr." or "III".
    EverbridgeCommunityPublicMessage:
      type: object
      description: The Everbridge Community publish toggle. This message carries no body fields and is used only to signal routing/selection in the launch request.
    CreateScheduleRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        scheduleConfig:
          $ref: '#/components/schemas/CommScheduleConfig'
        commsPayload:
          $ref: '#/components/schemas/LaunchCommRequest'
      required:
      - name
      - commsPayload
      - scheduleConfig
    MessageContent:
      required:
      - contents
      type: object
      description: Notification message content that is included within the communication. If a `templateId` is present, this value becomes optional and will override the template's message content if provided.
      properties:
        conferenceBridgeId:
          type: string
          description: The ID of a conference bridge for recipients to join. Retrieve conference bridge IDs from the [Everbridge List Conference Bridges API](https://developers.everbridge.net/internal/reference/ebs-list-conference-bridges). Note that this property is mutually exclusive with `questionnaire`; both may not be set in the same communication.
        questionnaire:
          type: object
          description: A list of answers to a provided question for recipients to respond with during confirmation. Note that this property is mutually exclusive with `conferenceBridgeId`; both may not be set in the same communication.
          required:
          - answers
          properties:
            answers:
              type: array
              items:
                type: object
                required:
                - name
                properties:
                  name:
                    type: string
                    description: The user-friendly text of the questionnaire answer.
                  responseQuota:
                    type: integer
                    description: Defines a minimum number of recipients that must respond with this questionnaire answer.
            questionText:
              type: string
              description: The text prompt to display to recipients when they are responding to the questionnaire.
        contents:
          type: array
          description: The bodies of the notification message shown to recipients. There may be multiple `Textual` message bodies but at most one `Audio` message body and/or at most one `WebPage` message body.
          items:
            anyOf:
            - $ref: '#/components/schemas/AudioMessageBody'
            - $ref: '#/components/schemas/TextualMessageBody'
            - $ref: '#/components/schemas/WebPageMessageBody'
    activity:
      type: object
      properties:
        action:
          type: string
          enum:
          - FOLLOWUP
          - UPDATE
          - CLOSE
          description: Specify the type of activity. For example, use this to send an update or follow-up communication, or to close the target communication.
        target:
          type: string
          description: Launches a new communication as a follow-up to an existing communication. The target communication ID to which this communication is related.
    LaunchCommRequest:
      description: Request body for launching a communication. Only valid when `mode` is `LIVE` or `SIMULATION`.
      allOf:
      - $ref: '#/components/schemas/BaseLaunchCommRequest'
      - type: object
        required:
        - title
        - mode
        properties:
          mode:
            $ref: '#/components/schemas/LaunchMode'
          title:
            type: string
            description: The title or summary of the communication, shown in the Communications interface. This is not the title used in the notification.
          description:
            type: string
            description: A description of the communication. This is not shown to recipients.
            maxLength: 500
          publicSafety:
            type: boolean
            description: Communication is being sent as a Public Safety message
          priority:
            type: string
            description: "The level of urgency for this communication.\n * `NORMAL`: The baseline level of urgency.\n * `HIGHPRIORITY`: Action is recommended.\n * `LIFETHREATENING`: Immediate action is required due to the risk of loss of life or bodily harm."
            enum:
            - NORMAL
            - HIGHPRIORITY
            - LIFETHREATENING
          eventType:
            type: string
            description: A category for the communication.
          launchedFrom:
            type: string
            description: The source of the communication launch. This is used for tracking purposes and does not affect the behavior of the communication. Public should use API.
            enum:
            - API
            - UI
            - ORCHESTRATION
            - CRITICALEVENT
            - SAFETYMESSAGE
            - COMMSSCHEDULE
            - RESPONSEMGMT
          recipients:
            $ref: '#/components/schemas/LaunchRecipients'
          publicMessages:
            type: array
            description: The bodies of the public message. Each type at most has one body.
            items:
              anyOf:
              - $ref: '#/components/schemas/WebWidgetPublicMessage'
              - $ref: '#/components/schemas/AlertUsPublicMessage'
              - $ref: '#/components/schemas/GenericOneWayPublicMessage'
              - $ref: '#/components/schemas/AudioBulletinBoardPublicMessage'
              - $ref: '#/components/schemas/SocialMediaPublicMessage'
              - $ref: '#/components/schemas/MemberPortalPublicMessage'
              - $ref: '#/components/schemas/EverbridgeCommunityPublicMessage'
              - $ref: '#/components/schemas/NetworkPublicMessage'
              - $ref: '#/components/schemas/CAPPublicMessage'
          activity:
            $ref: '#/components/schemas/activity'
          planId:
            type: string
            description: Unique identifier of the plan responsible for launching the communication.
    BaseLaunchCommRequest:
      type: object
      properties:
        templateId:
          type: string
          description: 'An ID of a template to use for this communication. Supported template types:

            - Communication Template: IDs of the form `commsTemplate://{id}`

            - Notification Template (legacy): IDs of the form `legacyMN://{id}`

            - Incident Template (legacy): IDs of the form `legacyIC://{id}/{phaseName}`

            For legacy templates, you can retrieve template details via the `/templates/convert` API.'
          example: commsTemplate://bdbc6a41-ce36-4c14-9add-36306a46c95f
        context:
          type: object
          description: Various contextual properties to be used with `templateId`.
          properties:
            variables:
              type: array
              description: Variables to use within templates specified by `templateId`.
              items:
                type: object
                description: An individual variable ID and its value. The `value` property may take on multiple forms depending on the type of the variable specified in the [Variable Library](https://developers.everbridge.net/internal/reference/get_v1).
                properties:
                  variableId:
                    type: string
                    description: The ID of the variable, as described by the Variable Library.
                  value:
                    oneOf:
                    - type: string
                      description: "A single string value for a variable. This would include single selection variables, textbox variables, textarea variables, and date variables. \n\n*Note:* It is recommended to send the value for date variables as an ISO 8601 date and time string (`2024-11-19T14:01:31Z`). The Communications API will automatically format the value based on the specified formatting of the variable in the Variable Library."
                    - type: array
                      description: Specifies multiple values for a variable. This is intended to be used with the multiple selection variable only.
                      items:
                        type: string
            contextIds:
              type: array
              description: IDs of contextual objects to use in the template. Each ID takes the form of `shortName://sourceID` where `shortName` is the property of the same name from the Context APIs and the `sourceID` is the identifier from the context source. Please see the documentation on the Context APIs for more information.
              maxItems: 1
              items:
                type: string
        exercise:
          type: boolean
          description: Is enable exercise mode
        settings:
          $ref: '#/components/schemas/ApiSettings'
        message:
          $ref: '#/components/schemas/MessageContent'
    LaunchMode:
      type: string
      enum:
      - LIVE
      - SIMULATION
      description: "Adjust the behavior of the communication:\n * `LIVE`: Launch the communication and send notifications to all recipients. At least one recipient must be specified in `recipients`.\n * `SIMULATION`: Launch the communication but do not send notifications; useful for determining the impact of a communication before sending it with `Live`. At least one recipient must be specified in `recipients`."
    ContentAttachment:
      type: object
      properties:
        fileId:
          type: string
        fileName:
          type: string
        mimeType:
          type: string
        downloadUrl:
          type: string
        size:
          type: integer
          format: int64
    Command:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          description: The type of command to execute
    SenderSettings:
      type: object
      description: Specify what recipients will see as the "sender" of the notifications sent from the communication (e.g. caller ID upon receiving a phone call.)
      properties:
        email:
          type: object
          description: Configuration elements that control the display of the sender in email notifications.
          properties:
            name:
              type: string
              description: The display name used in email notifications.
            replyToEmail:
              type: string
              description: The "reply to" email address to use for email notifications.
        voice:
          type: array
          description: Configuration elements that control the display of the caller in phone call notifications.
          items:
            $ref: '#/components/schemas/VoiceSettings'
        sms:
          type: array
          description: Configuration elements that control the display of the sender in SMS notifications.
          items:
            $ref: '#/components/schemas/SmsSettings'
    CommSchedulePaginatedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CommScheduleBase'
        pageSize:
          type: integer
          format: int32
        pageNumber:
          type: integer
          format: int32
        totalPages:
          type: integer
          format: int32
        totalItems:
          type: integer
          format: int32
    CommSchedulePayloadBase:
      type: object
      required:
      - title
      - mode
      - tags
      - launchedFrom
      - publicSafety
      - name
      - priority
      properties:
        title:
          type: string
        mode:
          $ref: '#/components/schemas/LaunchMode'
        tags:
          type: array
          items:
            type: string
          description: distinct ordered tags
        publicSafety:
          type: boolean
        name:
          type: string
        priority:
          type: string
          description: "The level of urgency for this communication.\n * `NORMAL`: The baseline level of urgency.\n * `HIGHPRIORITY`: Action is recommended.\n * `LIFETHREATENING`: Immediate action is required due to the risk of loss of life or bodily harm."
          enum:
          - NORMAL
          - HIGHPRIORITY
          - LIFETHREATENING
        eventType:
          type: string
          description: A category for the communication.
        templateId:
          type: string
          description: An ID of a template to use for this communication. Only Communications template IDs of the form `commsTemplate://{id}` are supported at this time.
          example: commsTemplate://bdbc6a41-ce36-4c14-9add-36306a46c95f
        activity:
          $ref: '#/components/schemas/activity'
    YearlyFrequency:
      type: object
      required:
      - type
      - month
      - day_of_month
      - time
      properties:
        type:
          type: string
          enum:
          - Yearly
        interval:
          type:
          - integer
          - 'null'
          description: Optional interval in years between executions.
        month:
          type: integer
          description: The month of the year (1-12) when the schedule triggers.
        day_of_month:
          type: integer
          description: The day of the month (1-31) when the schedule triggers.
        time:
          type: string
          format: time
          description: The time of day when the schedule triggers (HH:mm:ss).
        timeZoneId:
          type:
          - string
          - 'null'
          description: Optional time zone identifier (e.g., 'UTC', 'America/New_York').
    CemResultsLastKnownLocationType:
      type: object
      description: Specifies how to include contacts with "Last Known" location types in CEM Results.
      required:
      - type
      properties:
        type:
          type: string
          description: Must be set to exactly `LastKnown`.
          enum:
          - LastKnown
        locationSourceIds:
          type: array
          description: A list of location source IDs.
          items:
            type: number
    ProblemDetail:
      type: object
      description: An RFC-7807 compliant model for error details.
      properties:
        type:
          type: string
          description: A URI that identifies the problem type.
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        status:
          type: integer
          description: The HTTP response status code describing the error.
        detail:
          type: string
          description: A human-readable explanation of the specific problem.
        instance:
          type: string
          description: A URI that identifies the specific problem.
    CemResultsNumberPropertyQuery:
      allOf:
      - $ref: '#/components/schemas/CemResultsPropertyQuery'
      - type: object
        required:
        - type
        description: Provides querying against numeric properties in Contacts and Assets.
        properties:
          type:
            type: string
            description: Must be set to exactly `Number`.
            enum:
            - Number
          lowerBound:
            type: number
            description: A lower bound to match against the properties.
          upperBound:
            type: number
            description: An upper bound to match against the properties.
    CapContent:
      type: object
      description: Shared CAP transport metadata for a public-safety delivery instance. The public-comms webpage shortUrl is not part of this content; it is system-generated and returned at the communication detail level.
      required:
      - capCategory
      - capEventType
      - capEventCode
      - capSeverity
      - capUrgency
      - capCertainty
      properties:
        capCategory:
          type: string
          description: CAP category.
        capEventType:
          type: string
          description: CAP event type.
        capEventCode:
          type: string
          description: CAP event code.
        capSeverity:
          type: string
          description: CAP severity.
        capUrgency:
          type: string
          description: CAP urgency.
        capCertainty:
          type: string
          description: CAP certainty.
    CemResultsExpectedLocationType:
      type: object
      description: Specifies how to include contacts with expected location types in CEM Results.
      required:
      - type
      properties:
        type:
          type: string
          description: Must be set to exactly `Expected`.
          enum:
          - Expected
    FixedIntervalScheduleConfig:
      type: object
      required:
      - type
      - startTime
      - timeInterval
      properties:
        type:
          type: string
          enum:
          - FixedInterval
        startTime:
          type: string
          format: date-time
          description: The date and time when the schedule should start.
        endTime:
          type: string
          format: date-time
          description: The date and time when the schedule should end.
        maxCount:
          type:
          - integer
          - 'null'
          description: The maximum number of times to run the schedule.
        timeInterval:
          type: string
          description: The time interval between executions of the schedule, in ISO 8601 duration format (e.g., 'PT1H' for 1 hour). in ISO 8601 perid format (e.g., 'P1M' for 1 month)..
          example: PT5H
    TextOnlyPathCategory:
      type: string
      description: A group of contact path types that only support textual messaging.
      enum:
      - CATEGORY:BUSINESSMESSAGINGAPPS
      - CATEGORY:COMMON
      - CATEGORY:EMAIL
      - CATEGORY:MOBILEAPP
      - CATEGORY:PLAINTEXT
      - CATEGORY:SMS
    ApiDeliveryPathPrompt:
      type: object
      description: The unique description, provided by the organization, for the delivery path.
      required:
      - type
      - prompt
      properties:
        type:
          type: string
          description: Must be set to exactly `Prompt`.
          enum:
          - Prompt
        prompt:
          type: string
          description: The unique description, provided by the organization, for the delivery path.
    GroupRecipientId:
      type: object
      description: Refers to a group of contact recipients by a group ID.
      required:
      - type
      - id
      properties:
        type:
          type: string
          description: Must be set to exactly `Id`.
          enum:
          - Id
        id:
          type: string
          description: The contact group ID from the [Everbridge Groups API](https://developers.everbridge.net/internal/reference/ebs-list-groups).
    SemanticQuery:
      allOf:
      - $ref: '#/components/schemas/Command'
      description: A query use for generating a CEM Result built with semantic logic
      type: object
      properties:
        type:
          type: string
          description: The type of command to execute
          enum:
          - SemanticQuery
        inArea:
          $ref: '#/components/schemas/Geometry'
        starting:
          type: string
          format: date-time
          description: Optional start time for bounding the query. Affects some locations and travel itineraries.
        ending:
          type: string
          format: date-time
          description: Optional end time for bounding the query. Affects some locations and travel itineraries.
        ofTypeIds:
          type: array
          items:
            type: string
          description: A list of contact or asset type IDs to filter the results by.
        tagged:
          type: array
          items:
            type: string
          description: A list of tags to filter the results by.
        inPropertyIds:
          type: array
          items:
            type: string
          description: A list of property IDs to filter the results by.
        withProperties:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/CemResultsBooleanPropertyQuery'
            - $ref: '#/components/schemas/CemResultsNumberPropertyQuery'
            - $ref: '#/components/schemas/CemResultsStringPropertyQuery'
          description: A list of property IDs to filter the results by.
        named:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/CemResultsCompleteName'
          description: A list of names to filter the results by.
        identified:
          type: array
          items:
            type: string
          description: A list of identifiers to filter the results by.
        memberOfIds:
          type: array
          items:
            type: number
          description: A list of groups IDs to find members of.
        withLocationTypes:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/CemResultsStaticLocationType'
            - $ref: '#/components/schemas/CemResultsLastKnownLocationType'
            - $ref: '#/components/schemas/CemResultsExpectedLocationType'
            - $ref: '#/components/schemas/CemResultsTravelLocationType'
          description: A list of location types to filter the results by.
        ofRuleIds:
          type: array
          items:
            type: number
          description: A list of rules to filter the results by.
        isExpatriate:
          type: boolean
          description: If true, include expatriates in the results for contact result sets.
        isVip:
          type: boolean
          description: If true, include VIPs in the results for contact result sets.
        subscribedToIds:
          type: array
          items:
            type: string
          description: A list of public feed IDs to retrieve subscribers for. Only applicable to `publicuser` result sets.
        forZipCodes:
          type: array
          items:
            type: string
          description: A list of zipcodes to filter subscribers. Only applicable to `publicuser` result set.
        sendToAorSubscriptions:
          type: boolean
          description: If true, include org area-of-responsibility subscriptions. Only applicable to `publicuser` result set.
    ApiDeliveryPath:
      description: Delivery paths are ordered methods of contacting recipients, such as "work email" or "home phone".
      anyOf:
      - $ref: '#/components/schemas/ApiDeliveryPathPathId'
      - $ref: '#/components/schemas/ApiDeliveryPathPrompt'
    NetworkPublicMessage:
      type: object
      description: The Network public message content.
      required:
      - body
      - networkEffectTypes
      - affectedAreas
      - groupIds
      properties:
        body:
          type: string
          description: The core content of network.
        networkEffectTypes:
          type: array
          description: ' The type of network effect'
          items:
            type: string
          enum:
          - PUBLIC
          - NETWORK_GROUP
        affectedAreas:
          type: string
          description: The shape content.
        groupIds:
          type: array
          description: The  groupIds defined in network setting page.
          items:
            type: string
    CemResultsStaticLocationType:
      type: object
      description: Specifies how to include contacts with static location types in CEM Results.
      required:
      - type
      properties:
        type:
          type: string
          description: Must be set to exactly `Static`.
          enum:
          - Static
        locationTypeIds:
          type: array
          description: A list of static location type IDs.
          items:
            type: number
        includeMissingLocationTypeId:
          type: boolean
          description: If true, include results that do not have a static location type.
    MemberPortalPublicMessage:
      type: object
      description: The member portal public message content.
      required:
      - body
      - includeSelectedMapShape
      properties:
        body:
          type: string
          description: The core content that displayed on public member public message  page.
        includeSelectedMapShape:
          type: boolean
          description: 'Whether include the map defined in recipient part  '
    CommsValidationError:
      type: object
      properties:
        field:
          type:
          - string
          - 'null'
        message:
          type: string
        i18nKey:
          type: string
      required:
      - message
      - i18nKey
    CommsValidateResponse:
      type: object
      properties:
        valid:
          type: boolean
        errors:
          type:
          - array
          - 'null'
          items:
            type: string
        errorDetails:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CommsValidationError'
      required:
      - valid
    CommScheduleJobLog:
      type: object
      required:
      - status
      properties:
        status:
          type: string
          description: 'The result status of the last job. Possible values: Success, Failed.'
          enum:
          - Success
          - Failed
        fireTime:
          type: string
          format: date-time
        commId:
          type:
          - string
          - 'null'
          description: The ID of the communication sent if the job was successful.
        errorMessage:
          type:
          - string
          - 'null'
          description: The error message if the job failed.
    LaunchRecipients:
      type: object
      description: 'Describes the recipients of notifications from the communication. At least one recipient must be provided when `Mode` is `LIVE` or `SIMULATION`.


        **Note:** When specifying `recipients` in conjunction with a `templateId` in a request, the recipients specified here in the request will _replace_ any recipients defined in the template. Omitting `recipients` in the request will result in Communications using the recipients from the specified template. If the desired functionality is a merged set of recipients between the template and the request, the recipients from the template must be combined into a single `recipients` object in the request.'
      properties:
        contacts:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/ContactRecipientExternalId'
            - $ref: '#/components/schemas/ContactRecipientId'
            - $ref: '#/components/schemas/ContactRecipientName'
            - $ref: '#/components/schemas/ResultSetQueryRecipients'
          description: A set of contact to send notifications to regardless of any other criteria.
        publicUsers:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/SemanticQuery'
            - $ref: '#/components/schemas/ResultSetQueryRecipients'
          description: A set of `publicuser` queries that contain a set of `publicuser` to send notifications to.
        excluded:
          type: object
          description: Specifies recipients to exclude from notifications.
          properties:
            contacts:
              type: array
              items:
                anyOf:
                - $ref: '#/components/schemas/ContactRecipientExternalId'
                - $ref: '#/components/schemas/ContactRecipientId'
                - $ref: '#/components/schemas/ContactRecipientName'
                - $ref: '#/components/schemas/ResultSetQueryRecipients'
              description: A set of contacts to exclude from notifications.
        groups:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/GroupRecipientId'
            - $ref: '#/components/schemas/GroupRecipientName'
            - $ref: '#/components/schemas/ResultSetQueryRecipients'
          description: A set of contact groups to send notifications to regardless of any other criteria.
        query:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/ResultSetQueryRecipients'
            - $ref: '#/components/schemas/SemanticQuery'
          description: A set of contact queries that contain a set of contacts to send notifications to.
        rules:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/RuleRecipientId'
            - $ref: '#/components/schemas/RuleRecipientName'
            - $ref: '#/components/schemas/ResultSetQueryRecipients'
          description: A set of contact rules (filters) to use when determining a set of contacts to send notifications to.
        alert:
          type: array
          items:
            anyOf:
            - $ref: '#/components/schemas/ResultSetQueryRecipients'
          description: A set of affected contacts from a CEM Alert.
    Twitter:
      type: object
      description: The Twitter custom message content.
      properties:
        body:
          type: string
          description: The core content sent to twitter..
        imageId:
          type: string
          description: The system-generated image ID referring to the image file that will be sent to twitter
        webPageMessage:
          type: string
          description: The web page message sent to twitter
        image:
          $ref: '#/components/schemas/ContentAttachment'
    CommScheduleJobLogPaginatedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CommScheduleJobLog'
        pageSize:
          type: integer
          format: int32
        pageNumber:
          type: integer
          format: int32
        totalPages:
          type: integer
          format: int32
        totalItems:
          type: integer
          format: int32
    OneTimeScheduleConfig:
      type: object
      required:
      - type
      - startTime
      properties:
        type:
          type: string
          enum:
          - OneTime
        startTime:
          type: string
          format: date-time
          description: The date and time when the schedule should be executed.
    CreateAndUpdateScheduleResponse:
      type: object
      required:
      - id
      properties:
        id:
          type: string
    PartialUpdateScheduleRequest:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
          enum:
          - Scheduled
          - Paused
          - Ended
        scheduleConfig:
          $ref: '#/components/schemas/CommScheduleConfig'
        commsPayload:
          $ref: '#/components/schemas/LaunchCommRequest'
    RuleRecipientName:
      type: object
      description: Refers to a contact rule (filter) by its name. Retrieve contact rule names using the [Everbridge Contact Filters API](https://developers.everbridge.net/internal/reference/ebs-v1-contact-filters)
      required:
      - type
      - name
      properties:
        type:
          type: string
          description: Must be set to exactly `Name`.
          enum:
          - Name
        name:
          type: string
          description: The name of the contact rule (filter).
    TextualMessageBody:
      allOf:
      - $ref: '#/components/schemas/LaunchMessageBody'
      - type: object
        required:
        - type
        - content
        - paths
        properties:
          attachments:
            type: array
            description: A set of system-generated IDs representing previously uploaded attachments. Note that attachments are aggregated across all message bodies (i.e. every message body gets the same attachments).
            items:
              type: string
          type:
            type: string
            description: A generic classifier of the message body, further refined by `contentType`. Must be set to exactly `Textual`.
            enum:
            - Textual
          content:
            type: string
            description: Text content to use as the body of the notification message.
          usePrefix:
            type: boolean
            description: If set to true, will prefix the message with organization-specific text prior to including the web page URL. Defaults to false. Currently only applies to message bodies with the `SMS` path category.
          paths:
            type: array
            description: "A set of contact delivery path types that this message body should be sent to.\n*Note*: Textual messages that are delivered to recipients using Audio path categories are read using text-to-speech. Text-to-speech is not available for the following languages:\n * Bengali (`bn_BD`)\n * Hebrew (`he_IL`)\n * Haitian Creole (`ht_HT`)\n * Indonesian (`id_ID`)\n * Thai (`th_TH`)\n * Ukrainian (`uk_UA`)\n * Urdu (`ur_PK`)\n * Vietnamese (`vi_VN`)\n * Yiddish (`yi_US`)"
            items:
              anyOf:
              - $ref: '#/components/schemas/AudioOnlyPathCategory'
              - $ref: '#/components/schemas/TextOnlyPathCategory'
    CommScheduleConfig:
      type: object
      description: The request body for creating or updating a comms schedule.
      oneOf:
      - $ref: '#/components/schemas/OneTimeScheduleConfig'
      - $ref: '#/components/schemas/FixedIntervalScheduleConfig'
      - $ref: '#/components/schemas/RecurringScheduleConfig'
    AlertUsPublicMessage:
      type: object
      description: The AlertUs public message content.
      required:
      - title
      - body
      properties:
        title:
          type: string
          description: The title of web widget message.
        body:
          type: string
          description: The core content of web widget message.
        alertUsSettingId:
          type: string
          description: The soap web setting id that defined in setting page
        alertUsRestSetting:
          type: array
          description: The rest setting configuration list of alert us
          items:
            $ref: '#/components/schemas/AlertUsSetting'
    AlertUsSetting:
      type: object
      description: The rest alert us setting content
      required:
      - id
      - profileId
      properties:
        id:
          type: string
          description: The identity of alert us rest setting that pre-defined on alert us setting page.
        profileId:
          type: string
          description: The profile identity of alert us rest setting that pre-defined on alert us setting page..
        duration:
          type: string
          description: The duration of the message,This is in formatted in the ISO 8601 "duration" format.
          example: PT5H
        groupNames:
          type: array
          description: The group name of alert us.
          items:
            type: string
    ApiSettings:
      type: object
      description: Settings that adjust how the communication is sent to the recipients.
      properties:
        id:
          type: string
          description: An optional ID of a preexisting set of settings. If provided along with any other settings in this object, the settings are merged so that any settings defined in this request override those stored in the settings at the given ID.
        defaultLanguage:
          $ref: '#/components/schemas/SupportedLanguages'
        sender:
          $ref: '#/components/schemas/SenderSettings'
        delivery:
          $ref: '#/components/schemas/DeliverySettings'
        recipientInteraction:
          $ref: '#/components/schemas/RecipientSettings'
    ContactRecipientId:
      type: object
      description: Refers to a contact recipient by its contact ID.
      required:
      - type
      - id
      properties:
        type:
          type: string
          description: Must be set to exactly `Id`.
          enum:
          - Id
        id:
          type: string
          description: The contact ID from the [Everbridge Contacts API](https://developers.everbridge.net/internal/reference/ebs-list-contacts).
    WebPageMessageBody:
      allOf:
      - $ref: '#/components/schemas/LaunchMessageBody'
      - type: object
        description: ''
        required:
        - type
        - content
        - paths
        properties:
          attachments:
            type: array
            description: A set of system-generated IDs representing previously uploaded attachments. Note that attachments are aggregated across all message bodies (i.e. every message body gets the same attachments).
            items:
              type: string
          type:
            type: string
            description: A generic classifier of the message body, further refined by `contentType`. Must be set to exactly `WebPage`.
            enum:
            - WebPage
          content:
            type: string
            description: Text content to use as the body of the web page.
          paths:
            type: array
            description: A set of contact delivery path types or path categories that this message body should be sent to.
            items:
              type: string
              enum:
              - CATEGORY:SMS
          usePrefix:
            type: boolean
            description: If set to true, will prefix the message with organization-specific text prior to including the web page URL. Defaults to false.
          additionalContent:
            type: string
            description: Optional additional plain text content to send with the initial message. Not included in the web page.
    CommScheduleResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        initialNextFireTime:
          type:
          - string
          - 'null'
          format: date-time
        nextFiredTime:
          type:
          - string
          - 'null'
          format: date-time
        lastFiredTime:
          type:
          - string
          - 'null'
          format: date-time
        lastFiredResult:
          $ref: '#/components/schemas/CommScheduleJobLog'
        scheduleConfig:
          $ref: '#/components/schemas/CommScheduleConfig'
        commsPayload:
          $ref: '#/components/schemas/LaunchCommRequest'
        created:
          type: string
          format: date-time
        createdBy:
          type: string
        createdByName:
          type: string
        updated:
          type: string
          format: date-time
        updatedBy:
          type: string
        updatedByName:
          type: string
      required:
      - id
      - status
      - name
      - scheduleConfig
      - commsPayload
      - created
      - createdBy
      - createdByName
      - updated
      - updatedBy
      - updatedByName
    AudioMessageBody:
      allOf:
      - $ref: '#/components/schemas/LaunchMessageBody'
      - type: object
        required:
        - type
        - attachmentId
        - paths
        properties:
          attachmentId:
            type: string
            description: The system-generated attachment ID referring to the audio file for this message.
          type:
            type: string
            description: A generic classifier of the message body, further refined by `contentType`. Must be set to exactly `Audio`.
            enum:
            - Audio
          paths:
            type: array
            description: A set of contact delivery path types that this message body should be sent to.
            items:
              $ref: '#/components/schemas/AudioOnlyPathCategory'
    RuleRecipientId:
      type: object
      description: Refers to a group of contact rules (filters) by an ID. Retrieve contact rule IDs using the [Everbridge Contact Filters API](https://developers.everbridge.net/internal/reference/ebs-v1-contact-filters)
      required:
      - type
      - id
      properties:
        type:
          type: string
          description: Must be set to exactly `Id`.
          enum:
          - Id
        id:
          type: string
          description: The contact rule (filter) ID.
    SmsSettings:
      type: object
      description: The SMS short code or phone number shown to recipients of text messages.
      required:
      - countryCode
      - smsId
      properties:
        countryCode:
          type: string
          description: The ISO 3166 two-letter code for the country where this phone number is valid. Please refer to [the Wikipedia page on ISO 3166 country codes](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes) for valid values.
        smsId:
          type: string
          description: The SMS ID to use when sending SMS messages to recipients residing in the country specified by `countryCode`.
          pattern: '^[a-zA-Z0-9]+(?: [a-zA-Z0-9]+)?$'
          minLength: 1
          maxLength: 11
    ResultSetQueryRecipients:
      type: object
      description: An ID of an existing CEM Results result set where the contacts cached within the result set are included as recipients in the communication.
      required:
      - type
      - id
      properties:
        type:
          type: string
          description: Must be set to exactly `ResultSet`.
          enum:
          - ResultSet
        id:
          type: string
          description: A valid result set ID. Must represent a set of entities that can be contacted (e.g. contacts, not assets).
          example: evbg+result:contact:cemp-1234567890abcdef01234567-abcdef01-2345-6789-abcd-ef0123456789:1697471720114
    RecipientSettings:
      type: object
      description: Settings that adjust how recipients respond to the communication.
      properties:
        confirm:
          type: boolean
          description: Request that recipients confirm that the notification was received.
        smsCallback:
          type: boolean
          description: Request that SMS recipients call to confirm delivery.
        voiceMailOption:
          type: string
          description: "Control how the system responds if it is sent to a recipient's voicemail inbox:\n * `MESSAGEONLY`: Leave a message but do not consider the notification confirmed.\n * `MESSAGEWITHCONFIRMATION`: Leave a message and consider the notification confirmed.\n * `NOMESSAGE`: Do not leave a message; the notification is not confirmed."
          enum:
          - MESSAGEONLY
          - MESSAGEWITHCONFIRMATION
          - NOMESSAGE
        mobileSettings:
          type: object
          properties:
            requestImage:
              type: boolean
              description: Request an image of recipients and their surroundings.
            requestLocation:
              type: boolean
              description: Request that recipients share their location.
            allowShare:
              type: boolean
              description: Allow recipients to share the message with others.
            requireConfirm:
              type: boolean
              description: Require that recipients confirm receipt.
            requestComment:
              type: boolean
              description: Request that recipients reply to the notification with a brief description of their status.
    CemResultsBooleanPropertyQuery:
      allOf:
      - $ref: '#/components/schemas/CemResultsPropertyQuery'
      - type: object
        required:
        - type
        description: Provides querying against boolean properties in Contacts and Assets.
        properties:
          type:
            type: string
            description: Must be set to exactly `Boolean`.
            enum:
            - Boolean
          value:
            type: boolean
            description: A boolean value to match against the properties.
    GroupRecipientName:
      type: object
      description: Refers to a group of contact recipients by a name as shown in the [Everbridge Groups API](https://developers.everbridge.net/internal/reference/ebs-list-groups).
      required:
      - type
      - name
      properties:
        type:
          type: string
          description: Must be set to exactly `Name`.
          enum:
          - Name
        name:
          type: string
          description: The name of the contact group.
    RecurringFrequency:
      type: object
      description: The frequency pattern for a recurring schedule.
      oneOf:
      - $ref: '#/components/schemas/YearlyFrequency'
      - $ref: '#/components/schemas/MonthlyFrequency'
      - $ref: '#/components/schemas/WeeklyFrequency'
      - $ref: '#/components/schemas/DailyFrequency'
    CemResultsPropertyQuery:
      type: object
      required:
      - ids
      properties:
        ids:
          type: array
          description: The IDs of the properties to query by.
    MonthlyFrequency:
      type: object
      required:
      - type
      - daySelector
      - time
      properties:
        type:
          type: string
          enum:
          - Monthly
        interval:
          type:
          - integer
          - 'null'
          minimum: 1
          maximum: 12
          description: Optional interval in months between executions (1-12).
        daySelector:
          type: object
          description: Selector for days in the month when the schedule triggers.
          oneOf:
          - type: object
            properties:
              dayCategory:
                type: string
                enum:
                - CalendarDay
              index:
                type: integer
                description: The calendar day index. 1-31 for the nth day of the month, -1 to -31 for counting backwards from the end (e.g., -1 is the last day of the month).
            required:
            - dayCategory
            - index
          - type: object
            properties:
              dayCategory:
                type: string
                enum:
                - WeekDay
              index:
                type: integer
                description: The week index in the month. 1-5 for the nth week from the start, -1 to -5 for counting backwards from the end (e.g., -1 is the last week of the month).
              dayOfWeek:
                type: integer
                minimum: 1
                maximum: 7
                description: The day of the week (1=Monday, 7=Sunday).
            required:
            - dayCategory
            - index
            - dayOfWeek
          - type: object
            properties:
              dayCategory:
                type: string
                enum:
                - WorkingDay
              index:
                type: integer
                description: The working day index in the month. 1-23 for the nth working day from the start, -1 to -23 for counting backwards from the end (e.g., -1 is the last working day of the month).
            required:
            - dayCategory
            - index
          - type: object
            properties:
              dayCategory:
                type: string
                enum:
                - NonWorkingDay
              index:
                type: integer
                description: The non-working day index in the month. 1-10 for the nth non-working day from the start, -1 to -10 for counting backwards from the end (e.g., -1 is the last non-working day of the month).
            required:
            - dayCategory
            - index
        time:
          type: string
          format: time
          description: The time of day when the schedule triggers (HH:mm:ss).
        timeZoneId:
          type:
          - string
          - 'null'
          description: Optional time zone identifier (e.g., `UTC`, `America/New_York`).
    CommScheduleBase:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        initialNextFireTime:
          type:
          - string
          - 'null'
          format: date-time
        nextFiredTime:
          type:
          - string
          - 'null'
          format: date-time
        lastFiredTime:
          type:
          - string
          - 'null'
          format: date-time
        lastFiredResult:
          $ref: '#/components/schemas/CommScheduleJobLog'
        scheduleConfig:
          $ref: '#/components/schemas/CommScheduleConfig'
        commsPayload:
          $ref: '#/components/schemas/CommSchedulePayloadBase'
        created:
          type: string
          format: date-time
        createdBy:
          type: string
        createdByName:
          type: string
        updated:
          type: string
          format: date-time
        updatedBy:
          type: string
        updatedByName:
          type: string
      required:
      - id
      - status
      - name
      - scheduleConfig
      - commsPayload
      - created
      - createdBy
      - createdByName
      - updated
      - updatedBy
      - updatedByName
    CemResultsStringPropertyQuery:
      allOf:
      - $ref: '#/components/schemas/CemResultsPropertyQuery'
      - type: object
        required:
        - type
        description: Provides querying against string properties in Contacts and Assets.
        properties:
          type:
            type: string
            description: Must be set to exactly `String`.
            enum:
            - String
          values:
            type: array
            description: The values to match against the properties.
            items:
              type: string
    WebWidgetPublicMessage:
      type: object
      description: The web widget public message content.
      required:
      - title
      - body
      - stream
      properties:
        title:
          type: string
          description: The title of web widget message.
        body:
          type: string
          description: The core content of web widget message.
        ewwEndDate:
          type: string
          description: end date as an ISO 8601-compliant value to custom end data of web widget message.This value must be after the current date
          example: '2024-07-07T20:06:09.734385Z'
        stream:
          type: string
          description: The steam of web widget message.
        duration:
          type: string
          description: The amount of time, beginning at the web widget message launch, to expiring the message. This is in formatted in the ISO 8601 "duration" format.
          example: PT5H
    DailyFrequency:
      type: object
      required:
      - type
      - time
      properties:
        type:
          type: string
          enum:
          - Daily
        interval:
          type:
          - integer
          - 'null'
          description: Optional interval in days between executions.
        time:
          type: string
          format: time
          description: The time of day when the schedule triggers (HH:mm:ss).
        timeZoneId:
          type:
          - string
          - 'null'
          description: Optional time zone identifier (e.g., 'UTC', 'America/New_York').
    CAPPublicMessage:
      type: object
      description: A CAP public-message body targeted at one or more CAP modalities (paths). Shared CAP transport metadata is carried under `cap`. Multiple CAP public messages are allowed as long as their paths do not overlap.
      required:
      - paths
      - cap
      properties:
        body:
          type: string
          description: The CAP message body for the targeted modalities.
        paths:
          type: array
          description: The CAP delivery modalities this body applies to. A modality may be targeted by at most one CAP public message.
          items:
            type: string
            enum:
            - IPAWS
            - CAP_GOOGLE
            - CAP_RSS
        cap:
          $ref: '#/components/schemas/CapContent'
    CemResultsTravelLocationType:
      type: object
      description: Specifies how to include contacts with travel location types in CEM Results.
      required:
      - type
      properties:
        type:
          type: string
          description: Must be set to exactly `Travel`.
          enum:
          - Travel
        domesticInternationalStatuses:
          type: array
          description: A list of domestic international travel statuses.
          items:
            type: string
        localTravelStatuses:
          type: array
          description: A list of local travel statuses.
          items:
            type: string
        travelTypes:
          type: array
          description: Depicts whether a contact is arriving, departing, or transitioning to a location.
          items:
            type: string
            enum:
            - Arrival
            - Departure
            - Transit
        segmentTypes:
          type: array
          description: Depicts a contact's mode of transportation to a location.
          items:
            type: string
            enum:
            - Car
            - Hotel
            - Air
            - Rail
    Geometry:
      type: object
      description: A geojson representation of a map shape.
    AudioOnlyPathCategory:
      type: string
      description: A group of contact path types that only support audio messaging.
      enum:
      - CATEGORY:VOICE
  securitySchemes:
    API_Authorizer:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: custom
      x-amazon-apigateway-authorizer:
        authorizerUri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:214792946631:function:API_Authorizer_us-east-1_prod:live/invocations
        authorizerCredentials: arn:aws:iam::214792946631:role/comms-unified-gateway-prod-us-us-east-1-0-us-east-1-gw
        authorizerResultTtlInSeconds: 300
        identitySource: method.request.header.Authorization,method.request.header.PathCacheKey,method.request.header.MethodCacheKey
        type: request
    api_key:
      type: apiKey
      name: x-api-key
      in: header
x-readme:
  explorer-enabled: true
  proxy-enabled: true
