openapi: 3.2.0
info:
  title: Digital Apps Internal Mobile Service Providers API
  description: 'Digital Apps APIs bring Everbridge notification functionality to your company''s mobile, desktop or web applications. '
  version: v1
servers:
- url: https://api.everbridge.net/digitalapps/v2
tags:
- name: Internal Mobile Service Providers
  description: Service Providers operations
paths:
  /providers:
    get:
      tags:
      - Internal Mobile Service Providers
      summary: List Providers
      description: List providers information.
      operationId: ebs-daa-list-service-providers
      parameters:
      - name: Client-Id
        in: header
        description: Custom app client id
        required: true
        schema:
          type: string
        example: 3efb35a2-fdee-44bb-b476-2a45cada8b00
      - name: Authorization
        in: header
        description: Access token
        required: true
        schema:
          type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE
      responses:
        '200':
          description: Retrieve provider search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceProvider'
      security:
      - API_Authorizer: []
      x-amazon-apigateway-integration:
        httpMethod: get
        uri: https://mobilemember.everbridge.net/api/v2/providers
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        passthroughBehavior: when_no_match
components:
  schemas:
    CategoryGroup:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
    Service:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        category:
          $ref: '#/components/schemas/ServiceCategory'
        provider:
          $ref: '#/components/schemas/ServiceProvider'
        expose:
          type: boolean
        mandatory:
          type: boolean
        weatherServices:
          type: array
          items:
            $ref: '#/components/schemas/WeatherService'
    Category:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    ServiceGroup:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        categories:
          type: array
          items:
            $ref: '#/components/schemas/ServiceCategory'
    ServiceCategory:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        group:
          $ref: '#/components/schemas/ServiceGroup'
        services:
          type: array
          items:
            $ref: '#/components/schemas/Service'
        mandatory:
          type: boolean
        expose:
          type: boolean
        type:
          type: string
          enum:
          - Events
          - Customized
          - Weather
    WeatherService:
      type: object
      properties:
        id:
          type: integer
          format: int64
        weatherType:
          $ref: '#/components/schemas/WeatherType'
        weatherTypeId:
          type: string
        weatherGroupId:
          type: string
        weatherProviderId:
          type: string
        originalWeatherTypes:
          type: array
          items:
            type: string
        type:
          type: string
          enum:
          - AutoAlert
          - Threshold
          - All
        title:
          type: string
        lastModifiedDate:
          type: string
          format: date-time
    ServiceProvider:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        services:
          type: array
          items:
            $ref: '#/components/schemas/Service'
        categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
        categoryGroups:
          type: array
          items:
            $ref: '#/components/schemas/CategoryGroup'
    WeatherType:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
          - Warning
          - Watch
          - Advisory
          - Statement
          - Outlook
          - Alert
          - Potentially_Dangerous
          - Very_Dangerous
          - Dangerous
        overridden:
          type: boolean
        seq:
          type: integer
          format: int32
        lastModifiedDate:
          type: string
          format: date-time
  securitySchemes:
    API_Authorizer:
      type: apiKey
      name: Authorization
      in: header
      x-amazon-apigateway-authtype: custom
      x-amazon-apigateway-authorizer:
        authorizerUri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:214792946631:function:API_Authorizer_us-east-1_prod:live/invocations
        authorizerCredentials: arn:aws:iam::214792946631:role/ebs-mobile-member-api-prod-us-us-east-1-0-us-east-1-gw
        authorizerResultTtlInSeconds: 300
        identitySource: method.request.header.Authorization,method.request.header.PathCacheKey,method.request.header.MethodCacheKey
        type: request
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
