openapi: 3.2.0
info:
  description: EB Suite APIs.
  title: EB Suite Custom Roles API
  version: '1.0'
servers:
- url: https://api.everbridge.net/rest
- url: https://api.everbridge.eu/rest
tags:
- description: EB Suites - Custom Roles.
  name: Custom Roles
paths:
  /v1/roles:
    get:
      description: Retrieve all roles within an organization, with optional filtering by roleTemplate.
      operationId: EBS Get Custom Roles In Organization
      parameters:
      - description: Organization ID
        in: query
        name: organizationId
        required: true
        schema:
          type: integer
      - description: 'Filter the roles based on the roleTemplate. '
        in: query
        name: roleTemplate
        required: false
        schema:
          description: The valid roleTemplate value for custom-role query.
          enum:
          - CUSTOMIZED
          - DATA_MANAGER
          - GROUP_MANAGER
          - DISPATCHER
          - INCIDENT_ADMIN
          - INCIDENT_OPERATOR
          - MASS_NOTIFICATION_OPERATOR
          - ORGANIZATION_ADMIN
          type: string
      - description: The page number of query result. The default value is 1.
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          type: integer
      - description: The page size of query result. The default value is 100.
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          type: integer
      - description: To control if the response should include detailed role data.
        in: query
        name: verbose
        required: false
        schema:
          default: false
          type: boolean
      responses:
        '200':
          content:
            application/json:
              examples:
                verboseIsFalse:
                  summary: verbose=false
                  value:
                    firstPageUri: https://api-dev3.everbridge.net/rest/v1/roles?organizationId=1561998001176578&verbose=false&pageNumber=1
                    lastPageUri: https://api-dev3.everbridge.net/rest/v1/roles?organizationId=1561998001176578&verbose=false&pageNumber=1
                    message: OK
                    page:
                      currentPageNo: 1
                      data:
                      - baseRoleTemplate: DATA_MANAGER
                        id: 443345314775163
                        name: CR-demoPatch
                        roleTemplate: CUSTOMIZED
                      - baseRoleTemplate: DATA_MANAGER
                        id: 443345314775171
                        name: COR-121037-a115a
                        roleTemplate: CUSTOMIZED
                      pageSize: 100
                      start: 0
                      totalCount: 2
                      totalPageCount: 1
                verboseIsTrue:
                  summary: verbose=true
                  value:
                    firstPageUri: https://api-dev3.everbridge.net/rest/v1/roles?organizationId=1561998001176578&verbose=true&pageNumber=1
                    lastPageUri: https://api-dev3.everbridge.net/rest/v1/roles?organizationId=1561998001176578&verbose=true&pageNumber=1
                    message: OK
                    page:
                      currentPageNo: 1
                      data:
                      - baseRoleTemplate: DATA_MANAGER
                        createdDate: '2025-04-24T04:03:59.576Z'
                        createdName: georgeRestApi Dahui
                        id: 443345314775163
                        lastModifiedDate: '2025-05-07T02:13:02.713Z'
                        lastModifiedName: georgeRestApi Dahui
                        name: CR-demoPatch
                        organizationId: 1561998001176578
                        permissionScope:
                          accessEverbridgeMobileAppMessages: false
                          accessFlowDesigner: false
                          accessRIMCAlerts: false
                          accessRIMCFeedsAndAlerts: false
                          accessSafetyMessages: false
                          accessWeatherAlerts: false
                          accountSettings: false
                          addContactsToGroups: true
                          additionalInformation: false
                          alertActions: false
                          alertCustomActions: false
                          alertManagement: false
                          amexGBTTravelConnector: false
                          assetManagement: false
                          assetManagementSetting: false
                          broadcastDefaultSetting: false
                          cemAnalyticsCustomDashboard: false
                          cmAddDownloadReports: false
                          cmAddTaskListsToEvent: false
                          cmAddUpdateCopyDownloadFormReports: false
                          cmDeleteCriticalEvents: false
                          cmDeleteReports: false
                          cmDeleteShareTrackers: false
                          cmDeleteSingleEventDashboards: false
                          cmDeleteSubmissions: false
                          cmDeleteSubmissionsFromEvent: false
                          cmDeleteTaskListsFromEvent: false
                          cmDeleteTrackerRecords: false
                          cmDownloadAffectedAssets: false
                          cmDownloadCriticalEvents: false
                          cmExportAuditLogs: false
                          cmGetMultipleEventDashboardPublicLink: false
                          cmLaunchUpdateCriticalEvents: false
                          cmLaunchUpdateTaskListsInEvent: false
                          cmLinkSubmissionsToEvents: false
                          cmLockTaskOrder: false
                          cmLockUnlockDeleteFormReports: false
                          cmManageAffectedAssetAggregations: false
                          cmManageCriticalEventTemplates: false
                          cmManageDocumentLibrary: false
                          cmManageDocumentsInEvent: false
                          cmManageDocumentsInEventTemplate: false
                          cmManageFolders: false
                          cmManageForms: false
                          cmManageIncidentTemplatesInEvent: false
                          cmManageIncidentTemplatesInEventTemplate: false
                          cmManageLegacySituationReports: false
                          cmManageMultipleEventDashboardWidgets: false
                          cmManageNotesInEvent: false
                          cmManageSingleEventDashboards: false
                          cmManageSubmissions: false
                          cmManageTaskListTemplates: false
                          cmManageTrackerTabs: false
                          cmManageTrackers: false
                          cmManageWidgetLibrary: false
                          cmPublishEventToContacts: false
                          cmSetSubmissionStatus: false
                          cmShareFormWithContacts: false
                          cmViewAffectedAssetAggregations: false
                          cmViewAffectedAssets: false
                          cmViewAuditLogs: false
                          cmViewCriticalEventTemplates: false
                          cmViewCriticalEvents: false
                          cmViewDownloadDocumentLibrary: false
                          cmViewFolders: false
                          cmViewForms: false
                          cmViewIncidentTemplatesInEvent: false
                          cmViewIncidentTemplatesInEventTemplate: false
                          cmViewMultipleEventDashboards: false
                          cmViewReports: false
                          cmViewSingleEventDashboards: false
                          cmViewSubmissions: false
                          cmViewTaskListTemplates: false
                          cmViewTrackers: false
                          cmViewWidgetLibrary: false
                          communicationCreate: false
                          communicationRecipientSettings: false
                          communicationSettings: false
                          communicationTemplateCreate: false
                          communicationTemplateDelete: false
                          communicationTemplateUpdate: false
                          communicationTemplateView: false
                          communicationView: false
                          concurV2: false
                          contactAddEditDeleteViewListDownloadAddtogroupSaveasrule: false
                          contactAndGroupSettings: false
                          contactTracingCorpAnonymous: false
                          contactTracingCorpSetting: false
                          contactTracingHarald: false
                          contactTracingSlg: false
                          createAmsMessage: false
                          createAndEditAssetType: false
                          createAsset: false
                          createContacts: true
                          createEditDeleteCustomReport: true
                          createEditDeleteGroups: true
                          createEditDeleteMessageTemplate: false
                          createEditDeleteResponseSubscriptions: false
                          createEditDeleteRules: true
                          createEditDeleteSchedules: false
                          createEditViewCockpitWorkFlows: false
                          createNotification: false
                          createScheduleIncident: false
                          createUpdateSurveyTemplate: false
                          crisisEventTypeSetting: false
                          crossOrgContactUpload: false
                          crossOrganizationBroadcastSetting: false
                          crossOrganizationNewNotificationAddSendnowSaveasbroadcasttemplateSaveasmessagetemplateUploadattachedfile: false
                          customFromEmail: false
                          customReportIncidentAddEditDeleteViewListExport: false
                          customReportIncidentScenarioAddEditDeleteViewListExport: false
                          customReportMatrixNotificationAddEditDeleteViewListExport: false
                          customReportNotificationAddEditDeleteViewListExport: false
                          customReportScenarioNotificationAddEditDeleteViewListExport: false
                          customReportTravelAddEditDeleteViewListExport: false
                          customRoleTestFeature1: false
                          customRoleTestFeature10: false
                          customRoleTestFeature101: false
                          customRoleTestFeature102: false
                          customRoleTestFeature103: false
                          customRoleTestFeature104: false
                          customRoleTestFeature105: false
                          customRoleTestFeature106: false
                          customRoleTestFeature107: false
                          customRoleTestFeature108: false
                          customRoleTestFeature109: false
                          customRoleTestFeature110: false
                          customRoleTestFeature111: false
                          customRoleTestFeature112: false
                          customRoleTestFeature113: false
                          customRoleTestFeature114: false
                          customRoleTestFeature115: false
                          customRoleTestFeature116: false
                          customRoleTestFeature117: false
                          customRoleTestFeature118: false
                          customRoleTestFeature2: false
                          customRoleTestFeature3: false
                          customRoleTestFeature4: false
                          customRoleTestFeature5: false
                          customRoleTestFeature6: false
                          customRoleTestFeature7: false
                          customRoleTestFeature8: false
                          customRoleTestFeature9: false
                          customSenderSmsId: false
                          customSmsCodes: false
                          customizableButton: false
                          dashboardView: false
                          deleteAmsMessage: false
                          deleteAsset: false
                          deleteAssetType: false
                          deleteContacts: true
                          directoryChat: false
                          disableNixleShortURL: false
                          downloadContacts: true
                          eb360LaunchCrisisEvent: false
                          ebAdminAccountAdminUserCreate: false
                          ebAdminAccountAdminUserDelete: false
                          ebAdminAccountAdminUserEdit: false
                          ebAdminAccountAdminUserReset-password: false
                          ebAdminAccountAdminUserSwitch: false
                          ebAdminAccountAdminUserView: false
                          ebAdminAccountClientType: false
                          ebAdminAccountCreate: false
                          ebAdminAccountDemoType: false
                          ebAdminAccountEdit: false
                          ebAdminAccountInternalType: false
                          ebAdminAccountNixleStandaloneType: false
                          ebAdminAccountPartnerType: false
                          ebAdminAccountPilotType: false
                          ebAdminAccountStaffType: false
                          ebAdminAccountSwitch: false
                          ebAdminAccountTslimit: false
                          ebAdminAccountView: false
                          ebAdminApiUserCreate: false
                          ebAdminApiUserDelete: false
                          ebAdminApiUserRate-limit: false
                          ebAdminApiUserView: false
                          ebAdminAutoProvisionAll: false
                          ebAdminAutoProvisionView: false
                          ebAdminContactSyncGroupCreate: false
                          ebAdminContactSyncGroupEdit: false
                          ebAdminContactSyncGroupSwitch: false
                          ebAdminContactSyncGroupView: false
                          ebAdminContractSubscriptionCreate: false
                          ebAdminContractSubscriptionDelete: false
                          ebAdminContractSubscriptionEdit: false
                          ebAdminContractSubscriptionView: false
                          ebAdminEmployeeUserDelete: false
                          ebAdminEmployeeUserSwitch: false
                          ebAdminEmployeeUserView: false
                          ebAdminNetworkGroupCreate: false
                          ebAdminNetworkGroupEdit: false
                          ebAdminNetworkGroupSwitch: false
                          ebAdminNetworkGroupView: false
                          ebAdminNixleAll: false
                          ebAdminOrganizationCreate: false
                          ebAdminOrganizationEdit: false
                          ebAdminOrganizationSwitch: false
                          ebAdminOrganizationView: false
                          ebAdminProvisioningUserAccount-full-access: false
                          ebAdminProvisionmappingCreate: false
                          ebAdminProvisionmappingDelete: false
                          ebAdminProvisionmappingEdit: false
                          ebAdminProvisionmappingView: false
                          ebAdminReportsAll: false
                          ebAdminRoleCreate: false
                          ebAdminRoleDelete: false
                          ebAdminRoleEdit: false
                          ebAdminRoleView: false
                          ebAdminSmartConferenceAll: false
                          ebAdminSupportAccount: false
                          ebAdminSupportAccount-account-admin-only: false
                          ebAdminSupportAccount-full-access: false
                          ebAdminSupportAssume-client-user: false
                          ebAdminSupportTerminateSession: false
                          ebAdminSupportUserCreate: false
                          ebAdminSupportUserDelete: false
                          ebAdminSupportUserEdit: false
                          ebAdminSupportUserReset-password: false
                          ebAdminSupportUserSwitch: false
                          ebAdminSupportUserView: false
                          ebAdminSupportView: false
                          ebAdminUserCreate: false
                          ebAdminUserDelete: false
                          ebAdminUserEdit: false
                          ebAdminUserReset-password: false
                          ebAdminUserSwitch: false
                          ebAdminUserView: false
                          ebOpenIpaas: false
                          editAmsMessage: false
                          editAsset: false
                          editDeleteViewsOthervccs: false
                          editNotificationTemplate: false
                          emailIngestion: false
                          emailIngestionView: false
                          enforcePrivacyOptions: false
                          euWeatherAlerts: false
                          eventTypeCreate: false
                          eventTypeDelete: false
                          eventTypeEdit: false
                          filterByImport: false
                          gisSetting: false
                          googlePublicAlertsSetting: false
                          googleTranslate: false
                          groupAddEditDeleteViewListRemovecontactfromgroup: false
                          groupSetting: true
                          historicalRiskEventVisualization: false
                          incidentChat: false
                          incidentScenarioSettings: false
                          incidentTemplateAddEditDeleteViewListCopy: false
                          incidentTemplateDownloadUpload: false
                          incidentZonePrivateInIncident: false
                          incidentZonePublicInIncident: false
                          incidentZonePublicInNotification: false
                          incidentZonesPrivateInNotification: false
                          increaseZoomLevels: true
                          informationVariableAddEditDeleteViewListCopy: false
                          interactiveVisibility: false
                          internationalSOSTravelConnector: false
                          itaDashboard: false
                          itaDashboardSettings: false
                          kmlPermanetFeed: false
                          launchAndUpdateCommunicationsInTrainingModeOnly: false
                          launchByPhoneSettings: false
                          launchCommunicationWithoutTemplate: false
                          launchIncident: false
                          launchIncidentByPhone: false
                          launchMultipleCommunications: false
                          launchNotificationByPhone: false
                          limitedAlerting: false
                          listAmsMessage: false
                          listEditNotification: false
                          locationDataRetention: false
                          locationInWeatherAlertsVoice: false
                          locationTracingInsideGeofence: false
                          loginToSnapcomms: false
                          manageBookingAlerts: false
                          manageBuildings: false
                          manageRiskIntelligence: false
                          manageScenarioTemplate: false
                          manageScheduleNotification: false
                          manageTravelApprovalPolicies: false
                          manageTravelConnector: false
                          manageTravelItineraries: false
                          mapFindcontactSelectcontactMaplayer: false
                          memberPortalAlternativeRegistration: false
                          memberPortalNationalRegistryLoginUms: false
                          memberPortalOptInGroups: false
                          memberPortalSetting: false
                          memberPortalTestNotifications: false
                          memberPortalWeatherPages: false
                          mobileAppSafetySettingsSAFETY_DEVICE_RISKBAND: false
                          mobileFollowup: false
                          mobileOptin: false
                          mobileRebroadcast: false
                          mobileSecureMessage: false
                          mobileSend: false
                          mobileSendtemplate: false
                          mobileStop: false
                          moveRemoveContactsFromGroups: true
                          nationalRegistry: false
                          nixleEventSubscriptionsSettings: false
                          notificationButtonNotificationwidget: false
                          notificationShownotification: false
                          notificationsToMemberPortalSetting: false
                          onlyEditRulesWithSameRole: false
                          orchestrationRules: false
                          organizationSettingSetting: false
                          organizationUserRoleManagement: false
                          pointAddressGeocoding: false
                          precisiongisCustomMap: false
                          publishOptionABBSettings: false
                          publishOptionCAPRSSSettings: false
                          publishOptionPABBSettings: false
                          publishOptionsIPAWSSettings: false
                          publishToABB: false
                          publishToAlertus: false
                          publishToCAPRSS: false
                          publishToCOGToCOG: false
                          publishToEAS: false
                          publishToEBDesktopAlerts: false
                          publishToEBNetwork: false
                          publishToEBWebWidget: false
                          publishToGPA: false
                          publishToMemberPortal: false
                          publishToNWEM: false
                          publishToNixleCommunitySubscribers: false
                          publishToNixleEventSubscribers: false
                          publishToSocialMedia: false
                          publishToWEA: false
                          publishToWebPosting: false
                          quickReportView: false
                          rcNa: false
                          registryPortalSettings: false
                          reopenIncident: false
                          reportingPlatformCreator: false
                          reportingPlatformExportData: false
                          reportingPlatformSchedule: false
                          reportingPlatformViewer: false
                          restrictNotificationToSimulation: false
                          restrictToIncidentSimulationOnly: false
                          restrictionEditDeleteScenarios: true
                          restrictionEditDeleteTemplates: true
                          roleAddEditDeleteViewList: false
                          safetyBridgeAppleWatch: false
                          safetyBridgeItag: false
                          safetyDevice: false
                          safetyDevicePersonal: false
                          safetyDeviceRiskband: false
                          safetyDevicesRegistrationAndConfiguration: false
                          safetyThresholdSettings: false
                          scenarioLaunchManage: false
                          schedulingSend: false
                          schedulingView: true
                          secureP2pCarechat: false
                          secureP2pDecryption: false
                          secureP2pHipaachat: false
                          secureP2pSecurebridge: false
                          securePush: false
                          sequencedGroup: true
                          singleSignOn: false
                          smartConferenceBridge: false
                          smartOrchestration: false
                          smartOrchestrationEnableWorkflowEditing: false
                          smartSecurity: false
                          smartSecurityUseAdminConsole: false
                          smartSecurityUseOperatorConsole: false
                          socialMediaSettings: false
                          templateSend: false
                          testNewFeature: false
                          travelConnectors: false
                          triggers: false
                          twitterShowtwitterwidget: false
                          uploadAsset: false
                          uploadContacts: false
                          uploadDynamicLocations: false
                          usWeatherAlerts: false
                          usageReport: false
                          usageReportApiMetricSource: false
                          usageReportContact: false
                          usageReportMessagingMinutes: false
                          usageReportRiskEvents: false
                          usageReportSetting: false
                          useAlertManagementUi: false
                          userAddEditDeleteListEnableDisabledSendmailLinkcontact: false
                          variableCreate: false
                          variableDelete: false
                          variableUpdate: false
                          variableView: false
                          vccAdminConsole: false
                          vccOperatorConsole: false
                          vccUseChannels: false
                          vccUseCustomAlertActions: false
                          viewAllIncidents: false
                          viewAmsMessage: false
                          viewAndDownloadAsset: false
                          viewAndExportEventLog: false
                          viewAssetType: false
                          viewBuildingAirportRailwayStationLayer: false
                          viewCockpitWorkFlows: false
                          viewContactLocationHistory: false
                          viewContactTracingInformation: false
                          viewDownloadAllContacts: true
                          viewDownloadEditAllContacts: true
                          viewItinerariesAndSegments: false
                          viewLastKnownAndExpectedLocation: false
                          viewNotificationTemplate: false
                          viewResponseSubscriptions: false
                          viewRiskIntelligence: false
                          viewSurveyTemplate: false
                          viewTravelReports: false
                          wdtPremium: false
                          weatherFeaturesOption: false
                          webhookSubscription: false
                          xmIncidents: false
                          xmattersFlowDesigner: false
                        resourceScope:
                          calendar:
                            accessScope: selected
                            calendarsSelected:
                            - '1707408413949953'
                            restrictOwned: true
                            restrictSelected: false
                          communication:
                            incident:
                              canViewAll: false
                              isRestrictToOwnerRole: true
                            incidentTemplate:
                              accessScope: all
                              isRestrictToOwnerRole: true
                            isAccessToAllResource: false
                            notification:
                              isRestrictToOwnerRole: true
                            notificationTemplate:
                              accessScope: all
                              isRestrictToOwnerRole: true
                            scenarioTemplate:
                              accessScope: all
                              isRestrictToOwnerRole: true
                          contact:
                            accessScope: selected
                            dynamicGroupIds: []
                            groupIds:
                            - 1759085460456471
                        roleTemplate: CUSTOMIZED
                      - createdDate: '2021-12-14T02:36:13.744Z'
                        createdName: Haihui - Dev3 Wang
                        id: 1561998001176579
                        lastModifiedDate: '2024-11-26T01:57:28.701Z'
                        lastModifiedName: Haihui - Dev3 Wang
                        name: Organization Admin
                        organizationId: 1561998001176578
                        roleTemplate: ORGANIZATION_ADMIN
                      pageSize: 100
                      start: 0
                      totalCount: 2
                      totalPageCount: 1
              schema:
                oneOf:
                - properties:
                    message:
                      type: string
                    result:
                      properties:
                        baseRoleTemplate:
                          type: string
                        id:
                          type: integer
                        name:
                          type: string
                        roleTemplate:
                          type: string
                      type: object
                  type: object
                - properties:
                    message:
                      type: string
                    result:
                      properties:
                        baseRoleTemplate:
                          type: string
                        id:
                          type: integer
                        name:
                          type: string
                        organizationId:
                          type: integer
                        permissionScope:
                          properties:
                            configurable:
                              items:
                                properties:
                                  apiFeatureName:
                                    type: string
                                  value:
                                    type: boolean
                                type: object
                              type: array
                            unavailable:
                              items:
                                type: string
                              type: array
                            unconfigurable:
                              items:
                                properties:
                                  apiFeatureName:
                                    type: string
                                  value:
                                    type: boolean
                                type: object
                              type: array
                          type: object
                        resourceScope:
                          properties:
                            calendar:
                              properties:
                                accessScope:
                                  description: The valid access scope values. The default value is 'all'.
                                  enum:
                                  - all
                                  - selected
                                  - roleOwned
                                  type: string
                                calendarsSelected:
                                  items:
                                    type: string
                                  type: array
                                restrictOwned:
                                  type: boolean
                                restrictSelected:
                                  type: boolean
                              type: object
                            communication:
                              properties:
                                incident:
                                  properties:
                                    canViewAll:
                                      type: boolean
                                    isRestrictToOwnerRole:
                                      type: boolean
                                  type: object
                                incidentTemplate:
                                  properties:
                                    accessScope:
                                      description: The valid access scope values. The default value is 'all'.
                                      enum:
                                      - all
                                      - selected
                                      type: string
                                    isRestrictToOwnerRole:
                                      type: boolean
                                    templateList:
                                      items:
                                        type: integer
                                      type: array
                                  type: object
                                isAccessToAllResource:
                                  type: boolean
                                notification:
                                  properties:
                                    canViewAll:
                                      type: boolean
                                    isRestrictToOwnerRole:
                                      type: boolean
                                  type: object
                                notificationTemplate:
                                  properties:
                                    accessScope:
                                      description: The valid access scope values. The default value is 'all'.
                                      enum:
                                      - all
                                      - selected
                                      type: string
                                    isRestrictToOwnerRole:
                                      type: boolean
                                    templateList:
                                      items:
                                        type: integer
                                      type: array
                                  type: object
                                scenarioTemplate:
                                  properties:
                                    accessScope:
                                      description: The valid access scope values. The default value is 'all'.
                                      enum:
                                      - all
                                      - selected
                                      type: string
                                    isRestrictToOwnerRole:
                                      type: boolean
                                    templateList:
                                      items:
                                        type: integer
                                      type: array
                                  type: object
                              type: object
                            contact:
                              properties:
                                accessScope:
                                  description: The valid access scope values. The default value is 'all'.
                                  enum:
                                  - all
                                  - selected
                                  type: string
                                dynamicGroupIds:
                                  items:
                                    type: integer
                                  type: array
                                groupIds:
                                  items:
                                    type: integer
                                  type: array
                              type: object
                          type: object
                        roleTemplate:
                          type: string
                      type: object
                  type: object
          description: Success
        '400':
          content:
            application/json:
              examples:
                Invalid OrganizationId:
                  summary: Invalid OrganizationId
                  value:
                    error:
                      detail: 'Invalid OrganizationId: the specified organization does not exist in current account.'
                      errorCode: RS-10002
                      httpStatus: 400
                      id: 308172ca-9639-4c6e-b1a1-c9e750bff12c:1748339407
                      message: Client input with wrong parameter. For details, Please check Role service log.
                      timestamp: 2025-05-27T09:50:08.949+0000
          description: Invalid OrganizationId
        '401':
          content:
            application/json:
              examples:
                Invalid Credentials:
                  summary: Invalid Credentials
                  value:
                    message: User does not have API permissions for this method
                    status: 401
              schema:
                properties:
                  message:
                    type: string
                  status:
                    type: integer
                type: object
          description: Invalid Credentials
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: List Custom Roles
      tags:
      - Custom Roles
      x-amazon-apigateway-integration:
        httpMethod: GET
        passthroughBehavior: when_no_match
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/
    post:
      description: 'Create a new custom role based on a baseRoleTemplate or baseRole.<br/>Note: You must specify either baseRoleTemplate or baseRole, but not both or neither.<br/>You can refer to the provided [file-link](https://manager.everbridge.net/docs?docLocation=/fe-manager-portal-role/assets/APIFeatureName.pdf) whenever needed to identify the corresponding apiFeatureName for your API requests based on the UI feature name.'
      operationId: EBS Create Custom Role
      parameters:
      - description: To control if the response should include detailed role data.
        in: query
        name: verbose
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            examples:
              Create role based on another role.:
                summary: Create role based on another role.
                value:
                  baseRoleId: 2676144193143000
                  name: restAPI_CR_demo-2
                  organizationId: 1561998001176578
                  roleTemplate: CUSTOMIZED
              Create role based on roleTemplate:
                summary: Create role based on roleTemplate
                value:
                  baseRoleTemplate: DISPATCHER
                  name: restAPI_CR_demo-1
                  organizationId: 1561998001176578
                  roleTemplate: CUSTOMIZED
            schema:
              properties:
                baseRoleId:
                  description: An existing custom role within the organization that can be used as a starting point for defining your custom role.
                  type: string
                baseRoleTemplate:
                  description: A predefined system role that serves as a starting point for defining your custom role. Either baseRoleTemplate or baseRoleId is required for creating/updating a Custom Role.
                  enum:
                  - DATA_MANAGER
                  - DISPATCHER
                  - GROUP_MANAGER
                  - INCIDENT_ADMIN
                  - INCIDENT_OPERATOR
                  type: string
                name:
                  type: string
                organizationId:
                  type: integer
                permissionScope:
                  properties:
                    configurable:
                      items:
                        properties:
                          apiFeatureName:
                            type: string
                          value:
                            type: boolean
                        type: object
                      type: array
                    unavailable:
                      items:
                        type: string
                      type: array
                    unconfigurable:
                      items:
                        properties:
                          apiFeatureName:
                            type: string
                          value:
                            type: boolean
                        type: object
                      type: array
                  type: object
                resourceScope:
                  properties:
                    calendar:
                      properties:
                        accessScope:
                          description: The valid access scope values. The default value is 'all'.
                          enum:
                          - all
                          - selected
                          - roleOwned
                          type: string
                        calendarsSelected:
                          items:
                            type: string
                          type: array
                        restrictOwned:
                          type: boolean
                        restrictSelected:
                          type: boolean
                      type: object
                    communication:
                      properties:
                        incident:
                          properties:
                            canViewAll:
                              type: boolean
                            isRestrictToOwnerRole:
                              type: boolean
                          type: object
                        incidentTemplate:
                          properties:
                            accessScope:
                              description: The valid access scope values. The default value is 'all'.
                              enum:
                              - all
                              - selected
                              type: string
                            isRestrictToOwnerRole:
                              type: boolean
                            templateList:
                              items:
                                type: integer
                              type: array
                          type: object
                        isAccessToAllResource:
                          type: boolean
                        notification:
                          properties:
                            canViewAll:
                              type: boolean
                            isRestrictToOwnerRole:
                              type: boolean
                          type: object
                        notificationTemplate:
                          properties:
                            accessScope:
                              description: The valid access scope values. The default value is 'all'.
                              enum:
                              - all
                              - selected
                              type: string
                            isRestrictToOwnerRole:
                              type: boolean
                            templateList:
                              items:
                                type: integer
                              type: array
                          type: object
                        scenarioTemplate:
                          properties:
                            accessScope:
                              description: The valid access scope values. The default value is 'all'.
                              enum:
                              - all
                              - selected
                              type: string
                            isRestrictToOwnerRole:
                              type: boolean
                            templateList:
                              items:
                                type: integer
                              type: array
                          type: object
                      type: object
                    contact:
                      properties:
                        accessScope:
                          description: The valid access scope values. The default value is 'all'.
                          enum:
                          - all
                          - selected
                          type: string
                        dynamicGroupIds:
                          items:
                            type: integer
                          type: array
                        groupIds:
                          items:
                            type: integer
                          type: array
                      type: object
                  type: object
              required:
              - name
              - organizationId
              type: object
      responses:
        '200':
          content:
            application/json:
              examples:
                verboseIsFalse:
                  summary: verbose=false
                  value:
                    baseUri: https://api-dev3.everbridge.net/rest/v1/roles?verbose=false
                    id: 443345314775176
                    instanceUri: https://api-dev3.everbridge.net/rest/v1/roles/443345314775176?verbose=false
                    message: OK
                verboseIsTrue:
                  summary: verbose=true
                  value:
                    baseUri: https://api-dev3.everbridge.net/rest/v1/roles?verbose=true
                    id: 443345314775169
                    instanceUri: https://api-dev3.everbridge.net/rest/v1/roles/443345314775169?verbose=true
                    message: OK
                    role:
                      baseRoleTemplate: INCIDENT_ADMIN
                      createdDate: '2025-04-29T21:31:09.662Z'
                      createdName: georgeRestApi Dahui
                      id: 443345314775169
                      lastModifiedDate: '2025-04-29T21:31:09.662Z'
                      lastModifiedName: georgeRestApi Dahui
                      name: restAPI_CR_INCIDENT_ADMIN
                      organizationId: 1561998001176578
                      permissionScope:
                        accessEverbridgeMobileAppMessages: false
                        accessFlowDesigner: false
                        accessRIMCAlerts: false
                        accessRIMCFeedsAndAlerts: false
                        accessSafetyMessages: false
                        accessWeatherAlerts: false
                        accountSettings: false
                        addContactsToGroups: true
                        additionalInformation: false
                        alertActions: false
                        alertCustomActions: false
                        alertManagement: false
                        amexGBTTravelConnector: false
                        assetManagement: false
                        assetManagementSetting: false
                        broadcastDefaultSetting: false
                        cemAnalyticsCustomDashboard: false
                        cmAddDownloadReports: true
                        cmAddTaskListsToEvent: true
                        cmAddUpdateCopyDownloadFormReports: true
                        cmDeleteCriticalEvents: true
                        cmDeleteReports: true
                        cmDeleteShareTrackers: true
                        cmDeleteSingleEventDashboards: true
                        cmDeleteSubmissions: false
                        cmDeleteSubmissionsFromEvent: true
                        cmDeleteTaskListsFromEvent: true
                        cmDeleteTrackerRecords: false
                        cmDownloadAffectedAssets: false
                        cmDownloadCriticalEvents: true
                        cmExportAuditLogs: true
                        cmGetMultipleEventDashboardPublicLink: true
                        cmLaunchUpdateCriticalEvents: true
                        cmLaunchUpdateTaskListsInEvent: true
                        cmLinkSubmissionsToEvents: true
                        cmLockTaskOrder: true
                        cmLockUnlockDeleteFormReports: true
                        cmManageAffectedAssetAggregations: false
                        cmManageCriticalEventTemplates: true
                        cmManageDocumentLibrary: true
                        cmManageDocumentsInEvent: true
                        cmManageDocumentsInEventTemplate: true
                        cmManageFolders: true
                        cmManageForms: true
                        cmManageIncidentTemplatesInEvent: true
                        cmManageIncidentTemplatesInEventTemplate: true
                        cmManageLegacySituationReports: true
                        cmManageMultipleEventDashboardWidgets: true
                        cmManageNotesInEvent: true
                        cmManageSingleEventDashboards: true
                        cmManageSubmissions: true
                        cmManageTaskListTemplates: true
                        cmManageTrackerTabs: true
                        cmManageTrackers: true
                        cmManageWidgetLibrary: true
                        cmPublishEventToContacts: true
                        cmSetSubmissionStatus: true
                        cmShareFormWithContacts: true
                        cmViewAffectedAssetAggregations: false
                        cmViewAffectedAssets: false
                        cmViewAuditLogs: true
                        cmViewCriticalEventTemplates: false
                        cmViewCriticalEvents: true
                        cmViewDownloadDocumentLibrary: true
                        cmViewFolders: true
                        cmViewForms: true
                        cmViewIncidentTemplatesInEvent: true
                        cmViewIncidentTemplatesInEventTemplate: true
                        cmViewMultipleEventDashboards: true
                        cmViewReports: true
                        cmViewSingleEventDashboards: true
                        cmViewSubmissions: true
                        cmViewTaskListTemplates: true
                        cmViewTrackers: true
                        cmViewWidgetLibrary: true
                        communicationCreate: false
                        communicationRecipientSettings: false
                        communicationSettings: false
                        communicationTemplateCreate: false
                        communicationTemplateDelete: false
                        communicationTemplateUpdate: false
                        communicationTemplateView: false
                        communicationView: false
                        concurV2: false
                        contactAddEditDeleteViewListDownloadAddtogroupSaveasrule: false
                        contactAndGroupSettings: false
                        contactTracingCorpAnonymous: false
                        contactTracingCorpSetting: false
                        contactTracingHarald: false
                        contactTracingSlg: false
                        createAmsMessage: false
                        createAndEditAssetType: false
                        createAsset: false
                        createContacts: true
                        createEditDeleteCustomReport: true
                        createEditDeleteGroups: true
                        createEditDeleteMessageTemplate: false
                        createEditDeleteResponseSubscriptions: true
                        createEditDeleteRules: true
                        createEditDeleteSchedules: false
                        createEditViewCockpitWorkFlows: false
                        createNotification: false
                        createScheduleIncident: true
                        createUpdateSurveyTemplate: false
                        crisisEventTypeSetting: true
                        crossOrgContactUpload: false
                        crossOrganizationBroadcastSetting: false
                        crossOrganizationNewNotificationAddSendnowSaveasbroadcasttemplateSaveasmessagetemplateUploadattachedfile: false
                        customFromEmail: false
                        customReportIncidentAddEditDeleteViewListExport: true
                        customReportIncidentScenarioAddEditDeleteViewListExport: true
                        customReportMatrixNotificationAddEditDeleteViewListExport: true
                        customReportNotificationAddEditDeleteViewListExport: false
                        customReportScenarioNotificationAddEditDeleteViewListExport: true
                        customReportTravelAddEditDeleteViewListExport: false
                        customRoleTestFeature1: false
                        customRoleTestFeature10: false
                        customRoleTestFeature101: false
                        customRoleTestFeature102: false
                        customRoleTestFeature103: false
                        customRoleTestFeature104: false
                        customRoleTestFeature105: false
                        customRoleTestFeature106: false
                        customRoleTestFeature107: false
                        customRoleTestFeature108: false
                        customRoleTestFeature109: false
                        customRoleTestFeature110: false
                        customRoleTestFeature111: false
                        customRoleTestFeature112: false
                        customRoleTestFeature113: false
                        customRoleTestFeature114: false
                        customRoleTestFeature115: false
                        customRoleTestFeature116: false
                        customRoleTestFeature117: false
                        customRoleTestFeature118: false
                        customRoleTestFeature2: false
                        customRoleTestFeature3: false
                        customRoleTestFeature4: false
                        customRoleTestFeature5: false
                        customRoleTestFeature6: false
                        customRoleTestFeature7: false
                        customRoleTestFeature8: false
                        customRoleTestFeature9: false
                        customSenderSmsId: false
                        customSmsCodes: false
                        customizableButton: false
                        dashboardView: true
                        deleteAmsMessage: false
                        deleteAsset: false
                        deleteAssetType: false
                        deleteContacts: true
                        directoryChat: true
                        disableNixleShortURL: false
                        downloadContacts: true
                        eb360LaunchCrisisEvent: false
                        ebAdminAccountAdminUserCreate: false
                        ebAdminAccountAdminUserDelete: false
                        ebAdminAccountAdminUserEdit: false
                        ebAdminAccountAdminUserReset-password: false
                        ebAdminAccountAdminUserSwitch: false
                        ebAdminAccountAdminUserView: false
                        ebAdminAccountClientType: false
                        ebAdminAccountCreate: false
                        ebAdminAccountDemoType: false
                        ebAdminAccountEdit: false
                        ebAdminAccountInternalType: false
                        ebAdminAccountNixleStandaloneType: false
                        ebAdminAccountPartnerType: false
                        ebAdminAccountPilotType: false
                        ebAdminAccountStaffType: false
                        ebAdminAccountSwitch: false
                        ebAdminAccountTslimit: false
                        ebAdminAccountView: false
                        ebAdminApiUserCreate: false
                        ebAdminApiUserDelete: false
                        ebAdminApiUserRate-limit: false
                        ebAdminApiUserView: false
                        ebAdminAutoProvisionAll: false
                        ebAdminAutoProvisionView: false
                        ebAdminContactSyncGroupCreate: false
                        ebAdminContactSyncGroupEdit: false
                        ebAdminContactSyncGroupSwitch: false
                        ebAdminContactSyncGroupView: false
                        ebAdminContractSubscriptionCreate: false
                        ebAdminContractSubscriptionDelete: false
                        ebAdminContractSubscriptionEdit: false
                        ebAdminContractSubscriptionView: false
                        ebAdminEmployeeUserDelete: false
                        ebAdminEmployeeUserSwitch: false
                        ebAdminEmployeeUserView: false
                        ebAdminNetworkGroupCreate: false
                        ebAdminNetworkGroupEdit: false
                        ebAdminNetworkGroupSwitch: false
                        ebAdminNetworkGroupView: false
                        ebAdminNixleAll: false
                        ebAdminOrganizationCreate: false
                        ebAdminOrganizationEdit: false
                        ebAdminOrganizationSwitch: false
                        ebAdminOrganizationView: false
                        ebAdminProvisioningUserAccount-full-access: false
                        ebAdminProvisionmappingCreate: false
                        ebAdminProvisionmappingDelete: false
                        ebAdminProvisionmappingEdit: false
                        ebAdminProvisionmappingView: false
                        ebAdminReportsAll: false
                        ebAdminRoleCreate: false
                        ebAdminRoleDelete: false
                        ebAdminRoleEdit: false
                        ebAdminRoleView: false
                        ebAdminSmartConferenceAll: false
                        ebAdminSupportAccount: false
                        ebAdminSupportAccount-account-admin-only: false
                        ebAdminSupportAccount-full-access: false
                        ebAdminSupportAssume-client-user: false
                        ebAdminSupportTerminateSession: false
                        ebAdminSupportUserCreate: false
                        ebAdminSupportUserDelete: false
                        ebAdminSupportUserEdit: false
                        ebAdminSupportUserReset-password: false
                        ebAdminSupportUserSwitch: false
                        ebAdminSupportUserView: false
                        ebAdminSupportView: false
                        ebAdminUserCreate: false
                        ebAdminUserDelete: false
                        ebAdminUserEdit: false
                        ebAdminUserReset-password: false
                        ebAdminUserSwitch: false
                        ebAdminUserView: false
                        ebOpenIpaas: false
                        editAmsMessage: false
                        editAsset: false
                        editDeleteViewsOthervccs: false
                        editNotificationTemplate: false
                        emailIngestion: true
                        emailIngestionView: true
                        enforcePrivacyOptions: true
                        euWeatherAlerts: false
                        eventTypeCreate: false
                        eventTypeDelete: false
                        eventTypeEdit: false
                        filterByImport: false
                        gisSetting: true
                        googlePublicAlertsSetting: false
                        googleTranslate: false
                        groupAddEditDeleteViewListRemovecontactfromgroup: false
                        groupSetting: false
                        historicalRiskEventVisualization: false
                        incidentChat: true
                        incidentScenarioSettings: false
                        incidentTemplateAddEditDeleteViewListCopy: true
                        incidentTemplateDownloadUpload: false
                        incidentZonePrivateInIncident: false
                        incidentZonePublicInIncident: false
                        incidentZonePublicInNotification: false
                        incidentZonesPrivateInNotification: false
                        increaseZoomLevels: true
                        informationVariableAddEditDeleteViewListCopy: true
                        interactiveVisibility: false
                        internationalSOSTravelConnector: false
                        itaDashboard: true
                        itaDashboardSettings: true
                        kmlPermanetFeed: false
                        launchAndUpdateCommunicationsInTrainingModeOnly: false
                        launchByPhoneSettings: false
                        launchCommunicationWithoutTemplate: false
                        launchIncident: true
                        launchIncidentByPhone: true
                        launchMultipleCommunications: false
                        launchNotificationByPhone: false
                        limitedAlerting: false
                        listAmsMessage: false
                        listEditNotification: false
                        locationDataRetention: false
                        locationInWeatherAlertsVoice: false
                        locationTracingInsideGeofence: false
                        loginToSnapcomms: false
                        manageBookingAlerts: false
                        manageBuildings: false
                        manageRiskIntelligence: false
                        manageScenarioTemplate: true
                        manageScheduleNotification: false
                        manageTravelApprovalPolicies: false
                        manageTravelConnector: false
                        manageTravelItineraries: false
                        mapFindcontactSelectcontactMaplayer: false
                        memberPortalAlternativeRegistration: false
                        memberPortalNationalRegistryLoginUms: false
                        memberPortalOptInGroups: false
                        memberPortalSetting: false
                        memberPortalTestNotifications: false
                        memberPortalWeatherPages: false
                        mobileAppSafetySettingsSAFETY_DEVICE_RISKBAND: false
                        mobileFollowup: false
                        mobileOptin: false
                        mobileRebroadcast: false
                        mobileSecureMessage: false
                        mobileSend: false
                        mobileSendtemplate: false
                        mobileStop: false
                        moveRemoveContactsFromGroups: true
                        nationalRegistry: false
                        nixleEventSubscriptionsSettings: false
                        notificationButtonNotificationwidget: false
                        notificationShownotification: false
                        notificationsToMemberPortalSetting: false
                        onlyEditRulesWithSameRole: false
                        orchestrationRules: false
                        organizationSettingSetting: false
                        organizationUserRoleManagement: false
                        pointAddressGeocoding: false
                        precisiongisCustomMap: false
                        publishOptionABBSettings: true
                        publishOptionCAPRSSSettings: false
                        publishOptionPABBSettings: true
                        publishOptionsIPAWSSettings: false
                        publishToABB: true
                        publishToAlertus: true
                        publishToCAPRSS: true
                        publishToCOGToCOG: true
                        publishToEAS: true
                        publishToEBDesktopAlerts: false
                        publishToEBNetwork: true
                        publishToEBWebWidget: true
                        publishToGPA: false
                        publishToMemberPortal: true
                        publishToNWEM: true
                        publishToNixleCommunitySubscribers: false
                        publishToNixleEventSubscribers: false
                        publishToSocialMedia: true
                        publishToWEA: true
                        publishToWebPosting: true
                        quickReportView: true
                        rcNa: false
                        registryPortalSettings: false
                        reopenIncident: false
                        reportingPlatformCreator: false
                        reportingPlatformExportData: false
                        reportingPlatformSchedule: false
                        reportingPlatformViewer: false
                        restrictNotificationToSimulation: false
                        restrictToIncidentSimulationOnly: false
                        restrictionEditDeleteScenarios: false
                        restrictionEditDeleteTemplates: false
                        roleAddEditDeleteViewList: false
                        safetyBridgeAppleWatch: false
                        safetyBridgeItag: false
                        safetyDevice: false
                        safetyDevicePersonal: false
                        safetyDeviceRiskband: false
                        safetyDevicesRegistrationAndConfiguration: false
                        safetyThresholdSettings: false
                        scenarioLaunchManage: true
                        schedulingSend: true
                        schedulingView: false
                        secureP2pCarechat: false
                        secureP2pDecryption: false
                        secureP2pHipaachat: false
                        secureP2pSecurebridge: false
                        securePush: false
                        sequencedGroup: true
                        singleSignOn: false
                        smartConferenceBridge: false
                        smartOrchestration: false
                        smartOrchestrationEnableWorkflowEditing: false
                        smartSecurity: false
                        smartSecurityUseAdminConsole: false
                        smartSecurityUseOperatorConsole: false
                        socialMediaSettings: true
                        templateSend: false
                        testNewFeature: false
                        travelConnectors: false
                        triggers: false
                        twitterShowtwitterwidget: false
                        uploadAsset: false
                        uploadContacts: true
                        uploadDynamicLocations: false
                        usWeatherAlerts: false
                        usageReport: false
                        usageReportApiMetricSource: false
                        usageReportContact: false
                        usageReportMessagingMinutes: false
                        usageReportRiskEvents: false
                        usageReportSetting: false
                        useAlertManagementUi: false
                        userAddEditDeleteListEnableDisabledSendmailLinkcontact: false
                        variableCreate: false
                        variableDelete: false
                        variableUpdate: false
                        variableView: false
                        vccAdminConsole: false
                        vccOperatorConsole: false
                        vccUseChannels: false
                        vccUseCustomAlertActions: false
                        viewAllIncidents: false
                        viewAmsMessage: false
                        viewAndDownloadAsset: false
                        viewAndExportEventLog: false
                        viewAssetType: false
                        viewBuildingAirportRailwayStationLayer: false
                        viewCockpitWorkFlows: false
                        viewContactLocationHistory: false
                        viewContactTracingInformation: true
                        viewDownloadAllContacts: true
                        viewDownloadEditAllContacts: true
                        viewItinerariesAndSegments: false
                        viewLastKnownAndExpectedLocation: false
                        viewNotificationTemplate: false
                        viewResponseSubscriptions: true
                        viewRiskIntelligence: false
                        viewSurveyTemplate: false
                        viewTravelReports: false
                        wdtPremium: false
                        weatherFeaturesOption: false
                        webhookSubscription: true
                        xmIncidents: false
                        xmattersFlowDesigner: false
                      resourceScope:
                        calendar:
                          accessScope: all
                          calendarsSelected: []
                          restrictOwned: false
                          restrictSelected: false
                        communication:
                          incident:
                            canViewAll: false
                            isRestrictToOwnerRole: false
                          incidentTemplate:
                            accessScope: all
                            isRestrictToOwnerRole: false
                          isAccessToAllResource: true
                          notification:
                            isRestrictToOwnerRole: false
                          notificationTemplate:
                            accessScope: all
                            isRestrictToOwnerRole: false
                          scenarioTemplate:
                            accessScope: all
                            isRestrictToOwnerRole: false
                        contact:
                          accessScope: all
                      roleTemplate: CUSTOMIZED
              schema:
                oneOf:
                - properties:
                    message:
                      type: string
                    result:
                      properties:
                        baseRoleTemplate:
                          type: string
                        id:
                          type: integer
                        name:
                          type: string
                        roleTemplate:
                          type: string
                      type: object
                  type: object
                - properties:
                    message:
                      type: string
                    result:
                      properties:
                        baseRoleTemplate:
                          type: string
                        id:
                          type: integer
                        name:
                          type: string
                        organizationId:
                          type: integer
                        permissionScope:
                          properties:
                            configurable:
                              items:
                                properties:
                                  apiFeatureName:
                                    type: string
                                  value:
                                    type: boolean
                                type: object
                              type: array
                            unavailable:
                              items:
                                type: string
                              type: array
                            unconfigurable:
                              items:
                                properties:
                                  apiFeatureName:
                                    type: string
                                  value:
                                    type: boolean
                                type: object
                              type: array
                          type: object
                        resourceScope:
                          properties:
                            calendar:
                              properties:
                                accessScope:
                                  description: The valid access scope values. The default value is 'all'.
                                  enum:
                                  - all
                                  - selected
                                  - roleOwned
                                  type: string
                                calendarsSelected:
                                  items:
                                    type: string
                                  type: array
                                restrictOwned:
                                  type: boolean
                                restrictSelected:
                                  type: boolean
                              type: object
                            communication:
                              properties:
                                incident:
                                  properties:
                                    canViewAll:
                                      type: boolean
                                    isRestrictToOwnerRole:
                                      type: boolean
                                  type: object
                                incidentTemplate:
                                  properties:
                                    accessScope:
                                      description: The valid access scope values. The default value is 'all'.
                                      enum:
                                      - all
                                      - selected
                                      type: string
                                    isRestrictToOwnerRole:
                                      type: boolean
                                    templateList:
                                      items:
                                        type: integer
                                      type: array
                                  type: object
                                isAccessToAllResource:
                                  type: boolean
                                notification:
                                  properties:
                                    canViewAll:
                                      type: boolean
                                    isRestrictToOwnerRole:
                                      type: boolean
                                  type: object
                                notificationTemplate:
                                  properties:
                                    accessScope:
                                      description: The valid access scope values. The default value is 'all'.
                                      enum:
                                      - all
                                      - selected
                                      type: string
                                    isRestrictToOwnerRole:
                                      type: boolean
                                    templateList:
                                      items:
                                        type: integer
                                      type: array
                                  type: object
                                scenarioTemplate:
                                  properties:
                                    accessScope:
                                      description: The valid access scope values. The default value is 'all'.
                                      enum:
                                      - all
                                      - selected
                                      type: string
                                    isRestrictToOwnerRole:
                                      type: boolean
                                    templateList:
                                      items:
                                        type: integer
                                      type: array
                                  type: object
                              type: object
                            contact:
                              properties:
                                accessScope:
                                  description: The valid access scope values. The default value is 'all'.
                                  enum:
                                  - all
                                  - selected
                                  type: string
                                dynamicGroupIds:
                                  items:
                                    type: integer
                                  type: array
                                groupIds:
                                  items:
                                    type: integer
                                  type: array
                              type: object
                          type: object
                        roleTemplate:
                          type: string
                      type: object
                  type: object
          description: Success
        '400':
          content:
            application/json:
              examples:
                InvalidBaseRoleTemplate:
                  summary: Invalid BaseRole Template
                  value:
                    error:
                      detail: 'Invalid baseRoleTemplate: can only be one of below: INCIDENT_ADMIN, DISPATCHER, INCIDENT_OPERATOR, DATA_MANAGER, GROUP_MANAGER.'
                      errorCode: RS-10002
                      httpStatus: 400
                      id: 322623ff-7ba9-4c65-b757-21f78433370c:1747996054
                      message: Client input with wrong parameter. For details, Please check Role service log.
                      timestamp: 2025-05-23T10:27:35.154+0000
                InvalidOrganizationId:
                  summary: Invalid Organization Id
                  value:
                    error:
                      detail: 'Invalid OrganizationId: missing OrganizationId.'
                      errorCode: RS-10002
                      httpStatus: 400
                      id: e4d331dc-0d46-4ecf-957d-68ef40f81696:1747992524
                      message: Client input with wrong parameter. For details, Please check Role service log.
                      timestamp: 2025-05-23T09:28:45.321+0000
          description: Calendar Id not in organization
        '401':
          content:
            application/json:
              examples:
                Invalid Credentials:
                  summary: Invalid Credentials
                  value:
                    message: User does not have API permissions for this method
                    status: 401
              schema:
                properties:
                  message:
                    type: string
                  status:
                    type: integer
                type: object
          description: Invalid Credentials
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: Create Custom Role
      tags:
      - Custom Roles
      x-amazon-apigateway-integration:
        httpMethod: POST
        passthroughBehavior: when_no_match
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/
  /v1/roles/{roleId}:
    delete:
      description: Delete a role of an organization.
      operationId: EBS Delete Custom Role
      parameters:
      - description: The ID of the custom role to delete.
        in: path
        name: roleId
        required: true
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              examples:
                Success:
                  summary: Delete Successfully
                  value:
                    baseUri: https://api-dev3.everbridge.net/rest/v1/roles
                    id: 443345314775164
                    instanceUri: https://api-dev3.everbridge.net/rest/v1/roles/443345314775164
                    message: OK
              schema:
                properties:
                  baseUri:
                    type: string
                  id:
                    type: integer
                  instanceUri:
                    type: string
                  message:
                    type: string
                type: object
          description: Success
        '400':
          content:
            application/json:
              examples:
                Not Found:
                  summary: Role Not Found
                  value:
                    error:
                      detail: 'Invalid roleId: Role [299621213536495] is an ACCOUNT_ADMIN or ORGANIZATION_ADMIN. It cannot be deleted.'
                      errorCode: RS-10002
                      httpStatus: 400
                      id: 66ff58b8-04bb-4cf1-9dc4-e698e466c7ce:1747996497
                      message: Client input with wrong parameter. For details, Please check Role service log.
                      timestamp: 2025-05-23T10:35:00.994+0000
          description: Invalid roleId
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: Delete Custom Role
      tags:
      - Custom Roles
      x-amazon-apigateway-integration:
        httpMethod: DELETE
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.roleId: method.request.path.roleId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/
    get:
      description: Retrieve a custom role of an organization.
      operationId: EBS Get Custom Role
      parameters:
      - description: The ID of the custom role for querying.
        in: path
        name: roleId
        required: true
        schema:
          type: integer
      - description: To control if the response should include detailed role data.
        in: query
        name: verbose
        required: false
        schema:
          default: true
          type: boolean
      responses:
        '200':
          content:
            application/json:
              examples:
                verboseIsFalse:
                  summary: verbose=false
                  value:
                    message: OK
                    result:
                      baseRoleTemplate: DISPATCHER
                      id: 2973493368979458
                      name: Example Demo Role
                      roleTemplate: CUSTOMIZED
                verboseIsTrue:
                  summary: verbose=true
                  value:
                    message: OK
                    result:
                      baseRoleTemplate: DATA_MANAGER
                      createdDate: '2025-04-15T05:18:28.753Z'
                      createdName: georgeRestApi Dahui
                      id: 2973493368979458
                      lastModifiedDate: '2025-04-15T05:18:28.753Z'
                      lastModifiedName: georgeRestApi Dahui
                      name: Example Demo Role
                      organizationId: 1561998001176578
                      permissionScope:
                        accessEverbridgeMobileAppMessages: false
                        accessFlowDesigner: false
                        accessRIMCAlerts: false
                        accessRIMCFeedsAndAlerts: false
                        accessSafetyMessages: false
                        accessWeatherAlerts: false
                        accountSettings: false
                        addContactsToGroups: true
                        additionalInformation: false
                        alertActions: false
                        alertCustomActions: false
                        alertManagement: false
                        amexGBTTravelConnector: false
                        assetManagement: false
                        assetManagementSetting: false
                        broadcastDefaultSetting: false
                        cemAnalyticsCustomDashboard: false
                        cmAddDownloadReports: false
                        cmAddTaskListsToEvent: false
                        cmAddUpdateCopyDownloadFormReports: false
                        cmDeleteCriticalEvents: false
                        cmDeleteReports: false
                        cmDeleteShareTrackers: false
                        cmDeleteSingleEventDashboards: false
                        cmDeleteSubmissions: false
                        cmDeleteSubmissionsFromEvent: false
                        cmDeleteTaskListsFromEvent: false
                        cmDeleteTrackerRecords: false
                        cmDownloadAffectedAssets: false
                        cmDownloadCriticalEvents: false
                        cmExportAuditLogs: false
                        cmGetMultipleEventDashboardPublicLink: false
                        cmLaunchUpdateCriticalEvents: false
                        cmLaunchUpdateTaskListsInEvent: false
                        cmLinkSubmissionsToEvents: false
                        cmLockTaskOrder: false
                        cmLockUnlockDeleteFormReports: false
                        cmManageAffectedAssetAggregations: false
                        cmManageCriticalEventTemplates: false
                        cmManageDocumentLibrary: false
                        cmManageDocumentsInEvent: false
                        cmManageDocumentsInEventTemplate: false
                        cmManageFolders: false
                        cmManageForms: false
                        cmManageIncidentTemplatesInEvent: false
                        cmManageIncidentTemplatesInEventTemplate: false
                        cmManageLegacySituationReports: false
                        cmManageMultipleEventDashboardWidgets: false
                        cmManageNotesInEvent: false
                        cmManageSingleEventDashboards: false
                        cmManageSubmissions: false
                        cmManageTaskListTemplates: false
                        cmManageTrackerTabs: false
                        cmManageTrackers: false
                        cmManageWidgetLibrary: false
                        cmPublishEventToContacts: false
                        cmSetSubmissionStatus: false
                        cmShareFormWithContacts: false
                        cmViewAffectedAssetAggregations: false
                        cmViewAffectedAssets: false
                        cmViewAuditLogs: false
                        cmViewCriticalEventTemplates: false
                        cmViewCriticalEvents: false
                        cmViewDownloadDocumentLibrary: false
                        cmViewFolders: false
                        cmViewForms: false
                        cmViewIncidentTemplatesInEvent: false
                        cmViewIncidentTemplatesInEventTemplate: false
                        cmViewMultipleEventDashboards: false
                        cmViewReports: false
                        cmViewSingleEventDashboards: false
                        cmViewSubmissions: false
                        cmViewTaskListTemplates: false
                        cmViewTrackers: false
                        cmViewWidgetLibrary: false
                        communicationCreate: false
                        communicationRecipientSettings: false
                        communicationSettings: false
                        communicationTemplateCreate: false
                        communicationTemplateDelete: false
                        communicationTemplateUpdate: false
                        communicationTemplateView: false
                        communicationView: false
                        concurV2: false
                        contactAddEditDeleteViewListDownloadAddtogroupSaveasrule: false
                        contactAndGroupSettings: false
                        contactTracingCorpAnonymous: false
                        contactTracingCorpSetting: false
                        contactTracingHarald: false
                        contactTracingSlg: false
                        createAmsMessage: false
                        createAndEditAssetType: false
                        createAsset: false
                        createContacts: true
                        createEditDeleteCustomReport: true
                        createEditDeleteGroups: true
                        createEditDeleteMessageTemplate: false
                        createEditDeleteResponseSubscriptions: false
                        createEditDeleteRules: true
                        createEditDeleteSchedules: false
                        createEditViewCockpitWorkFlows: false
                        createNotification: false
                        createScheduleIncident: false
                        createUpdateSurveyTemplate: false
                        crisisEventTypeSetting: false
                        crossOrgContactUpload: false
                        crossOrganizationBroadcastSetting: false
                        crossOrganizationNewNotificationAddSendnowSaveasbroadcasttemplateSaveasmessagetemplateUploadattachedfile: false
                        customFromEmail: false
                        customReportIncidentAddEditDeleteViewListExport: false
                        customReportIncidentScenarioAddEditDeleteViewListExport: false
                        customReportMatrixNotificationAddEditDeleteViewListExport: false
                        customReportNotificationAddEditDeleteViewListExport: false
                        customReportScenarioNotificationAddEditDeleteViewListExport: false
                        customReportTravelAddEditDeleteViewListExport: false
                        customRoleTestFeature1: false
                        customRoleTestFeature10: false
                        customRoleTestFeature101: false
                        customRoleTestFeature102: false
                        customRoleTestFeature103: false
                        customRoleTestFeature104: false
                        customRoleTestFeature105: false
                        customRoleTestFeature106: false
                        customRoleTestFeature107: false
                        customRoleTestFeature108: false
                        customRoleTestFeature109: false
                        customRoleTestFeature110: false
                        customRoleTestFeature111: false
                        customRoleTestFeature112: false
                        customRoleTestFeature113: false
                        customRoleTestFeature114: false
                        customRoleTestFeature115: false
                        customRoleTestFeature116: false
                        customRoleTestFeature117: false
                        customRoleTestFeature118: false
                        customRoleTestFeature2: false
                        customRoleTestFeature3: false
                        customRoleTestFeature4: false
                        customRoleTestFeature5: false
                        customRoleTestFeature6: false
                        customRoleTestFeature7: false
                        customRoleTestFeature8: false
                        customRoleTestFeature9: false
                        customSenderSmsId: false
                        customSmsCodes: false
                        customizableButton: false
                        dashboardView: false
                        deleteAmsMessage: false
                        deleteAsset: false
                        deleteAssetType: false
                        deleteContacts: true
                        directoryChat: false
                        disableNixleShortURL: false
                        downloadContacts: true
                        eb360LaunchCrisisEvent: false
                        ebAdminAccountAdminUserCreate: false
                        ebAdminAccountAdminUserDelete: false
                        ebAdminAccountAdminUserEdit: false
                        ebAdminAccountAdminUserReset-password: false
                        ebAdminAccountAdminUserSwitch: false
                        ebAdminAccountAdminUserView: false
                        ebAdminAccountClientType: false
                        ebAdminAccountCreate: false
                        ebAdminAccountDemoType: false
                        ebAdminAccountEdit: false
                        ebAdminAccountInternalType: false
                        ebAdminAccountNixleStandaloneType: false
                        ebAdminAccountPartnerType: false
                        ebAdminAccountPilotType: false
                        ebAdminAccountStaffType: false
                        ebAdminAccountSwitch: false
                        ebAdminAccountTslimit: false
                        ebAdminAccountView: false
                        ebAdminApiUserCreate: false
                        ebAdminApiUserDelete: false
                        ebAdminApiUserRate-limit: false
                        ebAdminApiUserView: false
                        ebAdminAutoProvisionAll: false
                        ebAdminAutoProvisionView: false
                        ebAdminContactSyncGroupCreate: false
                        ebAdminContactSyncGroupEdit: false
                        ebAdminContactSyncGroupSwitch: false
                        ebAdminContactSyncGroupView: false
                        ebAdminContractSubscriptionCreate: false
                        ebAdminContractSubscriptionDelete: false
                        ebAdminContractSubscriptionEdit: false
                        ebAdminContractSubscriptionView: false
                        ebAdminEmployeeUserDelete: false
                        ebAdminEmployeeUserSwitch: false
                        ebAdminEmployeeUserView: false
                        ebAdminNetworkGroupCreate: false
                        ebAdminNetworkGroupEdit: false
                        ebAdminNetworkGroupSwitch: false
                        ebAdminNetworkGroupView: false
                        ebAdminNixleAll: false
                        ebAdminOrganizationCreate: false
                        ebAdminOrganizationEdit: false
                        ebAdminOrganizationSwitch: false
                        ebAdminOrganizationView: false
                        ebAdminProvisioningUserAccount-full-access: false
                        ebAdminProvisionmappingCreate: false
                        ebAdminProvisionmappingDelete: false
                        ebAdminProvisionmappingEdit: false
                        ebAdminProvisionmappingView: false
                        ebAdminReportsAll: false
                        ebAdminRoleCreate: false
                        ebAdminRoleDelete: false
                        ebAdminRoleEdit: false
                        ebAdminRoleView: false
                        ebAdminSmartConferenceAll: false
                        ebAdminSupportAccount: false
                        ebAdminSupportAccount-account-admin-only: false
                        ebAdminSupportAccount-full-access: false
                        ebAdminSupportAssume-client-user: false
                        ebAdminSupportTerminateSession: false
                        ebAdminSupportUserCreate: false
                        ebAdminSupportUserDelete: false
                        ebAdminSupportUserEdit: false
                        ebAdminSupportUserReset-password: false
                        ebAdminSupportUserSwitch: false
                        ebAdminSupportUserView: false
                        ebAdminSupportView: false
                        ebAdminUserCreate: false
                        ebAdminUserDelete: false
                        ebAdminUserEdit: false
                        ebAdminUserReset-password: false
                        ebAdminUserSwitch: false
                        ebAdminUserView: false
                        ebOpenIpaas: false
                        editAmsMessage: false
                        editAsset: false
                        editDeleteViewsOthervccs: false
                        editNotificationTemplate: false
                        emailIngestion: false
                        emailIngestionView: false
                        enforcePrivacyOptions: false
                        euWeatherAlerts: false
                        eventTypeCreate: false
                        eventTypeDelete: false
                        eventTypeEdit: false
                        filterByImport: false
                        gisSetting: false
                        googlePublicAlertsSetting: false
                        googleTranslate: false
                        groupAddEditDeleteViewListRemovecontactfromgroup: false
                        groupSetting: true
                        historicalRiskEventVisualization: false
                        incidentChat: false
                        incidentScenarioSettings: false
                        incidentTemplateAddEditDeleteViewListCopy: false
                        incidentTemplateDownloadUpload: false
                        incidentZonePrivateInIncident: false
                        incidentZonePublicInIncident: false
                        incidentZonePublicInNotification: false
                        incidentZonesPrivateInNotification: false
                        increaseZoomLevels: true
                        informationVariableAddEditDeleteViewListCopy: false
                        interactiveVisibility: false
                        internationalSOSTravelConnector: false
                        itaDashboard: false
                        itaDashboardSettings: false
                        kmlPermanetFeed: false
                        launchAndUpdateCommunicationsInTrainingModeOnly: false
                        launchByPhoneSettings: false
                        launchCommunicationWithoutTemplate: false
                        launchIncident: false
[...]
