{
  "openapi": "3.0.1",
  "info": {
    "title": "Digital Apps API",
    "description": "Digital Apps APIs bring Everbridge notification functionality to your company's mobile, desktop or web applications. ",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.everbridge.net/digitalapps/v2"
    }
  ],
  "tags": [
    {
      "name": "Authorization",
      "description": "Authorization operations"
    },
    {
      "name": "Internal Mobile Configuration Values",
      "description": "Internal Mobile Configuration Values"
    },
    {
      "name": "Contacts",
      "description": "Contacts operations"
    },
    {
      "name": "Device Registration",
      "description": "Device Registration operations"
    },
    {
      "name": "File Resources",
      "description": "Attachments, images, and audios operations"
    },
    {
      "name": "Incidents",
      "description": "Incidents operations"
    },
    {
      "name": "Notification messages",
      "description": "Notification Message Operations"
    },
    {
      "name": "Internal Mobile Organizations",
      "description": "Organizations operations"
    },
    {
      "name": "Scheduling",
      "description": "Scheduling operations"
    },
    {
      "name": "Internal Mobile Secure Chats",
      "description": "Secure Chats operations"
    },
    {
      "name": "Internal Mobile Service Providers",
      "description": "Service Providers operations"
    },
    {
      "name": "SSO Authorize",
      "description": "SSO Authorize operations"
    },
    {
      "name": "Internal Mobile Travels",
      "description": "Travels operations"
    }
  ],
  "paths": {
    "/authorizations/token": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Generate Token(client)",
        "description": "A server-side request to retrieve an Authorization on behalf of a Contact. Use OAuth 2.0 Client Credentials grant.",
        "operationId": "ebs-daa-client-generate-token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerClientAuthorizeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Return Authorization including Access Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerClientAuthorizeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request\n\r1) Invalid Client ID or Key.\n\r2) Invalid Organization ID.\n\r3) The custom app delivery path was not found in the requested Organization.\n\r4) Invalid External Attribute Name or External Attribute Value: no Contact was found.\n\r5) Invalid External Attribute Name or External Attribute Value: found multiple Contacts.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {}
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "post",
          "uri": "https://mobilemember.everbridge.net/api/v2/authorizations/token",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/authorizations/oauth2/token": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Generate Token(password)",
        "description": "Login with username and password. Use OAuth 2.0 Resource Owner Password Credentials Grant.",
        "operationId": "ebs-daa-password-generate-token",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AuthorizeV2Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return Authorization including Access Token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizeV2Response"
                }
              }
            }
          }
        },
        "security": [
          {}
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "post",
          "uri": "https://mobilemember.everbridge.net/api/v2/authorizations/oauth2/token",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/authorizations/token/refresh": {
      "get": {
        "tags": [
          "Authorization"
        ],
        "summary": "Refresh Token",
        "description": "Generate a new Access Token and Refresh Token using the existing Refresh token.",
        "operationId": "ebs-daa-refresh-token",
        "parameters": [
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Refresh token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxODQzNzQ3ODU1Nzk0MTc4IiwibmJmIjoxNjUzNDk2ODg4LCJJU19SRUZSRVNIX1RPS0VOIjp0cnVlLCJpc3MiOiJodHRwczpcL1wvZXZlcmJyaWRnZS5jb20iLCJleHAiOjE2NjkzOTQ1NDgsImlhdCI6MTY1MzQ5Njk0OCwidXNlciI6IjQwYzM2N2FlLWEwOTgtNDY4ZS1iZDE5LWY1MjIzMjYwZjdjNyIsIkFVVEhPUklaQVRJT05fSUQiOiI2MjhlNWM3NDBmOTA5NDcwNDQyMTFmZWEifQ.WUelPXQrhVxCmLG6IgY0I2-ElVA-dRqiUUGRtQ9ZKKY"
          }
        ],
        "responses": {
          "200": {
            "description": "Return new Access Token and Refresh Token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerClientAuthorizeResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "get",
          "uri": "https://mobilemember.everbridge.net/api/v2/authorizations/token/refresh",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/authorizations/logout": {
      "delete": {
        "tags": [
          "Authorization"
        ],
        "summary": "Logout",
        "description": "User logs out of the system",
        "operationId": "ebs-daa-logout",
        "parameters": [
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the Logout response containing the Contact's Individual Account ID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogoutResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "delete",
          "uri": "https://mobilemember.everbridge.net/api/v2/authorizations/logout",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/authorizations/token/validate": {
      "get": {
        "tags": [
          "Authorization"
        ],
        "summary": "Validate Token",
        "description": "Validate the authorization token.",
        "operationId": "ebs-daa-authorize-validate",
        "parameters": [
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Token is valid"
          },
          "401": {
            "description": "Token is invalid"
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "get",
          "uri": "https://mobilemember.everbridge.net/api/v2/authorizations/token/validate",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/configuration-values": {
      "get": {
        "tags": [
          "Internal Mobile Configuration Values"
        ],
        "summary": "Get Configuration Values",
        "description": "Retrieve feature flag configuration values for the application.",
        "operationId": "ebs-daa-get-configuration-values",
        "parameters": [
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Feature flag configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visible": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {}
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "get",
          "uri": "https://mobilemember.everbridge.net/api/v2/configuration-values",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/contacts/me": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get Contact",
        "description": "Get information of logged in account.",
        "operationId": "ebs-daa-get-contact-info",
        "parameters": [
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve account information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountV2Response"
                }
              }
            }
          },
          "404": {
            "description": "Not found account.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "get",
          "uri": "https://mobilemember.everbridge.net/api/v2/contacts/me",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/contacts/preferences": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get Contact Preferences",
        "description": "Get contact preferences for usage in mobile application.",
        "operationId": "ebs-daa-get-contacts-preferences",
        "parameters": [
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Get contact preferences for usage in mobile application.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberAccountSetting"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "get",
          "uri": "https://mobilemember.everbridge.net/api/v2/contacts/preferences",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update Contact Preferences",
        "description": "Update contact preferences for usage in mobile application.",
        "operationId": "ebs-daa-update-contact-preferences",
        "parameters": [
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactPreference"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update contact preferences for usage in mobile application.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactPreference"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "patch",
          "uri": "https://mobilemember.everbridge.net/api/v2/contacts/preferences",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/contacts/devices": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Register device",
        "description": "Register a device to receive push notifications.",
        "operationId": "ebs-daa-register-device",
        "parameters": [
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Return device info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "post",
          "uri": "https://mobilemember.everbridge.net/api/v2/contacts/devices",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/contacts/devices/{deviceId}": {
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update Device Token",
        "description": "Update device push service token.",
        "operationId": "ebs-daa-update-device-token",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "Device ID",
            "required": true,
            "schema": {
              "pattern": "^\\d+$",
              "type": "string"
            },
            "example": 1884704663928841
          },
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Return device info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "patch",
          "uri": "https://mobilemember.everbridge.net/api/v2/contacts/devices/{deviceId}",
          "requestParameters": {
            "integration.request.path.deviceId": "method.request.path.deviceId"
          },
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Deregister Device",
        "description": "Deregister the device for current contact.",
        "operationId": "ebs-daa-deregister-device",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "Device ID",
            "required": true,
            "schema": {
              "pattern": "^\\d+$",
              "type": "string"
            },
            "example": 1884704663928841
          },
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Return device info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "delete",
          "uri": "https://mobilemember.everbridge.net/api/v2/contacts/devices/{deviceId}",
          "requestParameters": {
            "integration.request.path.deviceId": "method.request.path.deviceId"
          },
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/contacts/devices/{deviceId}/reset-badge": {
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Reset Device Badge",
        "description": "Reset the device badge indicator icon to zero.",
        "operationId": "ebs-daa-reset-device-badge",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "Device ID",
            "required": true,
            "schema": {
              "pattern": "^\\d+$",
              "type": "string"
            },
            "example": 1884704663928841
          },
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Return device info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "patch",
          "uri": "https://mobilemember.everbridge.net/api/v2/contacts/devices/{deviceId}/reset-badge",
          "requestParameters": {
            "integration.request.path.deviceId": "method.request.path.deviceId"
          },
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/contacts/devices/{deviceId}/enable-push": {
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Enable Push Notification",
        "description": "Enable push notification for this device",
        "operationId": "ebs-daa-enable-push-notification",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "Device ID",
            "required": true,
            "schema": {
              "pattern": "^\\d+$",
              "type": "string"
            },
            "example": 1884704663928841
          },
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Return device info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "patch",
          "uri": "https://mobilemember.everbridge.net/api/v2/contacts/devices/{deviceId}/enable-push",
          "requestParameters": {
            "integration.request.path.deviceId": "method.request.path.deviceId"
          },
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/contacts/devices/{deviceId}/disable-push": {
      "patch": {
        "tags": [
          "Contacts"
        ],
        "summary": "Disable Push Notification",
        "description": "Disable push notification for this device",
        "operationId": "ebs-daa-disable-push-notification",
        "parameters": [
          {
            "name": "deviceId",
            "in": "path",
            "description": "Device ID",
            "required": true,
            "schema": {
              "pattern": "^\\d+$",
              "type": "string"
            },
            "example": 1884704663928841
          },
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Return device info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "patch",
          "uri": "https://mobilemember.everbridge.net/api/v2/contacts/devices/{deviceId}/disable-push",
          "requestParameters": {
            "integration.request.path.deviceId": "method.request.path.deviceId"
          },
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/contacts/safe-corridors": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create SafeCorridor",
        "description": "Create safe corridor.",
        "operationId": "ebs-daa-create-safe-corridor",
        "parameters": [
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SafeCorridorV2Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Retrieve safeCorridor creation id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafetyV2Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "post",
          "uri": "https://mobilemember.everbridge.net/api/v2/contacts/safe-corridors",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/contacts/safe-corridors/active-devices/{device-id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get Active SafeCorridor",
        "description": "Get active safe corridor from server.",
        "operationId": "ebs-daa-get-active-safe-corridor",
        "parameters": [
          {
            "name": "device-id",
            "in": "path",
            "description": "Active device id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1539455328453094
          },
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Get active safe corridor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafeCorridorServerHandledVo"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "get",
          "uri": "https://mobilemember.everbridge.net/api/v2/contacts/safe-corridors/active-devices/{device-id}",
          "requestParameters": {
            "integration.request.path.device-id": "method.request.path.device-id"
          },
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/contacts/safe-corridors/{safe-corridor-id}": {
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Stop SafeCorridor",
        "description": "Stop safe corridor.",
        "operationId": "ebs-daa-stop-safe-corridor",
        "parameters": [
          {
            "name": "safe-corridor-id",
            "in": "path",
            "description": "Safe corridor id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1539455328453094
          },
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StopSafeCorridorV2Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Stop safe corridor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafetyV2Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "put",
          "uri": "https://mobilemember.everbridge.net/api/v2/contacts/safe-corridors/{safe-corridor-id}",
          "requestParameters": {
            "integration.request.path.safe-corridor-id": "method.request.path.safe-corridor-id"
          },
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/contacts/panics": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create Panic",
        "description": "Create SOS.",
        "operationId": "ebs-daa-create-panic",
        "parameters": [
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PanicV2Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Retrieve OpenTok secrets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PanicResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "post",
          "uri": "https://mobilemember.everbridge.net/api/v2/contacts/panics",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/contacts/panics/{panic-id}": {
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update Panic",
        "description": "Start or stop SOS.",
        "operationId": "ebs-daa-update-panic",
        "parameters": [
          {
            "name": "panic-id",
            "in": "path",
            "description": "Panic id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1539455328453094
          },
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PanicOperationV2Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Panic operation response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PanicOperationV2Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "put",
          "uri": "https://mobilemember.everbridge.net/api/v2/contacts/panics/{panic-id}",
          "requestParameters": {
            "integration.request.path.panic-id": "method.request.path.panic-id"
          },
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/contacts/checkins": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create Checkin",
        "description": "Create check-in location.",
        "operationId": "ebs-daa-create-checkin",
        "parameters": [
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckinRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Return check-in info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckinResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Cannot checkin as no location source was created for this App.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "post",
          "uri": "https://mobilemember.everbridge.net/api/v2/contacts/checkins",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/contacts/checkins/last": {
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete Checkin",
        "description": "Delete last check-in location.",
        "operationId": "ebs-daa-delete-last-checkin",
        "parameters": [
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete check-in successfully.",
            "content": {
              "application/json": {}
            }
          },
          "403": {
            "description": "Forbidden - Cannot delete check-in as no location source was created for this App.",
            "content": {
              "application/json": {}
            }
          },
          "404": {
            "description": "No check-in found.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "delete",
          "uri": "https://mobilemember.everbridge.net/api/v2/contacts/checkins/last",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/contacts/emergency-calls": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create Emergency Call",
        "description": "Create an Emergency Call.",
        "operationId": "ebs-daa-create-emergency-call",
        "parameters": [
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmergencyCallV2Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Add emergency call successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafetyV2Response"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "post",
          "uri": "https://mobilemember.everbridge.net/api/v2/contacts/emergency-calls",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/contacts/custom-forms": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create Custom Form",
        "description": "Submit a custom form.",
        "operationId": "ebs-daa-submit-custom-form",
        "parameters": [
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ButtonSubmitFormEvent"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response id.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "post",
          "uri": "https://mobilemember.everbridge.net/api/v2/contacts/custom-forms",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/contacts/devices/{deviceId}/remote-wipe": {
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Remote Wipe Device",
        "description": "Send a remote wipe command to the specified device.",
        "operationId": "ebs-daa-remote-wipe-device",
        "parameters": [
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          },
          {
            "name": "deviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Device wipe command accepted"
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "delete",
          "uri": "https://mobilemember.everbridge.net/api/v2/contacts/devices/{deviceId}/remote-wipe",
          "responses": {
            "default": {
              "statusCode": "204"
            }
          },
          "requestParameters": {
            "integration.request.path.deviceId": "method.request.path.deviceId"
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/autoSignUp": {
      "get": {
        "tags": [
          "Device Registration"
        ],
        "summary": "Device Registration",
        "description": "Get authentication from device registration.",
        "operationId": "ebs-daa-device-registration",
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "description": "The ID of organization",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contactId",
            "in": "query",
            "description": "The ID of contact",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "Time validation",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "The decryption Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Return authorization from device registration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizeV2Response"
                }
              }
            }
          }
        },
        "security": [
          {}
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "get",
          "uri": "https://mobilemember.everbridge.net/api/v2/autoSignUp",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/resources/images": {
      "post": {
        "tags": [
          "File Resources"
        ],
        "summary": "Upload Image",
        "description": "Upload image",
        "operationId": "ebs-daa-upload-image",
        "parameters": [
          {
            "name": "image",
            "in": "query",
            "description": "Image file name",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "binary"
              }
            },
            "example": "my_image.jpg"
          },
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Return image info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageUploadResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "post",
          "uri": "https://mobilemember.everbridge.net/api/v2/resources/images",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/resources/images/{imageId}": {
      "get": {
        "tags": [
          "File Resources"
        ],
        "summary": "Get Image",
        "description": "Download image",
        "operationId": "ebs-daa-get-image",
        "parameters": [
          {
            "name": "imageId",
            "in": "path",
            "description": "The ID of the image",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Return download output stream",
            "content": {
              "application/octet-stream": {}
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "get",
          "uri": "https://mobilemember.everbridge.net/api/v2/resources/images/{imageId}",
          "requestParameters": {
            "integration.request.path.imageId": "method.request.path.imageId"
          },
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/resources/audios/{audioId}": {
      "get": {
        "tags": [
          "File Resources"
        ],
        "summary": "Get Audio",
        "description": "Download audio",
        "operationId": "ebs-daa-get-audio",
        "parameters": [
          {
            "name": "audioId",
            "in": "path",
            "description": "The ID of audio",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Return download output stream",
            "content": {
              "application/octet-stream": {}
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "get",
          "uri": "https://mobilemember.everbridge.net/api/v2/resources/audios/{audioId}",
          "requestParameters": {
            "integration.request.path.audioId": "method.request.path.audioId"
          },
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/resources/attachments/{attachmentId}": {
      "get": {
        "tags": [
          "File Resources"
        ],
        "summary": "Get Attachment",
        "description": "Download attachment",
        "operationId": "ebs-daa-get-attachment",
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "description": "The ID of attachment",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Return download output stream",
            "content": {
              "application/octet-stream": {}
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "get",
          "uri": "https://mobilemember.everbridge.net/api/v2/resources/attachments/{attachmentId}",
          "requestParameters": {
            "integration.request.path.attachmentId": "method.request.path.attachmentId"
          },
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/incidents/{incidentId}": {
      "get": {
        "tags": [
          "Incidents"
        ],
        "summary": "Get Incident",
        "description": "Retrieve the incident by incident id",
        "operationId": "ebs-daa-get-incident",
        "parameters": [
          {
            "name": "incidentId",
            "in": "path",
            "description": "Incident id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1539455328453094
          },
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve the incident by incident id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentV2response"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "get",
          "uri": "https://mobilemember.everbridge.net/api/v2/incidents/{incidentId}",
          "requestParameters": {
            "integration.request.path.incidentId": "method.request.path.incidentId"
          },
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/notifications/messages": {
      "get": {
        "tags": [
          "Notification messages"
        ],
        "summary": "List Messages",
        "description": "Retrieve the list of messages sent to the contact",
        "operationId": "ebs-daa-list-messages",
        "parameters": [
          {
            "name": "operation",
            "in": "query",
            "description": "The default value is FIND_BY_DEFAULT.\r\nIf the 'operation' parameter is provided then the value must be one of the following values: [FIND_BY_DEFAULT, FIND_NEWER_BY_TIME, FIND_OLDER_BY_TIME].",
            "required": true,
            "schema": {
              "type": "string",
              "description": "FIND_BY_DEFAULT",
              "enum": [
                "FIND_BY_DEFAULT",
                "FIND_NEWER_BY_TIME",
                "FIND_OLDER_BY_TIME"
              ]
            }
          },
          {
            "name": "time",
            "in": "query",
            "description": "UTC milliseconds from the epoch of 1970-01-01T00:00:00Z.\r\n The 'time' parameter will be ignored if the operation is FIND_BY_DEFAULT.\r\n The 'time' parameter is required if the operation is FIND_NEWER_BY_TIME or FIND_OLDER_BY_TIME.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1653598340083
          },
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve the list of messages sent to the device",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MessageResponseForQuery"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "get",
          "uri": "https://mobilemember.everbridge.net/api/v2/notifications/messages",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/notifications/messages/{messageId}": {
      "get": {
        "tags": [
          "Notification messages"
        ],
        "summary": "Get Message",
        "description": "Returns a single Message for the specified identifier.\n\nNotifications sent with an RTF body will have the content available as an attachment in the 'attachments' section of the response. The attachment content should be downloaded with the [Download attachment](/reference/ebs-daa-get-attachment) endpoint.",
        "operationId": "ebs-daa-get-message",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "description": "The ID of the Message. The identifier can take one of two formats: \n1. The 'messageId' returned on a message object when retrieved via the API.\n2. A concatenated ID from the push notification payload.\n\n**Important Note:** The 'messageId' from the push notification payload will take the form '[contactID]_[notificationID]'. When using this concatenated ID, you must pass through the entire string value. The response will return the underlying message ID, which should then be used for future operations on the message resource.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1554298735427807_282853661212695"
          },
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the message matching the provided Message ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "get",
          "uri": "https://mobilemember.everbridge.net/api/v2/notifications/messages/{messageId}",
          "requestParameters": {
            "integration.request.path.messageId": "method.request.path.messageId"
          },
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      },
      "post": {
        "tags": [
          "Notification messages"
        ],
        "summary": "Reply Message",
        "description": "Reply to a Message",
        "operationId": "ebs-daa-reply-message",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "description": "The ID of the Message",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1626319431402172
          },
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplyMessageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Return message reply information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplyMessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "post",
          "uri": "https://mobilemember.everbridge.net/api/v2/notifications/messages/{messageId}",
          "requestParameters": {
            "integration.request.path.messageId": "method.request.path.messageId"
          },
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      },
      "patch": {
        "tags": [
          "Notification messages"
        ],
        "summary": "Update Message",
        "description": "Update Message State",
        "operationId": "ebs-daa-update-message",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "description": "The ID of the Message",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1626319431402172
          },
          {
            "name": "operation",
            "in": "query",
            "description": "The value must be one of the following: [MARK_AS_READ, MARK_AS_CONFIRMED, MARK_AS_SHARED].",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "MARK_AS_READ",
                "MARK_AS_CONFIRMED",
                "MARK_AS_SHARED"
              ]
            },
            "example": "MARK_AS_READ"
          },
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Return message state response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarkMessageResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "patch",
          "uri": "https://mobilemember.everbridge.net/api/v2/notifications/messages/{messageId}",
          "requestParameters": {
            "integration.request.path.messageId": "method.request.path.messageId"
          },
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/notifications/messages/{messageId}/surveys": {
      "post": {
        "tags": [
          "Notification messages"
        ],
        "summary": "Submit Survey Response",
        "description": "Respond to a message's poll.",
        "operationId": "ebs-daa-submit-survey-response",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "description": "The ID of the Message",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1626319431402172
          },
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SurveyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns survey info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveyResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "post",
          "uri": "https://mobilemember.everbridge.net/api/v2/notifications/messages/{messageId}/surveys",
          "requestParameters": {
            "integration.request.path.messageId": "method.request.path.messageId"
          },
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/organizations": {
      "get": {
        "tags": [
          "Internal Mobile Organizations"
        ],
        "summary": "List Organizations",
        "description": "List organizations information by search term.",
        "operationId": "ebs-daa-list-organizations",
        "parameters": [
          {
            "name": "searchTerm",
            "in": "query",
            "description": "Organization search term",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataType",
            "in": "query",
            "description": "Search data type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Organization",
                "Keyword",
                "All"
              ]
            },
            "example": "Keyword"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve organization search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileOrganizationSetting"
                }
              }
            }
          }
        },
        "security": [
          {}
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "get",
          "uri": "https://mobilemember.everbridge.net/api/v2/organizations",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/organizations/information/{organizationId}": {
      "get": {
        "tags": [
          "Internal Mobile Organizations"
        ],
        "summary": "Get Organization",
        "description": "Get Organization information by Id.",
        "operationId": "ebs-daa-get-organizations-information",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "Organization ID",
            "required": true,
            "schema": {
              "pattern": "^\\d+$",
              "type": "string"
            },
            "example": 295910361798625
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve organization information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationV2Response"
                }
              }
            }
          },
          "404": {
            "description": "Not found organization.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {}
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "get",
          "uri": "https://mobilemember.everbridge.net/api/v2/organizations/information/{organizationId}",
          "requestParameters": {
            "integration.request.path.organizationId": "method.request.path.organizationId"
          },
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/organizations/settings": {
      "post": {
        "tags": [
          "Internal Mobile Organizations"
        ],
        "summary": "Get Organizations Settings",
        "description": "Get Organization settings.",
        "operationId": "ebs-daa-get-organizations-settings",
        "parameters": [
          {
            "name": "EVBG-Application-Type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve organization settings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MobileOrganizationSetting"
                }
              }
            }
          },
          "404": {
            "description": "Not found organization settings.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "post",
          "uri": "https://mobilemember.everbridge.net/api/v2/organizations/settings",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/organizations/keywords": {
      "get": {
        "tags": [
          "Internal Mobile Organizations"
        ],
        "summary": "List Keyword response",
        "description": "List search response from keyword.",
        "operationId": "ebs-daa-search-keyword",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Keyword name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve organization from search keyword.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KeywordSearchResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "get",
          "uri": "https://mobilemember.everbridge.net/api/v2/organizations/keywords",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/organizations/keywords/subscriptions": {
      "get": {
        "tags": [
          "Internal Mobile Organizations"
        ],
        "summary": "List Keyword Subscriptions",
        "description": "Get all keyword subscriptions.",
        "operationId": "ebs-daa-list-keyword-subscriptions",
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "description": "The device unique id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve organization from search keyword.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KeywordSubscriptionResponse"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "get",
          "uri": "https://mobilemember.everbridge.net/api/v2/organizations/keywords/subscriptions",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/organizations/keywords/images/{image-id}": {
      "get": {
        "tags": [
          "Internal Mobile Organizations"
        ],
        "summary": "Get Keyword Image",
        "description": "Get keyword image.",
        "operationId": "ebs-daa-get-keyword-image",
        "parameters": [
          {
            "name": "image-id",
            "in": "path",
            "description": "Keyword image id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Return download output stream",
            "content": {
              "application/octet-stream": {}
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "get",
          "uri": "https://mobilemember.everbridge.net/api/v2/organizations/keywords/images/{image-id}",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/organizations/keywords/{keyword-id}": {
      "patch": {
        "tags": [
          "Internal Mobile Organizations"
        ],
        "summary": "Update Keyword",
        "description": "Subscribe or Unsubscribe a keyword.",
        "operationId": "ebs-daa-update-keyword",
        "parameters": [
          {
            "name": "keyword-id",
            "in": "path",
            "description": "Keyword id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1539455328453094
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeywordV2Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Retrieve organization from search keyword.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordSearchResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "patch",
          "uri": "https://mobilemember.everbridge.net/api/v2/organizations/keywords/{keyword-id}",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/organization-code-data/{organizationCode}": {
      "get": {
        "tags": [
          "Internal Mobile Organizations"
        ],
        "summary": "Get Organization Code",
        "description": "Get Organization Code.",
        "operationId": "ebs-daa-get-organization-code",
        "parameters": [
          {
            "name": "organizationCode",
            "in": "path",
            "description": "Organization Code",
            "required": true,
            "schema": {
              "pattern": "^\\d+$",
              "type": "string"
            },
            "example": "Everbridge"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve organization code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationCode"
                }
              }
            }
          },
          "404": {
            "description": "Not found organization code.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {}
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "get",
          "uri": "https://mobilemember.everbridge.net/api/v2/orgcode/{organizationCode}",
          "requestParameters": {
            "integration.request.path.organizationCode": "method.request.path.organizationCode"
          },
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/providers": {
      "get": {
        "tags": [
          "Internal Mobile Service Providers"
        ],
        "summary": "List Providers",
        "description": "List providers information.",
        "operationId": "ebs-daa-list-service-providers",
        "parameters": [
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ1c2VyLXRlc3QiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MDAwMDAwMDAsImV4cCI6MjAwMDAwMDAwMH0.MEUCIQDRrT_U-WXmq9sdlqZQw4y1GiI4Pp2tJSrKzWSi8vBslgIgQzRSce6h7RkF70ZcQnFX6Zry8FSX8U5CggV2-3OyuVE"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve provider search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceProvider"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "httpMethod": "get",
          "uri": "https://mobilemember.everbridge.net/api/v2/providers",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/scheduling/staff-substitutions": {
      "post": {
        "tags": [
          "Scheduling"
        ],
        "summary": "Create Staff Substitutions",
        "description": "Create staff substitutions.",
        "operationId": "ebs-daa-create-staff-substitutions",
        "parameters": [
          {
            "name": "Client-Id",
            "in": "header",
            "description": "Custom app client id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3efb35a2-fdee-44bb-b476-2a45cada8b00"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access token",
            "required": true,
            "schema": {
              "type": "string"
            },
[...]
