{
  "openapi": "3.0.1",
  "info": {
    "title": "CEM ALERTS API - Query Public",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.everbridge.net/cem-alerts/query/v1/",
      "variables": {
        "basePath": {
          "default": "/cem-alerts/query/v1"
        }
      }
    }
  ],
  "tags": [
    {
      "name": "CEMA Query Public",
      "description": "CEM Alerts APIs"
    }
  ],
  "paths": {
    "/graphql": {
      "post": {
        "tags": [
          "CEMA Query Public"
        ],
        "operationId": "GraphQL Query",
        "summary": "GraphQL Query",
        "description": "This is used to query CEMA Query Public",
        "requestBody": {
          "description": "Describes a query or mutation and the requested properties to be returned",
          "content": {
            "application/json": {
              "schema": {
                "title": "GraphQL Request Body",
                "type": "object",
                "description": "Describes a query or mutation and the requested properties to be returned",
                "example": "query { alert(id: \"<alertId here>\") { alertId organization status } }"
              },
              "examples": {
                "Get Alert By Alert ID": {
                  "summary": "Get Alert By Id",
                  "description": "Modify the query with the id of the alert that you want to get back.",
                  "value": {
                    "query": "query { alert(id: \"<alertId here>\") { alertId organization status } }"
                  }
                },
                "Get All Alerts": {
                  "summary": "Get Alerts",
                  "value": {
                    "query": "query { alerts( filter: {}, token: \"\" ){ results {alertId organization status expiresAt snoozedUntil isActive owner systemLinks } token } }"
                  }
                },
                "Get Location Information (coordinates) by Alert Id": {
                  "summary": "Get Location Information (coordinates) by Alert Id",
                  "value": {
                    "query": "query { alert(id: \"alertId\") { summaries(filter: {summaryKinds: COORDINATES}){ summaryId summaryName value{ ... on Coordinates { latLon } } } } }"
                  }
                },
                "Get Location Information (state, country) by Alert Id": {
                  "summary": "Get Location Information (state, country) by Alert Id",
                  "value": {
                    "query": "query { alert(id: \"alertId\") { summaries(filter: {summaryKinds: LOCATION_TYPE}){ summaryId summaryName value{ ... on LocationType { names } } } } }"
                  }
                },
                "Get Incidents Alert Id": {
                  "summary": "Get Incidents Alert Id",
                  "value": {
                    "query": "query { alert(id: \"alertId\") { status systemLinks } }"
                  }
                },
                "Get Alerts by Incident Id": {
                  "summary": "Get Alerts by Incident Id",
                  "value": {
                    "query": "query { alertsByLinkEntity(linkEntityId: \"incidentId\") { alertId } }"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "403": {
            "description": "Access Denied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "404": {
            "description": "Alert not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          },
          "424": {
            "description": "The GraphQL request is empty.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "security": [
          {
            "CEMA_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "connectionId": "11ofco",
          "httpMethod": "POST",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cema/v1/api/public/graphql",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "passthroughBehavior": "when_no_match",
          "connectionType": "VPC_LINK"
        }
      }
    },
    "/schema": {
      "get": {
        "tags": [
          "CEMA Query Public"
        ],
        "operationId": "GraphQL Schema",
        "summary": "GraphQL Schema",
        "description": "This is used to get the full GraphQL Schema for Query Public.",
        "responses": {
          "200": {
            "description": "200 response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Empty"
                }
              }
            }
          }
        },
        "security": [],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "connectionId": "11ofco",
          "httpMethod": "GET",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cema/v1/api/public/schema",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "passthroughBehavior": "when_no_match",
          "connectionType": "VPC_LINK"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Empty": {
        "title": "Empty Schema",
        "type": "object"
      }
    },
    "securitySchemes": {
      "CEMA_Authorizer": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Enter your EB SUITE OAUTH AUTHENTICATION as 'Bearer YOUR_TOKEN_HERE'.",
        "x-amazon-apigateway-authtype": "custom",
        "x-amazon-apigateway-authorizer": {
          "authorizerUri": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:214792946631:function:API_Authorizer_us-east-1_prod:live/invocations",
          "authorizerCredentials": "arn:aws:iam::214792946631:role/cema-query-public-prod-us-us-east-1-0-us-east-1-gw",
          "authorizerResultTtlInSeconds": 300,
          "identitySource": "method.request.header.Authorization,method.request.header.PathCacheKey,method.request.header.MethodCacheKey",
          "type": "request"
        }
      },
      "api_key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "_id": "690cf9c165b0fb637dd62415"
}