openapi: 3.1.0
info:
  title: Everbridge Suite Authentication Notifications API
  description: REST API for Everbridge's critical event management platform covering contacts, groups, and mass notifications. Endpoints and authentication summarized from the Everbridge developer portal at https://developers.everbridge.net/home/docs/overview. Best-effort, partial.
  version: 1.0.0
  contact:
    name: API Evangelist
    email: kin@apievangelist.com
  license:
    name: Proprietary
servers:
- url: https://api.everbridge.net
  description: Everbridge production API
security:
- bearerAuth: []
tags:
- name: Notifications
paths:
  /ebs/notifications:
    get:
      summary: List notifications
      operationId: listNotifications
      tags:
      - Notifications
      responses:
        '200':
          description: List of notifications
    post:
      summary: Launch mass notification
      operationId: createNotification
      tags:
      - Notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Notification'
      responses:
        '201':
          description: Notification launched
  /ebs/notifications/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get notification
      operationId: getNotification
      tags:
      - Notifications
      responses:
        '200':
          description: Notification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
    put:
      summary: Update notification
      operationId: updateNotification
      tags:
      - Notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Notification'
      responses:
        '200':
          description: Updated
components:
  schemas:
    Notification:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        message:
          type: string
        type:
          type: string
          enum:
          - Standard
          - Polling
        priority:
          type: string
          enum:
          - Normal
          - High
        contactIds:
          type: array
          items:
            type: string
        groupIds:
          type: array
          items:
            type: string
        deliveryMethods:
          type: array
          items:
            type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 id_token from /authorization/v1/tokens
