openapi: 3.2.0
info:
  title: SnapComms API Reference Template API
  description: Template related API's
  version: v1
servers:
- description: API Url
  url: https://api.snapcomms.com/v1
- description: API Sandbox Url
  url: https://api.snapcomms.com/mock
security:
- bearerAuth: []
tags:
- name: Template
  description: Template related API's
paths:
  /template/tag:
    get:
      description: Get all available tags for template
      tags:
      - Template
      summary: Template Tags
      operationId: template-tags
      parameters: []
      responses:
        '200':
          description: List of template tags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResponse'
              example:
              - id: HumanResources
                name: Human Resources
                parentId: null
              - id: HumanResources.EmployeeEngagement
                name: Employee Engagement
                parentId: HumanResources
              - id: HumanResources.EmployeeWellness
                name: Employee Wellness
                parentId: HumanResources
              - id: ITCommunications
                name: IT Communications
                parentId: null
              - id: Emergency
                name: Emergency
                parentId: null
        '429':
          description: Failed - Rate limit is exceeded
components:
  schemas:
    Tag:
      properties:
        id:
          type: string
          description: Unique Id of the tag
          example: ITCommunications
        name:
          type: string
          description: Name of the tag
          example: IT Communications
        parentId:
          type:
          - string
          - 'null'
          description: Tag Id of the parent. Returns null value if there is not a parent tag
    TagResponse:
      type: array
      items:
        $ref: '#/components/schemas/Tag'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-readme:
  explorer-enabled: true
  proxy-enabled: true
