openapi: 3.2.0
info:
  title: Asset Management Asset Type Templates API
  description: This is the Asset Management Rest API Documentation
  contact:
    name: CAMS Team
  version: 1.0.0
servers:
- url: https://api.everbridge.net/rest/v2/asset-management
tags:
- name: Asset Type Templates
  description: Asset type template management operations
paths:
  /asset-type-templates:
    get:
      tags:
      - Asset Type Templates
      operationId: EBS AM List Asset Type Templates
      summary: List Asset Type Templates
      description: List Asset Type Templates
      parameters:
      - name: X-EB-Organization-Id
        in: header
        description: Organization Id
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssetTypeTemplate'
              examples:
                Success:
                  summary: success
                  value:
                  - id: 5d49bc0e00343fff27b81548
                    organizationId: 0
                    createdId: 0
                    lastModifiedId: 0
                    name: Facility
                    description: Facility
                    seq: 2
                    legacy: false
                    assetTypeCategory: REGULAR
                  - id: 5d49bc0e00343fff27b81549
                    organizationId: 0
                    createdId: 0
                    lastModifiedId: 0
                    name: Person
                    description: Person
                    seq: 3
                    legacy: false
                    assetTypeCategory: REGULAR
                  - id: 5d49bc0e00343fff27b81546
                    organizationId: 0
                    createdId: 0
                    lastModifiedId: 0
                    name: Mobile Unit
                    description: Mobile Unit
                    seq: 4
                    legacy: false
                    assetTypeCategory: REGULAR
                  - id: 5d49bc0e00343fff27b81550
                    organizationId: 0
                    createdId: 0
                    lastModifiedId: 0
                    name: SC Building
                    description: Safety Connection Building, each organization can only create one asset type from this template and it doesn't support custom attributes
                    seq: 5
                    legacy: true
                    assetTypeCategory: REGULAR
                  - id: 5d49bc0e00343fff27b81547
                    organizationId: 0
                    createdId: 0
                    lastModifiedId: 0
                    name: Other
                    description: Other
                    seq: 200
                    legacy: false
                    assetTypeCategory: REGULAR
      security:
      - API_Authorizer: []
      - BasicAuth: []
      - api_key: []
      x-amazon-apigateway-integration:
        type: http_proxy
        httpMethod: GET
        uri: https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/asset-type-templates
        responses:
          default:
            statusCode: '200'
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.header.Authorization: context.authorizer.override_token
  /asset-type-templates/{id}:
    get:
      tags:
      - Asset Type Templates
      operationId: EBS AM Get Asset Type Template
      summary: Get Asset Type Template
      description: Get Asset Type Template
      parameters:
      - name: X-EB-Organization-Id
        in: header
        description: Organization Id
        required: true
        schema:
          $ref: '#/components/schemas/organizationId'
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetTypeTemplate'
              examples:
                Success:
                  summary: success
                  value:
                    id: 5d49bc0e00343fff27b81548
                    organizationId: 0
                    createdId: 0
                    lastModifiedId: 0
                    name: Facility
                    description: Facility
                    seq: 2
                    legacy: false
                    assetTypeCategory: REGULAR
                    propertyDefinitions:
                    - id: 601d8de5d97370eb4409cd23
                      organizationId: 0
                      createdId: 0
                      lastModifiedId: 0
                      assetTypeTemplateId: 5d49bc0e00343fff27b81548
                      seq: 0
                      assetPropertyType: BASIC
                      assetPropertyDataType: STRING
                      assetPropertyDisplayType: TEXTBOX
                      name: External ID
      security:
      - API_Authorizer: []
      - BasicAuth: []
      - api_key: []
      x-amazon-apigateway-integration:
        type: http_proxy
        httpMethod: GET
        uri: https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/asset-type-templates/{id}
        responses:
          default:
            statusCode: '200'
        requestParameters:
          integration.request.path.id: method.request.path.id
          integration.request.header.Authorization: context.authorizer.override_token
        passthroughBehavior: when_no_match
components:
  schemas:
    AssetTypeTemplate:
      required:
      - name
      type: object
      properties:
        id:
          type: string
        organizationId:
          type: integer
          format: int64
        createdId:
          type: integer
          format: int64
        createdName:
          type: string
        createdProxyName:
          type: string
        lastModifiedId:
          type: integer
          format: int64
        lastModifiedName:
          type: string
        lastModifiedProxyName:
          type: string
        createdTimestamp:
          type: string
          format: date-time
        lastModifiedTimestamp:
          type: string
          format: date-time
        name:
          maxLength: 200
          minLength: 1
          type: string
        description:
          maxLength: 2000
          minLength: 0
          type: string
        seq:
          type: integer
          format: int32
        legacy:
          type: boolean
        assetTypeCategory:
          type: string
          enum:
          - REGULAR
          - SUPPLY_CHAIN_STOP
          - SUPPLY_CHAIN_ROUTE
        propertyDefinitions:
          type: array
          items:
            $ref: '#/components/schemas/AssetPropertyDefinition'
    AssetPropertyDefinition:
      required:
      - assetPropertyDataType
      - assetPropertyDisplayType
      - assetPropertyType
      - name
      type: object
      properties:
        id:
          type: string
        organizationId:
          type: integer
          format: int64
        createdId:
          type: integer
          format: int64
        createdName:
          type: string
        createdProxyName:
          type: string
        lastModifiedId:
          type: integer
          format: int64
        lastModifiedName:
          type: string
        lastModifiedProxyName:
          type: string
        createdTimestamp:
          type: string
          format: date-time
        lastModifiedTimestamp:
          type: string
          format: date-time
        assetTypeId:
          type: string
        assetTypeTemplateId:
          type: string
        seq:
          maximum: 500
          minimum: 0
          type: integer
          format: int32
        assetPropertyType:
          type: string
          enum:
          - BASIC
          - ADDRESS
          - SYSTEM_PROPERTY
          - CUSTOM_PROPERTY
        assetPropertyDataType:
          type: string
          enum:
          - STRING
          - BOOLEAN
          - LONG
          - DOUBLE
          - DATETIME
          - GEOJSON
          - URL
        assetPropertyDisplayType:
          type: string
          enum:
          - SINGLE
          - TEXTBOX
          - MULTIPLE
        name:
          maxLength: 200
          minLength: 1
          type: string
        aliasName:
          maxLength: 200
          minLength: 1
          type: string
        defaultAliasName:
          type: string
        description:
          maxLength: 2000
          minLength: 0
          type: string
        vccPropertyName:
          type: string
        allowedValues:
          type: array
          items:
            type: object
    organizationId:
      description: Everbridge Organization id.  Available on manager portal (Settings --> Organization --> Base Information)
      maxLength: 16
      type: integer
      example: '1536984111644674'
      default: '1536984111644674'
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: Basic Authentication Token
    API_Authorizer:
      type: apiKey
      name: Authorization
      description: oAuth Token
      in: header
      x-amazon-apigateway-authtype: custom
      x-amazon-apigateway-authorizer:
        authorizerUri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:214792946631:function:API_Authorizer_us-east-1_prod:live/invocations
        authorizerCredentials: arn:aws:iam::214792946631:role/asset-management-prod-us-us-east-1-0-us-east-1-gw
        authorizerResultTtlInSeconds: 300
        identitySource: method.request.header.Authorization,method.request.header.PathCacheKey,method.request.header.MethodCacheKey
        type: request
    api_key:
      type: apiKey
      name: x-api-key
      description: API Key - For System Use
      in: header
x-readme:
  explorer-enabled: true
  proxy-enabled: true
