openapi: 3.2.0
info:
  description: EB Suite APIs.
  title: EB Suite Internal CM Organization Admin API
  version: '1.0'
servers:
- url: https://api.everbridge.net/rest
- url: https://api.everbridge.eu/rest
tags:
- description: EB Suites - Internal CM Organization Admin Management
  name: Internal CM Organization Admin
paths:
  /cminternal/organizationadmin/{organizationId}:
    get:
      operationId: EBS Get Organization Admins
      parameters:
      - in: header
        name: Authorization
        required: false
        schema:
          type: string
      - in: path
        name: organizationId
        required: true
        schema:
          format: int64
          type: integer
      - in: query
        name: pageNo
        required: false
        schema:
          default: 1
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: OK
      security:
      - BasicAuth: []
      - API_Authorizer: []
      - api_key: []
      summary: Get Organization Admins
      tags:
      - Internal CM Organization Admin
      x-amazon-apigateway-integration:
        httpMethod: GET
        passthroughBehavior: when_no_match
        requestParameters:
          integration.request.path.organizationId: method.request.path.organizationId
        responses:
          default:
            statusCode: '200'
        type: http_proxy
        uri: https://ebs-restapi-prod-us.evbg.io/rest/cminternal/organizationadmin/{organizationId}
components:
  securitySchemes:
    API_Authorizer:
      description: oAuth Token
      in: header
      name: Authorization
      type: apiKey
      x-amazon-apigateway-authorizer:
        authorizerCredentials: arn:aws:iam::214792946631:role/oas-rest-api-gw-prod-us-us-east-1-0-us-east-1-gw
        authorizerResultTtlInSeconds: 300
        authorizerUri: arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:214792946631:function:API_Authorizer_us-east-1_prod:live/invocations
        identitySource: method.request.header.Authorization,method.request.header.PathCacheKey,method.request.header.MethodCacheKey
        type: request
      x-amazon-apigateway-authtype: custom
    BasicAuth:
      description: Basic Authentication Token
      scheme: basic
      type: http
    api_key:
      description: API Key - For System Use
      in: header
      name: x-api-key
      type: apiKey
x-amazon-apigateway-binary-media-types:
- audio/wav
- audio/x-wav
- application/octet-stream
x-readme:
  explorer-enabled: true
  proxy-enabled: true
