{
  "openapi": "3.0.1",
  "info": {
    "title": "Asset Management API",
    "description": "This is the Asset Management Rest API Documentation",
    "contact": {
      "name": "CAMS Team"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.everbridge.net/rest/v2/asset-management"
    }
  ],
  "tags": [
    {
      "name": "Assets",
      "description": "Asset management operations"
    },
    {
      "name": "Asset Association Definition",
      "description": "Asset association definition operations"
    },
    {
      "name": "Assets Batch",
      "description": "Batch asset management operations"
    },
    {
      "name": "Asset License Limit Stats",
      "description": "Asset licensed limit stats"
    },
    {
      "name": "Asset Types",
      "description": "Asset type management operations"
    },
    {
      "name": "Asset Type Templates",
      "description": "Asset type template management operations"
    },
    {
      "name": "Asset Upload Batches",
      "description": "Asset upload batch management operations"
    },
    {
      "name": "Column Mappings",
      "description": "Column mapping management operations"
    },
    {
      "name": "Uploaded Assets",
      "description": "Uploaded Assets Status operations"
    }
  ],
  "paths": {
    "/assets": {
      "post": {
        "tags": [
          "Assets"
        ],
        "operationId": "EBS AM Create Asset",
        "summary": "Create Asset",
        "description": "Create a new asset to an organization. To get the assertTypeId use [List Asset Types](https://developers.everbridge.net/home/reference/ebs-list-asset-types) endpoint.",
        "parameters": [
          {
            "description": "The organization ID",
            "in": "header",
            "name": "X-EB-Organization-Id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/organizationId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/assetsManagementRequestWrapper"
              },
              "examples": {
                "Request with minimum properties": {
                  "summary": "Create an asset with minimum properties",
                  "value": {
                    "externalId": "externalId1@everbridge.com",
                    "name": "Home",
                    "assetTypeId": "665ff8e1a1b61d39e577b9c6"
                  }
                },
                "Request with most properties": {
                  "summary": "Create an asset with most properties",
                  "value": {
                    "assetTypeId": "665856825d59930bc2151633",
                    "name": "Office Address2",
                    "externalId": "c-vishal.agrawal5@everbridge.com",
                    "category": "office",
                    "notes": "Everbridge Bangalore Office",
                    "startTimestamp": 1738175400000,
                    "endTimestamp": 1738261800000,
                    "isEditMode": false,
                    "address": {
                      "country": "IN",
                      "state": "Karnataka (IN)",
                      "streetAddress1": "1st Floor, Everbridge Pvt Ltd",
                      "streetAddress2": "9th cross road, Silver spring layout, Whitefield",
                      "city": "Bangalore",
                      "postalCode": "560037"
                    },
                    "associations": [
                      {
                        "associationDefinitionId": "665857c05d59930bc2151643",
                        "entityIds": [
                          2668619410440194
                        ],
                        "entityType": "Contact"
                      }
                    ]
                  }
                },
                "Request with geometry coordinates": {
                  "summary": "Request with geometry coordinates",
                  "value": {
                    "assetTypeId": "665ff8e1a1b61d39e577b9c6",
                    "iconId": "1",
                    "name": "Everbridge Bangalore Office ",
                    "externalId": "c-vishal.agrawal01@everbridge.com",
                    "properties": [
                      {
                        "propertyId": "665ff8e1a1b61d39e577b9d5",
                        "value": "1st"
                      },
                      {
                        "propertyId": "665ff8e1a1b61d39e577b9d6",
                        "value": "101"
                      }
                    ],
                    "isEditMode": false,
                    "address": {
                      "country": "IN",
                      "state": "Karnataka (IN)",
                      "streetAddress1": "9th Cross Road",
                      "streetAddress2": null,
                      "city": "Bangalore",
                      "postalCode": "560037",
                      "point": {
                        "lat": 12.95115784,
                        "lon": 77.71304049
                      }
                    },
                    "geometry": "{\"type\":\"Point\",\"coordinates\":[77.71304049,12.95115784]}",
                    "associations": [
                      {
                        "associationDefinitionId": "665857c05d59930bc2151643",
                        "entityIds": [
                          2668619410440194
                        ],
                        "entityType": "Contact"
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assetsManagementResponseWrapper"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "Success": {
                    "summary": "Bad request",
                    "value": {
                      "status": 400,
                      "errors": [
                        {
                          "field": "externalId",
                          "code": 10005,
                          "message": "must not be null"
                        }
                      ]
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "Success": {
                    "summary": "Invalid input",
                    "value": {
                      "status": 401,
                      "message": "Org is invalid."
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "Success": {
                    "summary": "Not Found",
                    "value": {}
                  }
                }
              }
            },
            "description": "OK"
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "text/plain": {
                "example": "default internal error"
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "httpMethod": "POST",
          "uri": "https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/assets",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.header.Authorization": "context.authorizer.override_token"
          },
          "passthroughBehavior": "when_no_match"
        }
      },
      "get": {
        "tags": [
          "Assets"
        ],
        "operationId": "EBS AM List Assets",
        "summary": "List Assets",
        "description": "Retrieve all assets for a given asset type with in an organization. To get the assertTypeId use [List Asset Types](https://developers.everbridge.net/home/reference/ebs-list-asset-types) endpoint.",
        "parameters": [
          {
            "description": "The organization ID",
            "in": "header",
            "name": "X-EB-Organization-Id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/organizationId"
            }
          },
          {
            "description": "Available on manager portal (Settings --> Organization --> Contacts/Assets --> Assert Types)",
            "in": "query",
            "name": "assetTypeId",
            "required": true,
            "schema": {
              "type": "string",
              "default": "665ff8e1a1b61d39e577b9c6"
            }
          },
          {
            "description": "Supports name and externalId. It is case-insensitive and uses the 'contains' criteria. For example 'os' will return Boston.",
            "in": "query",
            "name": "searchValue",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "description": "The page number of assets to return.",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "1"
            }
          },
          {
            "description": "The page size of assets to return.",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assetsManagementListResponseWrapper"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "Success": {
                    "summary": "Invalid input",
                    "value": {
                      "status": 400,
                      "message": "Required request parameter 'assetTypeId' for method parameter type String is not present"
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "Success": {
                    "summary": "Invalid input",
                    "value": {
                      "status": 401,
                      "message": "Org is invalid."
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "Success": {
                    "summary": "Not Found",
                    "value": {}
                  }
                }
              }
            },
            "description": "OK"
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "text/plain": {
                "example": "default internal error"
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "httpMethod": "GET",
          "uri": "https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/assets",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.header.Authorization": "context.authorizer.override_token"
          },
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/assets/quick-search": {
      "post": {
        "tags": [
          "Assets"
        ],
        "operationId": "EBS AM Search Assets",
        "summary": "Search Assets",
        "description": "Retrieve assets based on different search criteria with in a given asset type. To get the assertTypeId use [List Asset Types](https://developers.everbridge.net/home/reference/ebs-list-asset-types) endpoint.",
        "parameters": [
          {
            "description": "The organization ID",
            "in": "header",
            "name": "X-EB-Organization-Id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/organizationId"
            }
          },
          {
            "in": "query",
            "name": "assetTypeId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/assetTypeId"
            }
          },
          {
            "description": "Supports name and externalId. It is case-insensitive and uses the 'contains' criteria. For example 'os' will return Boston.",
            "in": "query",
            "name": "searchValue",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "description": "The page number of assets to return.",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "1"
            }
          },
          {
            "description": "The page size of assets to return.",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/assetsManagementQuickSearchRequestWrapper"
              },
              "examples": {
                "Create asset with most properties": {
                  "summary": "Create asset request",
                  "value": [
                    "67989d1a864bb0253a72213f"
                  ]
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assetsManagementListResponseWrapper"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "Success": {
                    "summary": "Invalid input",
                    "value": {
                      "status": 400,
                      "message": "Required request parameter 'assetTypeId' for method parameter type String is not present"
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "Success": {
                    "summary": "Invalid input",
                    "value": {
                      "status": 401,
                      "message": "Org is invalid."
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "text/plain": {
                "example": "default internal error"
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "httpMethod": "POST",
          "uri": "https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/assets/quick-search",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.header.Authorization": "context.authorizer.override_token"
          },
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/assets/{id}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "operationId": "EBS AM Get Asset",
        "summary": "Get Asset",
        "description": "Retrieve the specified asset within an organization. To get the assertTypeId use [List Asset Types](https://developers.everbridge.net/home/reference/ebs-list-asset-types) endpoint.",
        "parameters": [
          {
            "description": "The organization ID",
            "in": "header",
            "name": "X-EB-Organization-Id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/organizationId"
            }
          },
          {
            "description": "Asset ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "example": "2344950675013633"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assetsManagementSingleResponseWrapper"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Missing or invalid request input",
            "content": {
              "text/plain": {
                "examples": {
                  "Bad request": {
                    "value": {
                      "message": "BadRequest due to Not Found DataCenterId, orgId: "
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "Success": {
                    "summary": "Invalid input",
                    "value": {
                      "status": 401,
                      "message": "authorization check error",
                      "errors": null
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "Success": {
                    "summary": "Not Found",
                    "value": {}
                  }
                }
              }
            },
            "description": "OK"
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "text/plain": {
                "example": {
                  "value": {
                    "message": "default internal error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "httpMethod": "GET",
          "uri": "https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/assets/{id}",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.id": "method.request.path.id",
            "integration.request.header.Authorization": "context.authorizer.override_token"
          },
          "passthroughBehavior": "when_no_match"
        }
      },
      "put": {
        "tags": [
          "Assets"
        ],
        "operationId": "EBS AM Update Asset",
        "summary": "Update Asset",
        "description": "Update the specified asset within an organization. To get the assertTypeId use [List Asset Types](https://developers.everbridge.net/home/reference/ebs-list-asset-types) endpoint.",
        "parameters": [
          {
            "description": "The organization ID",
            "in": "header",
            "name": "X-EB-Organization-Id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/organizationId"
            }
          },
          {
            "description": "Asset ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "example": "2344950675013633"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/assetsManagementRequestWrapper"
              },
              "examples": {
                "Update an asset name": {
                  "summary": "Update an asset name",
                  "value": {
                    "externalId": "externalId1@everbridge.com",
                    "name": "Home",
                    "assetTypeId": "665ff8e1a1b61d39e577b9c6"
                  }
                },
                "Update an asset address": {
                  "summary": "Update an asset address",
                  "value": {
                    "assetTypeId": "665ff8e1a1b61d39e577b9c6",
                    "name": "Office Address2",
                    "externalId": "c-vishal.agrawal5@everbridge.com",
                    "address": {
                      "country": "IN",
                      "state": "Karnataka (IN)",
                      "streetAddress1": "1st Floor, Everbridge Pvt Ltd",
                      "streetAddress2": "9th cross road, Silver spring layout, Whitefield",
                      "city": "Bangalore",
                      "postalCode": "560037"
                    }
                  }
                },
                "Update an asset geometry coordinates": {
                  "summary": "Update an asset geometry coordinates",
                  "value": {
                    "assetTypeId": "665ff8e1a1b61d39e577b9c6",
                    "name": "Everbridge Bangalore Office",
                    "externalId": "c-vishal.agrawal011@everbridge.com",
                    "geometry": "{\"type\":\"Point\",\"coordinates\":[77.71304049,12.95115784]}"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assetsManagementSingleResponseWrapper"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Missing or invalid request input",
            "content": {
              "text/plain": {
                "examples": {
                  "Bad request": {
                    "value": {
                      "message": "BadRequest due to Not Found DataCenterId, orgId: "
                    }
                  },
                  "ExternalId is required": {
                    "value": {
                      "status": 400,
                      "errors": [
                        {
                          "field": "externalId",
                          "code": 10005,
                          "message": "must not be null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "Success": {
                    "summary": "Invalid input",
                    "value": {
                      "status": 401,
                      "message": "authorization check error",
                      "errors": null
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "Success": {
                    "summary": "Not Found",
                    "value": {}
                  }
                }
              }
            },
            "description": "OK"
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "text/plain": {
                "example": {
                  "value": {
                    "message": "default internal error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "httpMethod": "PUT",
          "uri": "https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/assets/{id}",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.id": "method.request.path.id",
            "integration.request.header.Authorization": "context.authorizer.override_token"
          },
          "passthroughBehavior": "when_no_match"
        }
      },
      "delete": {
        "tags": [
          "Assets"
        ],
        "operationId": "EBS AM Delete Asset",
        "summary": "Delete Asset",
        "description": "Delete the specified asset within an organization. To get the assertTypeId use [List Asset Types](https://developers.everbridge.net/home/reference/ebs-list-asset-types) endpoint.",
        "parameters": [
          {
            "description": "The organization ID",
            "in": "header",
            "name": "X-EB-Organization-Id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/organizationId"
            }
          },
          {
            "description": "Asset ID",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "example": "2344950675013633"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assetsManagementSingleResponseWrapper"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Missing or invalid request input",
            "content": {
              "text/plain": {
                "examples": {
                  "Bad request": {
                    "value": {
                      "message": "BadRequest due to Not Found DataCenterId, orgId: "
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "Success": {
                    "summary": "Invalid input",
                    "value": {
                      "status": 401,
                      "message": "authorization check error",
                      "errors": null
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "Success": {
                    "summary": "Not Found",
                    "value": {}
                  }
                }
              }
            },
            "description": "OK"
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "text/plain": {
                "example": {
                  "value": {
                    "message": "default internal error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "httpMethod": "DELETE",
          "uri": "https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/assets/{id}",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.id": "method.request.path.id",
            "integration.request.header.Authorization": "context.authorizer.override_token"
          },
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/assets/asset-type-id/{assetTypeId}/external-id": {
      "get": {
        "tags": [
          "Assets"
        ],
        "operationId": "EBS AM Get Asset By ExternalId",
        "summary": "Get Asset By ExternalId",
        "description": "Retrieve the specified assets for the provided assertTypeId. To get the assertTypeId use [List Asset Types](https://developers.everbridge.net/home/reference/ebs-list-asset-types) endpoint.",
        "parameters": [
          {
            "description": "The organization ID",
            "in": "header",
            "name": "X-EB-Organization-Id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/organizationId"
            }
          },
          {
            "in": "path",
            "name": "assetTypeId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/assetTypeId"
            }
          },
          {
            "in": "query",
            "name": "externalId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/externalId"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assetsManagementSingleResponseWrapper"
                },
                "examples": {
                  "Success": {
                    "summary": "success",
                    "value": {
                      "id": "684038ffb1acf15bb25211a1",
                      "organizationId": 1536984111644674,
                      "createdId": 1530249602924608,
                      "createdName": "Nandish Siddaiah",
                      "lastModifiedId": 2200330536222721,
                      "lastModifiedName": "Nandish API Access",
                      "createdTimestamp": 1749039359221,
                      "lastModifiedTimestamp": 1754498784644,
                      "externalId": "external_id_03d763b5-8098-446e-87b2-d8e696d85ac6",
                      "assetTypeId": "665ff8e1a1b61d39e577b9c6",
                      "name": "test-Namefc532672-bd9f-4925-958b-ac0f9d347439",
                      "address": {
                        "country": "US",
                        "state": "test-State26ea67d0-73ed-4487-9ba5-46311b36977c",
                        "city": "test-City54d8a7ef-563d-4db7-9075-75c20aaf5572",
                        "postalCode": "test-Postal Code5f8",
                        "streetAddress1": "test-Street Address 19993953c-e616-4c74-8bc4-e32973174850",
                        "streetAddress2": "test-Street Address 266db1b6c-0de6-4ed2-8d7b-4438d7b1235f"
                      },
                      "iconId": "12",
                      "startTimestamp": 1745339126000,
                      "endTimestamp": 1745339126000,
                      "notes": "test-Notese2f15443-aaa0-48ba-a919-f4f67cc66128",
                      "category": "test-Categoryc2f1f412-1aaa-474e-b444-ccef9882cd07",
                      "geometry": "{\"coordinates\": [100.0, 0.0], \"type\": \"Point\"}",
                      "assetTypeName": "Buildings",
                      "geocodingAddressRequired": false,
                      "smartEnabled": false
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Missing or invalid request input",
            "content": {
              "text/plain": {
                "examples": {
                  "Bad request": {
                    "value": {
                      "message": "BadRequest due to Not Found DataCenterId, orgId: "
                    }
                  },
                  "ExternalId is required": {
                    "value": {
                      "status": 400,
                      "message": "Required request parameter 'externalId' for method parameter type String is not present"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "Success": {
                    "summary": "Invalid input",
                    "value": {
                      "status": 401,
                      "message": "Org is invalid."
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "Success": {
                    "summary": "Not Found",
                    "value": {}
                  }
                }
              }
            },
            "description": "OK"
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "text/plain": {
                "example": {
                  "value": {
                    "message": "default internal error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "httpMethod": "GET",
          "uri": "https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/assets/asset-type-id/{assetTypeId}/external-id",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.assetTypeId": "method.request.path.assetTypeId",
            "integration.request.header.Authorization": "context.authorizer.override_token"
          },
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/assets/asset-type-id/{assetTypeId}/external-id/{externalId}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "operationId": "EBS AM Get Asset By ExternalId Path",
        "summary": "Get Asset By ExternalId (Path)",
        "description": "Retrieve the specified assets for the provided assetTypeId. ExternalId provided as path variable. </br> To get the assertTypeId use [List Asset Types](https://developers.everbridge.net/home/reference/ebs-list-asset-types) endpoint.",
        "parameters": [
          {
            "description": "The organization ID",
            "in": "header",
            "name": "X-EB-Organization-Id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/organizationId"
            }
          },
          {
            "in": "path",
            "name": "assetTypeId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/assetTypeId"
            }
          },
          {
            "in": "path",
            "name": "externalId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/externalId"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/assetsManagementSingleResponseWrapper"
                },
                "examples": {
                  "Success": {
                    "summary": "success",
                    "value": {
                      "id": "684038ffb1acf15bb25211a1",
                      "organizationId": 1536984111644674,
                      "createdId": 1530249602924608,
                      "createdName": "Nandish Siddaiah",
                      "lastModifiedId": 2200330536222721,
                      "lastModifiedName": "Nandish API Access",
                      "createdTimestamp": 1749039359221,
                      "lastModifiedTimestamp": 1754498784644,
                      "externalId": "external_id_03d763b5-8098-446e-87b2-d8e696d85ac6",
                      "assetTypeId": "665ff8e1a1b61d39e577b9c6",
                      "name": "test-Namefc532672-bd9f-4925-958b-ac0f9d347439",
                      "address": {
                        "country": "US",
                        "state": "test-State26ea67d0-73ed-4487-9ba5-46311b36977c",
                        "city": "test-City54d8a7ef-563d-4db7-9075-75c20aaf5572",
                        "postalCode": "test-Postal Code5f8",
                        "streetAddress1": "test-Street Address 19993953c-e616-4c74-8bc4-e32973174850",
                        "streetAddress2": "test-Street Address 266db1b6c-0de6-4ed2-8d7b-4438d7b1235f"
                      },
                      "iconId": "12",
                      "startTimestamp": 1745339126000,
                      "endTimestamp": 1745339126000,
                      "notes": "test-Notese2f15443-aaa0-48ba-a919-f4f67cc66128",
                      "category": "test-Categoryc2f1f412-1aaa-474e-b444-ccef9882cd07",
                      "geometry": "{\"coordinates\": [100.0, 0.0], \"type\": \"Point\"}",
                      "assetTypeName": "Buildings",
                      "geocodingAddressRequired": false,
                      "smartEnabled": false
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "description": "Missing or invalid request input",
            "content": {
              "text/plain": {
                "examples": {
                  "Bad request": {
                    "value": {
                      "message": "BadRequest due to Not Found DataCenterId, orgId: "
                    }
                  },
                  "ExternalId is required": {
                    "value": {
                      "status": 400,
                      "message": "Required request parameter 'externalId' for method parameter type String is not present"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "Success": {
                    "summary": "Invalid input",
                    "value": {
                      "status": 401,
                      "message": "Org is invalid."
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "Success": {
                    "summary": "Not Found",
                    "value": {}
                  }
                }
              }
            },
            "description": "OK"
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "text/plain": {
                "example": {
                  "value": {
                    "message": "default internal error"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "httpMethod": "GET",
          "uri": "https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/assets/asset-type-id/{assetTypeId}/external-id/{externalId}",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.assetTypeId": "method.request.path.assetTypeId",
            "integration.request.path.externalId": "method.request.path.externalId",
            "integration.request.header.Authorization": "context.authorizer.override_token"
          },
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/assets/batch": {
      "put": {
        "tags": [
          "Assets Batch"
        ],
        "operationId": "EBS AM Update Batch Assets",
        "summary": "Update Batch Assets",
        "description": "Update Batch Assets",
        "parameters": [
          {
            "name": "X-EB-Organization-Id",
            "in": "header",
            "description": "Organization Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AssetUpdateRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "httpMethod": "PUT",
          "uri": "https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/assets/batch",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.header.Authorization": "context.authorizer.override_token"
          },
          "passthroughBehavior": "when_no_match"
        }
      },
      "post": {
        "tags": [
          "Assets Batch"
        ],
        "operationId": "EBS AM Create Batch Assets",
        "summary": "Create Batch Assets",
        "description": "Create Batch Assets",
        "parameters": [
          {
            "name": "X-EB-Organization-Id",
            "in": "header",
            "description": "Organization Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AssetRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "httpMethod": "POST",
          "uri": "https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/assets/batch",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.header.Authorization": "context.authorizer.override_token"
          },
          "passthroughBehavior": "when_no_match"
        }
      },
      "delete": {
        "tags": [
          "Assets Batch"
        ],
        "operationId": "EBS AM Delete batch Assets",
        "summary": "Delete batch Assets",
        "description": "Delete batch Assets",
        "parameters": [
          {
            "name": "X-EB-Organization-Id",
            "in": "header",
            "description": "Organization Id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "httpMethod": "DELETE",
          "uri": "https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/assets/batch",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.header.Authorization": "context.authorizer.override_token"
          },
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/asset-upload-batches": {
      "get": {
        "tags": [
          "Asset Upload Batches"
        ],
        "operationId": "EBS AM List Upload Assets Batches",
        "summary": "List Upload Assets Batches",
        "description": "Retrieve all upload assets batches for a given asset type with in an organization.",
        "parameters": [
          {
            "description": "The organization ID",
            "in": "header",
            "name": "X-EB-Organization-Id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/organizationId"
            }
          },
          {
            "description": "The page number of assets to return.",
            "in": "query",
            "name": "pageNumber",
            "required": false,
            "schema": {
              "type": "integer",
              "default": "1"
            }
          },
          {
            "description": "The page size of assets to return.",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Sort uploads by field names",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string",
              "default": "-createdTimestamp"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUploadBatchResponse"
                },
                "examples": {
                  "Success": {
                    "summary": "Success",
                    "value": {
                      "pageSize": 100,
                      "start": 0,
                      "totalCount": 13,
                      "data": [
                        {
                          "id": "68076691610b4b5869d240a5",
                          "organizationId": 1536984111644674,
                          "createdId": 1530249602924608,
                          "createdName": "Nandish Siddaiah",
                          "lastModifiedId": 1530249602924608,
                          "lastModifiedName": "Nandish Siddaiah",
                          "createdTimestamp": 1745315473046,
                          "lastModifiedTimestamp": 1745316126070,
                          "originalFileName": "For API Gateway___91ae67a7-4390-455b-b505-858333558edd.csv",
                          "fileSuffix": ".csv",
                          "storedFilePath": "1536984111644674/68076691610b4b5869d240a5/68076691610b4b5869d240a5.csv",
                          "fileSize": 918,
                          "contentType": "text/csv",
                          "type": "ASSET",
                          "uploadStatus": "GEOCODING",
                          "uploadType": "UPDATE",
                          "source": "API",
                          "assetTypeId": "665ff8e1a1b61d39e577b9c6",
                          "assetTypeName": "Buildings",
                          "totalRecordNum": 5,
                          "successNum": 5,
                          "withErrorNum": 0,
                          "criticalNum": 0,
                          "geocodingSuccessNum": 0,
                          "geocodingFailureNum": 0,
                          "geocodingTotalNum": 0,
                          "csvDelimiter": "COMMA"
                        },
                        {
                          "id": "6807668a610b4b5869d240a4",
                          "organizationId": 1536984111644674,
                          "createdId": 1530249602924608,
                          "createdName": "Nandish Siddaiah",
                          "lastModifiedId": 1530249602924608,
                          "lastModifiedName": "Nandish Siddaiah",
                          "createdTimestamp": 1745315466195,
                          "lastModifiedTimestamp": 1745316126065,
                          "originalFileName": "For API Gateway___91ae67a7-4390-455b-b505-858333558edd.csv",
                          "fileSuffix": ".csv",
                          "storedFilePath": "1536984111644674/6807668a610b4b5869d240a4/6807668a610b4b5869d240a4.csv",
                          "fileSize": 918,
                          "contentType": "text/csv",
                          "type": "ASSET",
                          "uploadStatus": "GEOCODING",
                          "uploadType": "UPDATE",
                          "source": "API",
                          "assetTypeId": "665856825d59930bc2151633",
                          "assetTypeName": "For API Gateway",
                          "totalRecordNum": 5,
                          "successNum": 5,
                          "withErrorNum": 0,
                          "criticalNum": 0,
                          "geocodingSuccessNum": 0,
                          "geocodingFailureNum": 0,
                          "geocodingTotalNum": 0,
                          "csvDelimiter": "COMMA"
                        }
                      ],
                      "currentPageNo": 1,
                      "totalPageCount": 1
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "text/plain": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object"
                    }
                  ]
                },
                "examples": {
                  "Invalid Org ID": {
                    "summary": "Invalid Org ID",
                    "value": "BadRequest due to Not Found DataCenterId, orgId: 15369841116446741"
                  }
                }
              }
            },
            "description": "Invalid Org ID"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "No X-EB-Organization-Id Header": {
                    "summary": "Missing X-EB-Organization-Id Header",
                    "value": {}
                  }
                }
              }
            },
            "description": "Missing X-EB-Organization-Id Header"
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "httpMethod": "GET",
          "uri": "https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/asset-upload-batches",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.header.Authorization": "context.authorizer.override_token"
          },
          "passthroughBehavior": "when_no_match"
        }
      },
      "post": {
        "tags": [
          "Asset Upload Batches"
        ],
        "operationId": "EBS AM Upload Asset Batches",
        "summary": "Upload Asset Batches",
        "description": "Upload assets batches to an organization.",
        "parameters": [
          {
            "description": "The organization ID",
            "in": "header",
            "name": "X-EB-Organization-Id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/organizationId"
            }
          },
          {
            "description": "Source protocol type. Can be of API, SFTP or WEB",
            "in": "query",
            "name": "source",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "API",
                "SFTP",
                "WEB"
              ],
              "default": "API"
            }
          },
          {
            "description": "Upload action type. Can be one of UPDATE, REPLACE or DELETE",
            "in": "query",
            "name": "uploadType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "UPDATE",
                "REPLACE",
                "DELETE"
              ],
              "default": "UPDATE"
            }
          },
          {
            "description": "Name of Asset Type",
            "in": "query",
            "name": "assetTypeName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Available on manager portal (Settings --> Organization --> Contacts/Assets --> Assert Types)",
            "in": "query",
            "name": "assetTypeId",
            "required": false,
            "schema": {
              "type": "string",
              "example": "665ff8e1a1b61d39e577b9c6",
              "default": "665ff8e1a1b61d39e577b9c6"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadBatchAssetResponse"
                },
                "examples": {
                  "Success": {
                    "summary": "Success",
                    "value": {
                      "id": "68076691610b4b5869d240a5",
                      "organizationId": 1536984111644674,
                      "createdId": 1530249602924608,
                      "createdName": "Nandish Siddaiah",
                      "lastModifiedId": 1530249602924608,
                      "lastModifiedName": "Nandish Siddaiah",
                      "createdTimestamp": 1745315473046,
                      "lastModifiedTimestamp": 1745315473137,
                      "originalFileName": "For API Gateway___91ae67a7-4390-455b-b505-858333558edd.csv",
                      "fileSuffix": ".csv",
                      "storedFilePath": "1536984111644674/68076691610b4b5869d240a5/68076691610b4b5869d240a5.csv",
                      "fileSize": 918,
                      "contentType": "text/csv",
                      "type": "ASSET",
                      "uploadStatus": "PENDING",
                      "uploadType": "UPDATE",
                      "source": "API",
                      "assetTypeId": "665ff8e1a1b61d39e577b9c6",
                      "assetTypeName": "Buildings",
                      "totalRecordNum": 0,
                      "successNum": 0,
                      "withErrorNum": 0,
                      "criticalNum": 0,
                      "geocodingSuccessNum": 0,
                      "geocodingFailureNum": 0,
                      "geocodingTotalNum": 0,
                      "csvDelimiter": "COMMA"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "text/plain": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object"
                    }
                  ]
                },
                "examples": {
                  "Invalid Org ID": {
                    "summary": "Invalid Org ID",
                    "value": "BadRequest due to Not Found DataCenterId, orgId: 15369841116446741"
                  }
                }
              }
            },
            "description": "Invalid Org ID"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "No X-EB-Organization-Id Header": {
                    "summary": "Missing X-EB-Organization-Id Header",
                    "value": {}
                  }
                }
              }
            },
            "description": "Missing X-EB-Organization-Id Header"
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "credentials": "arn:aws:iam::214792946631:role/apigateway_invoke_lambda",
          "httpMethod": "POST",
          "uri": "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:214792946631:function:apigw-large-file-handler-us-east-1-prod/invocations",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {},
          "passthroughBehavior": "when_no_match",
          "contentHandling": "CONVERT_TO_TEXT",
          "type": "aws_proxy"
        }
      }
    },
    "/asset-upload-batches/{id}": {
      "get": {
        "tags": [
          "Asset Upload Batches"
        ],
        "operationId": "EBS AM Get Upload Asset Batch",
        "summary": "Get Upload Asset Batch",
        "description": "Retrieve the specified upload asset batch within an organization.",
        "parameters": [
          {
            "description": "The organization ID",
            "in": "header",
            "name": "X-EB-Organization-Id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/organizationId"
            }
          },
          {
            "description": "Asset upload batch id.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Source protocol type. Can be of API, SFTP or WEB",
            "in": "query",
            "name": "source",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "API",
                "SFTP",
                "WEB"
              ],
              "default": "API"
            }
          },
          {
            "description": "Upload action type. Can be one of UPDATE, REPLACE or DELETE",
            "in": "query",
            "name": "uploadType",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "UPDATE",
                "REPLACE",
                "DELETE"
              ],
              "default": "UPDATE"
            }
          },
          {
            "description": "Name of Asset Type",
            "in": "query",
            "name": "assetTypeName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Available on manager portal (Settings --> Organization --> Contacts/Assets --> Assert Types)",
            "in": "query",
            "name": "assetTypeId",
            "required": false,
            "schema": {
              "type": "string",
              "example": "665ff8e1a1b61d39e577b9c6",
              "default": "665ff8e1a1b61d39e577b9c6"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadBatchAssetResponse"
                },
                "examples": {
                  "Success": {
                    "summary": "Success",
                    "value": {
                      "id": "68076691610b4b5869d240a5",
                      "organizationId": 1536984111644674,
                      "createdId": 1530249602924608,
                      "createdName": "Nandish Siddaiah",
                      "lastModifiedId": 1530249602924608,
                      "lastModifiedName": "Nandish Siddaiah",
                      "createdTimestamp": 1745315473046,
                      "lastModifiedTimestamp": 1745315478260,
                      "originalFileName": "For API Gateway___91ae67a7-4390-455b-b505-858333558edd.csv",
                      "fileSuffix": ".csv",
                      "storedFilePath": "1536984111644674/68076691610b4b5869d240a5/68076691610b4b5869d240a5.csv",
                      "fileSize": 918,
                      "contentType": "text/csv",
                      "type": "ASSET",
                      "uploadStatus": "GEOCODING",
                      "uploadType": "UPDATE",
                      "source": "API",
                      "assetTypeId": "665ff8e1a1b61d39e577b9c6",
                      "assetTypeName": "Buildings",
                      "totalRecordNum": 5,
                      "successNum": 5,
                      "withErrorNum": 0,
                      "criticalNum": 0,
                      "geocodingSuccessNum": 0,
                      "geocodingFailureNum": 0,
                      "geocodingTotalNum": 0,
                      "csvDelimiter": "COMMA"
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "text/plain": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object"
                    }
                  ]
                },
                "examples": {
                  "Invalid Org ID": {
                    "summary": "Invalid Org ID",
                    "value": "BadRequest due to Not Found DataCenterId, orgId: 15369841116446741"
                  }
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "No X-EB-Organization-Id Header": {
                    "summary": "Missing X-EB-Organization-Id Header",
                    "value": {}
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "httpMethod": "GET",
          "uri": "https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/asset-upload-batches/{id}",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.id": "method.request.path.id",
            "integration.request.header.Authorization": "context.authorizer.override_token"
          },
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/asset-upload-batches/cancel/{id}": {
      "put": {
        "tags": [
          "Asset Upload Batches"
        ],
        "operationId": "EBS AM Update Upload Asset Batch",
        "summary": "Update Upload Asset Batch",
        "description": "Cancel an uploaded Batch process within an organization.",
        "parameters": [
          {
            "description": "The organization ID",
            "in": "header",
            "name": "X-EB-Organization-Id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/organizationId"
            }
          },
          {
            "description": "Asset batch id.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadBatchAssetResponse"
                },
                "examples": {
                  "Success": {
                    "summary": "Success",
                    "value": {
                      "id": "68076ebd610b4b5869d240a7",
                      "organizationId": 1536984111644674,
                      "createdId": 1530249602924608,
                      "createdName": "Nandish Siddaiah",
                      "lastModifiedId": 1530249602924608,
                      "lastModifiedName": "Nandish Siddaiah",
                      "createdTimestamp": 1745317565369,
                      "lastModifiedTimestamp": 1745317565514,
                      "originalFileName": "For API Gateway___91ae67a7-4390-455b-b505-858333558edd.csv",
                      "fileSuffix": ".csv",
                      "storedFilePath": "1536984111644674/68076ebd610b4b5869d240a7/68076ebd610b4b5869d240a7.csv",
                      "fileSize": 918,
                      "contentType": "text/csv",
                      "type": "ASSET",
                      "uploadStatus": "PENDING",
                      "uploadType": "UPDATE",
                      "source": "API",
                      "assetTypeId": "665856825d59930bc2151633",
                      "assetTypeName": "For API Gateway",
                      "totalRecordNum": 0,
                      "successNum": 0,
                      "withErrorNum": 0,
                      "criticalNum": 0,
                      "geocodingSuccessNum": 0,
                      "geocodingFailureNum": 0,
                      "geocodingTotalNum": 0,
                      "csvDelimiter": "COMMA"
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "text/plain": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "object"
                    }
                  ]
                },
                "examples": {
                  "Invalid Org ID": {
                    "summary": "Invalid Org ID",
                    "value": "BadRequest due to Not Found DataCenterId, orgId: 15369841116446741"
                  },
                  "Invalid Batch ID": {
                    "summary": "Invalid Batch ID",
                    "value": {
                      "status": 400,
                      "errors": [
                        {
                          "field": "batchId",
                          "code": 70010,
                          "message": "Upload BatchId not found"
                        }
                      ]
                    }
                  },
                  "Upload completed ot cancelled": {
                    "summary": "Upload completed ot cancelled",
                    "value": {
                      "status": 400,
                      "errors": [
                        {
                          "field": "batchId",
                          "code": 70011,
                          "message": "Upload Batch already completed or cancelled"
                        }
                      ]
                    }
                  }
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "No X-EB-Organization-Id Header": {
                    "summary": "Missing X-EB-Organization-Id Header",
                    "value": {}
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "httpMethod": "PUT",
          "uri": "https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/asset-upload-batches/cancel/{id}",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.id": "method.request.path.id",
            "integration.request.header.Authorization": "context.authorizer.override_token"
          },
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/asset-types": {
      "get": {
        "tags": [
          "Asset Types"
        ],
        "operationId": "EBS AM List Asset Types",
        "summary": "List Asset Types",
        "description": "List Asset Types",
        "parameters": [
          {
            "name": "X-EB-Organization-Id",
            "in": "header",
            "description": "Organization Id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/organizationId"
            }
          },
          {
            "name": "searchValue",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includePropertyDefinitions",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "alertable",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "includeSupplyChain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAssetTypeResponse"
                },
                "examples": {
                  "Success": {
                    "summary": "Success",
                    "value": [
                      {
                        "id": "665856825d59930bc2151633",
                        "organizationId": 1536984111644674,
                        "createdId": 2200330536222721,
                        "createdName": "Nandish API Access",
                        "lastModifiedId": 2200330536222721,
                        "lastModifiedName": "Nandish API Access",
                        "createdTimestamp": 1717065346390,
                        "lastModifiedTimestamp": 1717065346390,
                        "name": "For API Gateway",
                        "legacy": false,
                        "assetTypeCategory": "REGULAR",
                        "assetTypeTemplateId": "5d49bc0e00343fff27b81548",
                        "iconId": "1",
                        "alertable": false
                      },
                      {
                        "id": "665ff8e1a1b61d39e577b9c6",
                        "organizationId": 1536984111644674,
                        "createdId": 0,
                        "lastModifiedId": 0,
                        "name": "Buildings",
                        "legacy": true,
                        "assetTypeCategory": "REGULAR",
                        "assetTypeTemplateId": "5d49bc0e00343fff27b81550",
                        "iconId": "1",
                        "alertable": true
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "httpMethod": "GET",
          "uri": "https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/asset-types",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "passthroughBehavior": "when_no_match",
          "requestParameters": {
            "integration.request.header.Authorization": "context.authorizer.override_token"
          }
        }
      },
      "post": {
        "tags": [
          "Asset Types"
        ],
        "operationId": "EBS AM Create Asset Type",
        "summary": "Create Asset Type",
        "description": "Create Asset Type",
        "parameters": [
          {
            "name": "X-EB-Organization-Id",
            "in": "header",
            "description": "Organization Id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/organizationId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAssetTypeRequest"
              },
              "examples": {
                "Basic": {
                  "summary": "basic",
                  "value": {
                    "name": "pre-test1",
                    "iconId": "1",
                    "propertyDefinitions": [
                      {
                        "assetPropertyType": "BASIC",
                        "assetPropertyDataType": "STRING",
                        "assetPropertyDisplayType": "TEXTBOX",
                        "name": "pre-test-prop-def"
                      }
                    ],
                    "assetTypeTemplateId": "5d49bc0e00343fff27b81548"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetType"
                },
                "examples": {
                  "Success": {
                    "summary": "success",
                    "value": {
                      "id": "string",
                      "organizationId": 0,
                      "createdId": 0,
                      "createdName": "string",
                      "createdProxyName": "string",
                      "lastModifiedId": 0,
                      "lastModifiedName": "string",
                      "lastModifiedProxyName": "string",
                      "createdTimestamp": "2025-08-20T12:21:40.940Z",
                      "lastModifiedTimestamp": "2025-08-20T12:21:40.940Z",
                      "name": "string",
                      "description": "string",
                      "seq": 0,
                      "legacy": true,
                      "assetTypeCategory": "REGULAR",
                      "propertyDefinitions": [
                        {
                          "id": "string",
                          "organizationId": 0,
                          "createdId": 0,
                          "createdName": "string",
                          "createdProxyName": "string",
                          "lastModifiedId": 0,
                          "lastModifiedName": "string",
                          "lastModifiedProxyName": "string",
                          "createdTimestamp": "2025-08-20T12:21:40.940Z",
                          "lastModifiedTimestamp": "2025-08-20T12:21:40.940Z",
                          "assetTypeId": "string",
                          "assetTypeTemplateId": "string",
                          "seq": 500,
                          "assetPropertyType": "BASIC",
                          "assetPropertyDataType": "STRING",
                          "assetPropertyDisplayType": "SINGLE",
                          "name": "string",
                          "aliasName": "string",
                          "defaultAliasName": "string",
                          "description": "string",
                          "vccPropertyName": "string",
                          "allowedValues": [
                            {}
                          ]
                        }
                      ],
                      "assetTypeTemplateId": "string",
                      "assetTypeTemplateName": "string",
                      "iconId": "string",
                      "alertable": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "httpMethod": "POST",
          "uri": "https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/asset-types",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "passthroughBehavior": "when_no_match",
          "requestParameters": {
            "integration.request.header.Authorization": "context.authorizer.override_token"
          }
        }
      }
    },
    "/asset-types/{id}": {
      "get": {
        "tags": [
          "Asset Types"
        ],
        "operationId": "EBS AM Get Asset Type",
        "summary": "Get Asset Type",
        "description": "Get Asset Type",
        "parameters": [
          {
            "name": "X-EB-Organization-Id",
            "in": "header",
            "description": "Organization Id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/organizationId"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetType"
                },
                "examples": {
                  "Success": {
                    "summary": "success",
                    "value": {
                      "id": "665ff8e1a1b61d39e577b9c6",
                      "organizationId": 1536984111644674,
                      "createdId": 0,
                      "lastModifiedId": 0,
                      "name": "Buildings",
                      "legacy": true,
                      "assetTypeCategory": "REGULAR",
                      "propertyDefinitions": [
                        {
                          "id": "665ff8e1a1b61d39e577b9c7",
                          "organizationId": 1536984111644674,
                          "createdId": 0,
                          "lastModifiedId": 0,
                          "createdTimestamp": 1717565665767,
                          "lastModifiedTimestamp": 1717565665767,
                          "assetTypeId": "665ff8e1a1b61d39e577b9c6",
                          "seq": 0,
                          "assetPropertyType": "BASIC",
                          "assetPropertyDataType": "STRING",
                          "assetPropertyDisplayType": "TEXTBOX",
                          "name": "External ID"
                        },
                        {
                          "id": "665ff8e1a1b61d39e577b9c8",
                          "organizationId": 1536984111644674,
                          "createdId": 0,
                          "lastModifiedId": 0,
                          "createdTimestamp": 1717565665767,
                          "lastModifiedTimestamp": 1717565665767,
                          "assetTypeId": "665ff8e1a1b61d39e577b9c6",
                          "seq": 1,
                          "assetPropertyType": "BASIC",
                          "assetPropertyDataType": "STRING",
                          "assetPropertyDisplayType": "TEXTBOX",
                          "name": "Name"
                        }
                      ],
                      "assetTypeTemplateId": "5d49bc0e00343fff27b81550",
                      "assetTypeTemplateName": "SC Building",
                      "iconId": "1",
                      "alertable": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "httpMethod": "GET",
          "uri": "https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/asset-types/{id}",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.id": "method.request.path.id",
            "integration.request.header.Authorization": "context.authorizer.override_token"
          },
          "passthroughBehavior": "when_no_match"
        }
      },
      "put": {
        "tags": [
          "Asset Types"
        ],
        "operationId": "EBS AM Update Asset Type",
        "summary": "Update Asset Type",
        "description": "Update Asset Type",
        "parameters": [
          {
            "name": "X-EB-Organization-Id",
            "in": "header",
            "description": "Organization Id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/organizationId"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetTypeUpdateRequest"
              },
              "examples": {
                "Basic": {
                  "summary": "basic",
                  "value": {
                    "name": "pre-test3",
                    "iconId": "1",
                    "propertyDefinitions": [
                      {
                        "assetPropertyType": "BASIC",
                        "assetPropertyDataType": "STRING",
                        "assetPropertyDisplayType": "TEXTBOX",
                        "name": "pre-test-prop-def"
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetType"
                },
                "examples": {
                  "Success": {
                    "summary": "success",
                    "value": {
                      "id": "68a5c4a974af7b55898f64ca",
                      "organizationId": 1536984111644674,
                      "createdId": 2200330536222721,
                      "createdName": "Nandish API Access",
                      "lastModifiedId": 2200330536222721,
                      "lastModifiedName": "Nandish API Access",
                      "createdTimestamp": 1755694249716,
                      "lastModifiedTimestamp": 1755694306544,
                      "name": "pre-test3",
                      "legacy": false,
                      "assetTypeCategory": "REGULAR",
                      "propertyDefinitions": [
                        {
                          "id": "68a5c4e274af7b55898f64db",
                          "organizationId": 1536984111644674,
                          "createdId": 2200330536222721,
                          "createdName": "Nandish API Access",
                          "lastModifiedId": 2200330536222721,
                          "lastModifiedName": "Nandish API Access",
                          "createdTimestamp": 1755694306554,
                          "lastModifiedTimestamp": 1755694306554,
                          "assetTypeId": "68a5c4a974af7b55898f64ca",
                          "seq": 0,
                          "assetPropertyType": "BASIC",
                          "assetPropertyDataType": "STRING",
                          "assetPropertyDisplayType": "TEXTBOX",
                          "name": "pre-test-prop-def"
                        }
                      ],
                      "assetTypeTemplateId": "5d49bc0e00343fff27b81548",
                      "assetTypeTemplateName": "Facility",
                      "iconId": "1",
                      "alertable": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "httpMethod": "PUT",
          "uri": "https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/asset-types/{id}",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.id": "method.request.path.id",
            "integration.request.header.Authorization": "context.authorizer.override_token"
          },
          "passthroughBehavior": "when_no_match"
        }
      },
      "delete": {
        "tags": [
          "Asset Types"
        ],
        "operationId": "EBS AM Delete Asset Type",
        "summary": "Delete Asset Type",
        "description": "Delete Asset Type",
        "parameters": [
          {
            "name": "X-EB-Organization-Id",
            "in": "header",
            "description": "Organization Id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/organizationId"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetType"
                },
                "examples": {
                  "Success": {
                    "summary": "success",
                    "value": {
                      "id": "68a5c4a974af7b55898f64ca",
                      "organizationId": 1536984111644674,
                      "createdId": 2200330536222721,
                      "createdName": "Nandish API Access",
                      "lastModifiedId": 2200330536222721,
                      "lastModifiedName": "Nandish API Access",
                      "createdTimestamp": 1755694249716,
                      "lastModifiedTimestamp": 1755694306544,
                      "name": "pre-test3",
                      "legacy": false,
                      "assetTypeCategory": "REGULAR",
                      "propertyDefinitions": [
                        {
                          "id": "68a5c4e274af7b55898f64db",
                          "organizationId": 1536984111644674,
                          "createdId": 2200330536222721,
                          "createdName": "Nandish API Access",
                          "lastModifiedId": 2200330536222721,
                          "lastModifiedName": "Nandish API Access",
                          "createdTimestamp": 1755694306554,
                          "lastModifiedTimestamp": 1755694306554,
                          "assetTypeId": "68a5c4a974af7b55898f64ca",
                          "seq": 0,
                          "assetPropertyType": "BASIC",
                          "assetPropertyDataType": "STRING",
                          "assetPropertyDisplayType": "TEXTBOX",
                          "name": "pre-test-prop-def"
                        }
                      ],
                      "assetTypeTemplateId": "5d49bc0e00343fff27b81548",
                      "iconId": "1",
                      "alertable": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "httpMethod": "DELETE",
          "uri": "https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/asset-types/{id}",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.id": "method.request.path.id",
            "integration.request.header.Authorization": "context.authorizer.override_token"
          },
          "passthroughBehavior": "when_no_match"
        }
      }
    },
    "/asset-types/sc-building": {
      "get": {
        "tags": [
          "Asset Types"
        ],
        "operationId": "EBS AM Get SC Building Asset Type",
        "summary": "Get SC Building Asset Type",
        "description": "Get SC Building Asset Type",
        "parameters": [
          {
            "name": "X-EB-Organization-Id",
            "in": "header",
            "description": "Organization Id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/organizationId"
            }
          },
          {
            "name": "includePropertyDefinitions",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetType"
                },
                "examples": {
                  "Success": {
                    "summary": "success",
                    "value": {
                      "id": "665ff8e1a1b61d39e577b9c6",
                      "organizationId": 1536984111644674,
                      "createdId": 0,
                      "lastModifiedId": 0,
                      "name": "Buildings",
                      "legacy": true,
                      "assetTypeCategory": "REGULAR",
                      "assetTypeTemplateId": "5d49bc0e00343fff27b81550",
                      "assetTypeTemplateName": "SC Building",
                      "iconId": "1",
                      "alertable": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "httpMethod": "GET",
          "uri": "https://ebs-restapi-prod-us.evbg.io/rest/v2/asset-management/asset-types/sc-building",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "passthroughBehavior": "when_no_match",
          "requestParameters": {
            "integration.request.header.Authorization": "context.authorizer.override_token"
          }
        }
      }
    },
    "/asset-types/property-definitions/{id}/linked-to-asset": {
      "get": {
        "tags": [
          "Asset Types"
        ],
        "operationId": "EBS AM Is Linked To Asset",
        "summary": "Is Linked To Asset",
        "description": "Is Linked To Asset",
        "parameters": [
          {
            "name": "X-EB-Organization-Id",
            "in": "header",
            "description": "Organization Id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/organizationId"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkedToAssetResponse"
                },
                "examples": {
                  "Summary": {
                    "summary": "success",
                    "value": {
                      "linkedToExistingAsset": true
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          },
          {
            "BasicAuth": []
          },
          {
            "api_key": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
[...]
