{
  "openapi": "3.0.3",
  "info": {
    "title": "Communications API",
    "description": "Unified Communications APIs",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.everbridge.net/managerapps/communications/v1"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "deprecated": true,
        "tags": [
          "Comms APIs"
        ],
        "operationId": "cem-comms-launch",
        "summary": "Launch Communication",
        "description": "Launch a communication.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/LaunchCommRequest"
                  },
                  {
                    "$ref": "#/components/schemas/PreviewCommRequest"
                  }
                ]
              },
              "examples": {
                "Sending a communication to a set of individual contacts": {
                  "summary": "Sending a communication to a set of individual contacts",
                  "value": {
                    "title": "May 2nd, 2015 - Earthquake - Galesburg, Michigan",
                    "mode": "Live",
                    "priority": "Normal",
                    "eventType": "Earthquake",
                    "launchedFrom": "API",
                    "message": {
                      "contents": [
                        {
                          "type": "Textual",
                          "contentType": "text/plain",
                          "title": "Earthquake in Galesburg, Michigan",
                          "content": "An earthquake was reported in Galesburg, Michigan. Assess the situation and await further communication.",
                          "paths": [
                            "CATEGORY:EMAIL"
                          ]
                        }
                      ]
                    },
                    "recipients": {
                      "contacts": [
                        {
                          "type": "ExternalId",
                          "externalId": "jsmith1"
                        },
                        {
                          "type": "Id",
                          "id": "873461568734615"
                        },
                        {
                          "type": "Name",
                          "firstName": "Jimi",
                          "lastName": "Hendrix"
                        }
                      ]
                    },
                    "description": "Earthquake in Michigan."
                  }
                },
                "Sending a communication to a set of contact groups": {
                  "summary": "Sending a communication to a set of contact groups",
                  "value": {
                    "title": "May 2nd, 2015 - Earthquake - Galesburg, Michigan",
                    "mode": "Live",
                    "priority": "Normal",
                    "eventType": "Earthquake",
                    "launchedFrom": "API",
                    "message": {
                      "contents": [
                        {
                          "type": "Textual",
                          "contentType": "text/plain",
                          "title": "Earthquake in Galesburg, Michigan",
                          "content": "An earthquake was reported in Galesburg, Michigan. Assess the situation and await further communication.",
                          "paths": [
                            "CATEGORY:EMAIL"
                          ]
                        }
                      ]
                    },
                    "recipients": {
                      "groups": [
                        {
                          "type": "Id",
                          "id": "873461568734615"
                        },
                        {
                          "type": "Name",
                          "name": "MVPs"
                        }
                      ]
                    }
                  }
                },
                "Sending a communication to contacts that match a contact rule (filter)": {
                  "summary": "Sending a communication to contacts that match a contact rule (filter)",
                  "value": {
                    "title": "May 2nd, 2015 - Earthquake - Galesburg, Michigan",
                    "mode": "Live",
                    "priority": "Normal",
                    "eventType": "Earthquake",
                    "launchedFrom": "API",
                    "message": {
                      "contents": [
                        {
                          "type": "Textual",
                          "contentType": "text/plain",
                          "title": "Earthquake in Galesburg, Michigan",
                          "content": "An earthquake was reported in Galesburg, Michigan. Assess the situation and await further communication.",
                          "paths": [
                            "CATEGORY:EMAIL"
                          ]
                        }
                      ]
                    },
                    "recipients": {
                      "rules": [
                        {
                          "type": "Id",
                          "id": "873461568734615"
                        },
                        {
                          "type": "Name",
                          "name": "Michigan Factory Employees"
                        }
                      ]
                    }
                  }
                },
                "Previewing a communication with custom settings": {
                  "summary": "Previewing a communication with custom settings",
                  "value": {
                    "title": "May 2nd, 2015 - Earthquake - Galesburg, Michigan",
                    "mode": "Preview",
                    "priority": "Normal",
                    "eventType": "Earthquake",
                    "launchedFrom": "API",
                    "message": {
                      "contents": [
                        {
                          "type": "Textual",
                          "contentType": "text/plain",
                          "title": "Earthquake in Galesburg, Michigan",
                          "content": "An earthquake was reported in Galesburg, Michigan. Assess the situation and await further communication.",
                          "paths": [
                            "CATEGORY:EMAIL"
                          ]
                        }
                      ]
                    },
                    "settings": {
                      "sender": {
                        "email": {
                          "name": "Mitten Circus Attractions Inc.",
                          "replyToEmail": "call4clowns@example.com"
                        }
                      },
                      "delivery": {
                        "paths": [
                          {
                            "type": "Prompt",
                            "prompt": "Email"
                          }
                        ],
                        "ttl": "PT1H"
                      },
                      "recipientInteraction": {
                        "confirm": false
                      }
                    }
                  }
                },
                "Sending a communication with all types of public messages": {
                  "summary": "Sending a communication with all types of public messages",
                  "value": {
                    "title": "May 2nd, 2015 - Earthquake - Galesburg, Michigan",
                    "mode": "Live",
                    "priority": "Normal",
                    "eventType": "Earthquake",
                    "launchedFrom": "API",
                    "message": {
                      "contents": [
                        {
                          "type": "Textual",
                          "contentType": "text/plain",
                          "title": "Earthquake in Galesburg, Michigan",
                          "content": "An earthquake was reported in Galesburg, Michigan. Assess the situation and await further communication.",
                          "paths": [
                            "CATEGORY:EMAIL"
                          ]
                        }
                      ]
                    },
                    "publicMessages": [
                      {
                        "type": "WebWidget",
                        "title": "subject",
                        "body": "eww body",
                        "stream": "Widget 1",
                        "duration": "P0Y0M0DT1H0M0S",
                        "ewwEndDate": "2024-07-02T20:06:09.734385Z"
                      },
                      {
                        "title": "subject",
                        "body": "alert us body",
                        "alertUsRestSettings": [
                          {
                            "id": 1880407012278273,
                            "groups": [
                              {
                                "groupId": "51",
                                "groupName": "!Unique-COVID-19 Alert"
                              }
                            ],
                            "profileId": "26",
                            "profileName": "1. HPSA / Everbridge Test ",
                            "duration": "10"
                          }
                        ],
                        "alertUsSetting": 1880407012278274,
                        "type": "AlertUs",
                        "alertUsSettingId": 1880407012278274
                      },
                      {
                        "type": "MemberPortal",
                        "title": "subject",
                        "body": "<div>member portal body</div>",
                        "includeSelectedMapShape": true
                      },
                      {
                        "type": "Everbridge Community"
                      },
                      {
                        "type": "SocialMedia",
                        "tokenIds": [
                          "1941670425788417",
                          "1940570914160642"
                        ],
                        "incLink": true,
                        "customContents": [
                          {
                            "type": "Facebook",
                            "title": "subject",
                            "body": "facebook body",
                            "iamgeId": "6684699301a19600834544ef-Screenshot 2024-07-03 at 8.28.40 AM.png"
                          },
                          {
                            "type": "Twitter",
                            "title": "subject",
                            "body": "twitter body",
                            "imageId": "6684699301a19600834544ef-Screenshot 2024-07-03 at 8.28.40 AM.png",
                            "webPageMessage": "<div>twitter web page message</div>"
                          }
                        ]
                      },
                      {
                        "type": "Network",
                        "title": "subject",
                        "body": "everbridge network body",
                        "networkEffectTypes": [
                          "PUBLIC",
                          "NETWORK_GROUP"
                        ],
                        "affectedAreas": "[{\"class\":\"com.everbridge.platform.gis.model.GeoPolygon\",\"points\":[{\"class\":\"com.everbridge.platform.gis.model.GeoPoint\",\"x\":-115.44684600829565,\"y\":39.48112079193548},{\"class\":\"com.everbridge.platform.gis.model.GeoPoint\",\"x\":-109.33844757079812,\"y\":37.59070096979298},{\"class\":\"com.everbridge.platform.gis.model.GeoPoint\",\"x\":-115.57868194579827,\"y\":35.14952743589674},{\"class\":\"com.everbridge.platform.gis.model.GeoPoint\",\"x\":-115.44684600829565,\"y\":39.48112079193548}],\"shell\":{\"class\":\"com.everbridge.platform.gis.model.GeoLinearRing\",\"points\":[{\"class\":\"com.everbridge.platform.gis.model.GeoPoint\",\"x\":-115.44684600829565,\"y\":39.48112079193548},{\"class\":\"com.everbridge.platform.gis.model.GeoPoint\",\"x\":-109.33844757079812,\"y\":37.59070096979298},{\"class\":\"com.everbridge.platform.gis.model.GeoPoint\",\"x\":-115.57868194579827,\"y\":35.14952743589674},{\"class\":\"com.everbridge.platform.gis.model.GeoPoint\",\"x\":-115.44684600829565,\"y\":39.48112079193548}]},\"holes\":null,\"boudingBox\":{\"class\":\"com.everbridge.platform.gis.model.GeoBox\",\"upperRight\":{\"class\":\"com.everbridge.platform.gis.model.GeoPoint\",\"x\":-109.33844757079812,\"y\":39.48112079193548},\"lowerLeft\":{\"class\":\"com.everbridge.platform.gis.model.GeoPoint\",\"x\":-115.57868194579827,\"y\":35.14952743589674}},\"include\":false,\"isCircle\":false}]",
                        "groupIds": [
                          313365108883458,
                          313365108883457
                        ]
                      },
                      {
                        "receiveUrls": [
                          "http://dev.alertus.com:8280/alertusmw/services/AlertusMiddlewareBasic?wsdl",
                          "http://dev.alertus.com:8280/alertusmw/services/A2lertusMiddlewareBasic?wsdl",
                          "http://dev.alertus.com:81280/alertusmw/services/AlertusMiddlewareBasic?wsdl",
                          "https://webhook.site/70cb36e5-a1ff-4164-8209-3419ddfc2b8c?aaa=123123",
                          "https://webhook.site/70cb36e5-a1ff-4164-8209-3419ddfc2b8c",
                          "https://pokeapi.co/api/v2/pokemon/charizard",
                          "https://webhook.site/70cb36e5-a1ff-4164-8209-3419ddfc2b8ce",
                          "https://pokeapi.co/api/v2/pokemon/charizarde",
                          "https://webhook.site/398b9806-bdeb-40ec-a469-f77067cd2f25",
                          "https://webhook.site/5e07de0e-507b-4f7b-8291-66cf83ad289a",
                          "https://webhook-test.com/0063eee5345b916f4a4cd53073937520",
                          "https://pokeapi.co/api/v2/pokemon/ditto"
                        ],
                        "title": "subject",
                        "body": "web posting body",
                        "type": "GenericOneWay"
                      },
                      {
                        "type": "AudioBulletinBoard",
                        "title": "",
                        "body": "",
                        "settingId": 0,
                        "expires": "P0Y0M1DT0H0M0S"
                      },
                      {
                        "type": "CAPPublicMessage",
                        "capCategory": "Environmental",
                        "capEventType": "Air Pollution",
                        "capEventCode": "LAE",
                        "capSeverity": "Severe",
                        "capUrgency": "Expected",
                        "capCertainty": "Likely"
                      }
                    ],
                    "recipients": {
                      "contacts": [
                        {
                          "type": "ExternalId",
                          "externalId": "jsmith1"
                        },
                        {
                          "type": "Id",
                          "id": "873461568734615"
                        },
                        {
                          "type": "Name",
                          "firstName": "Jimi",
                          "lastName": "Hendrix"
                        }
                      ]
                    }
                  }
                },
                "Sending a communication to a set of public users": {
                  "summary": "Sending a communication to a set of public users",
                  "value": {
                    "title": "May 2nd, 2015 - Earthquake - Galesburg, Michigan",
                    "mode": "Live",
                    "publicSafety": true,
                    "priority": "Normal",
                    "eventType": "Earthquake",
                    "launchedFrom": "API",
                    "message": {
                      "contents": [
                        {
                          "type": "Textual",
                          "contentType": "text/plain",
                          "title": "Earthquake in Galesburg, Michigan",
                          "content": "An earthquake was reported in Galesburg, Michigan. Assess the situation and await further communication.",
                          "paths": [
                            "CATEGORY:EMAIL"
                          ]
                        }
                      ]
                    },
                    "recipients": {
                      "publicUsers": [
                        {
                          "type": "SemanticQuery",
                          "command": {
                            "type": "SemanticQuery",
                            "subscribedToIds": [
                              "6858fdb7d988820e9d08db7b"
                            ],
                            "forZipCodes": [
                              "82801"
                            ],
                            "sendToAorSubscriptions": true
                          }
                        }
                      ]
                    },
                    "description": "Earthquake in Michigan."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The communication preview was generated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewCommResponse"
                }
              }
            }
          },
          "201": {
            "description": "The communication was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommsResponse"
                },
                "examples": {
                  "Successful creation of a communication": {
                    "summary": "Successful creation of a communication",
                    "value": {
                      "id": "73ef9c42-df40-41c8-9b2d-6618ed5c31c1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                },
                "examples": {
                  "Single validation error": {
                    "summary": "Single validation error",
                    "value": {
                      "type": "/client-error/invalid-parameter",
                      "title": "Bad Request",
                      "status": 400,
                      "detail": "The \"Field Name #1\" field must not be empty.",
                      "instance": "/cem-comms"
                    }
                  },
                  "Multiple validation errors": {
                    "summary": "Multiple validation errors",
                    "value": {
                      "type": "/client-error/invalid-parameter",
                      "title": "Bad Request",
                      "status": 400,
                      "detail": "The \"title\" field must not be empty.\nThe \"eventType\" field must not be empty.\nThe \"Field Name #1\" field must not be empty.",
                      "instance": "/cem-comms"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The token provided does not have permission to create a new communication."
          },
          "500": {
            "description": "An internal error has occurred. This may not always return a response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                },
                "examples": {
                  "An internal server error has occurred": {
                    "summary": "An internal server error has occurred",
                    "value": {
                      "type": "about:blank",
                      "title": "Internal Server Error",
                      "status": 500,
                      "detail": null,
                      "instance": "/cem-comms"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "connectionId": "11ofco",
          "httpMethod": "POST",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/communications",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "passthroughBehavior": "when_no_match",
          "connectionType": "VPC_LINK"
        }
      },
      "get": {
        "deprecated": true,
        "tags": [
          "Comms APIs"
        ],
        "operationId": "getCem-comms",
        "summary": "List Communications",
        "description": "List communications based on the filter criteria. Only communications that match all filter criteria will be returned.",
        "parameters": [
          {
            "in": "query",
            "name": "threadStatus",
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "INACTIVE"
              ]
            },
            "description": "Filter the record set by the thread status of the communication. If `threadStatus` is not provided, then the record set will include all communications."
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "IN_PROGRESS",
                "SENT",
                "STOPPED",
                "EXPIRED_ARCHIVED"
              ]
            },
            "description": "Filter the record set by the status of the communication:\n * `ACTIVE`: Active communications that are currently sending notifications and/or waiting for responses.\n * `IN_PROGRESS`: Communications that have been submitted but not yet processed.\n * `SENT`: Communications that have sent at least one notification.\n * `STOPPED`: Communications that have been stopped manually by a user.\n * `EXPIRED_ARCHIVED`: Communications that have run their full course or otherwise been archived.\n\n If a `status` is not provided, then the record set will include communications with any status."
          },
          {
            "in": "query",
            "name": "mode",
            "schema": {
              "type": "string",
              "enum": [
                "LIVE",
                "SIMULATION",
                "PREVIEW"
              ]
            },
            "description": "Filter the record set by the notification mode set when it was launched. Please see the [Launch Communication](https://developers.everbridge.net/internal/reference/postcem-comms) endpoint for more information on `mode`.\n If `mode` is not specified, then the record set will include all communications with any `mode`."
          },
          {
            "in": "query",
            "name": "types",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Communication",
                  "Incident",
                  "Notification"
                ]
              }
            },
            "description": "Filter the records returned by the type of communication. If `types` is not specified, then the record set will include all types of communications."
          },
          {
            "in": "query",
            "name": "fromDate",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start date as an ISO 8601-compliant value to filter the record set by."
          },
          {
            "in": "query",
            "name": "toDate",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End date as an ISO 8601-compliant value to filter the record set by."
          },
          {
            "in": "query",
            "name": "dateType",
            "schema": {
              "type": "string",
              "enum": [
                "CREATED",
                "UPDATED",
                "SENT"
              ]
            },
            "description": "Specifies the field that `fromDate` and `toDate` should apply to. Defaults to `CREATED`. This parameter is ignored if neither `fromDate` nor `toDate` are specified."
          },
          {
            "in": "query",
            "name": "contextId",
            "schema": {
              "type": "string"
            },
            "description": "The ID of a contextual object that may have been used to launch a communication. View available contexts using the [Context API](https://developers.everbridge.net/internal/reference/getcontexts)."
          },
          {
            "in": "query",
            "name": "title",
            "schema": {
              "type": "string"
            },
            "description": "Filters by the title of the communication. Returns any communication that contains any word provided in `title`."
          },
          {
            "in": "query",
            "name": "sentBy",
            "schema": {
              "type": "string"
            },
            "description": "Filter by an ID of a user that can launch communications."
          },
          {
            "in": "query",
            "name": "tags",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by one or more tags assigned to a communication. Returns any communication that matches at least one of the provided tags."
          },
          {
            "in": "query",
            "name": "eventType",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by one or more event type values, such as `General` or `Flood`. Values are matched as an OR group."
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "CREATED",
                "EVENTTYPE",
                "NAME",
                "PRIORITY",
                "SENT"
              ]
            },
            "description": "The field to sort the result set by. See `sortDirection` for adjusting the order in which the result set is sorted.\nDefaults to `CREATED`."
          },
          {
            "in": "query",
            "name": "sortDirection",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "ASCENDING",
                "DESC",
                "DESCENDING"
              ]
            },
            "description": "The order by which to sort the result set by. `ASC` and `ASCENDING` have the same effect of ordering the values in ascending order; additionally, `DESC` and `DESCENDING` also have the same effect of ordering the values in descending order. See `sortBy` for details on changing which field is used in sorting.\nDefaults to `DESCENDING`."
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100
            },
            "description": "The size of each page of search results. Defaults to ten records."
          },
          {
            "in": "query",
            "name": "pageNumber",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            },
            "description": "The requested page number out of the total number of pages. Defaults to the first page, which is page number 1."
          }
        ],
        "responses": {
          "200": {
            "description": "The query was executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommPaginatedResponse"
                }
              }
            }
          },
          "500": {
            "description": "An internal error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "passthroughBehavior": "when_no_match",
          "connectionId": "11ofco",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "httpMethod": "GET",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/communications-query",
          "connectionType": "VPC_LINK"
        }
      }
    },
    "/{commId}": {
      "patch": {
        "deprecated": true,
        "tags": [
          "Comms APIs"
        ],
        "summary": "Update communication description, title, eventType and active",
        "description": "Update the description, title, eventType and active properties of an existing communication.",
        "operationId": "patchCem-commsCommid",
        "parameters": [
          {
            "name": "commId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the communication to update."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCommRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "The communication has been updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommDetail"
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "The token provided does not have permission to update an existing communication."
          },
          "404": {
            "description": "The communication could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An internal error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "connectionId": "11ofco",
          "httpMethod": "PATCH",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/communications/{commId}",
          "responses": {
            "default": {
              "statusCode": "202"
            }
          },
          "requestParameters": {
            "integration.request.path.commId": "method.request.path.commId"
          },
          "passthroughBehavior": "when_no_match",
          "connectionType": "VPC_LINK"
        }
      },
      "get": {
        "deprecated": true,
        "tags": [
          "Comms APIs"
        ],
        "operationId": "getCem-commsCommid",
        "summary": "Get Communication",
        "description": "Get a single communication by its ID.",
        "parameters": [
          {
            "name": "commId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the communication as returned by [Launch Communication](https://developers.everbridge.net/internal/reference/postcem-comms)."
          }
        ],
        "responses": {
          "200": {
            "description": "A communication was found matching the given `commId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommDetail"
                }
              }
            }
          },
          "404": {
            "description": "The communication could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An internal error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "passthroughBehavior": "when_no_match",
          "connectionId": "11ofco",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.commId": "method.request.path.commId"
          },
          "type": "http_proxy",
          "httpMethod": "GET",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/communications-query/{commId}",
          "connectionType": "VPC_LINK"
        }
      }
    },
    "/resend": {
      "post": {
        "deprecated": true,
        "tags": [
          "Comms APIs"
        ],
        "operationId": "postResendCem-comms",
        "summary": "Resend Communication",
        "description": "Resend a communication.",
        "parameters": [
          {
            "in": "query",
            "name": "commId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The ID of the communication to resend."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResendCommRequest"
              },
              "examples": {
                "Resending a communication to a set of individual contacts": {
                  "summary": "Sending a communication to a set of individual contacts",
                  "value": {
                    "launchedFrom": "API",
                    "recipients": {
                      "contacts": [
                        {
                          "type": "ExternalId",
                          "externalId": "jsmith1"
                        },
                        {
                          "type": "Id",
                          "id": "873461568734615"
                        },
                        {
                          "type": "Name",
                          "firstName": "Jimi",
                          "lastName": "Hendrix"
                        }
                      ]
                    }
                  }
                },
                "Resending a communication to a set of contact groups": {
                  "summary": "Sending a communication to a set of contact groups",
                  "value": {
                    "launchedFrom": "API",
                    "recipients": {
                      "groups": [
                        {
                          "type": "Id",
                          "id": "873461568734615"
                        },
                        {
                          "type": "Name",
                          "name": "MVPs"
                        }
                      ]
                    }
                  }
                },
                "Resending a communication to contacts that match a contact rule (filter)": {
                  "summary": "Sending a communication to contacts that match a contact rule (filter)",
                  "value": {
                    "launchedFrom": "API",
                    "recipients": {
                      "rules": [
                        {
                          "type": "Id",
                          "id": "873461568734615"
                        },
                        {
                          "type": "Name",
                          "name": "Michigan Factory Employees"
                        }
                      ]
                    }
                  }
                },
                "Previewing a communication with custom settings": {
                  "summary": "Previewing a communication with custom settings",
                  "value": {
                    "mode": "Preview",
                    "launchedFrom": "API"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The communication was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommsResponse"
                },
                "examples": {
                  "Successful creation of a communication": {
                    "summary": "Successful creation of a communication",
                    "value": {
                      "id": "73ef9c42-df40-41c8-9b2d-6618ed5c31c1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                },
                "examples": {
                  "Single validation error": {
                    "summary": "Single validation error",
                    "value": {
                      "type": "/client-error/invalid-parameter",
                      "title": "Bad Request",
                      "status": 400,
                      "detail": "The \"Field Name #1\" field must not be empty.",
                      "instance": "/cem-comms"
                    }
                  },
                  "Multiple validation errors": {
                    "summary": "Multiple validation errors",
                    "value": {
                      "type": "/client-error/invalid-parameter",
                      "title": "Bad Request",
                      "status": 400,
                      "detail": "The \"title\" field must not be empty.\nThe \"eventType\" field must not be empty.\nThe \"Field Name #1\" field must not be empty.",
                      "instance": "/cem-comms"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The token provided does not have permission to create a new communication."
          },
          "500": {
            "description": "An internal error has occurred. This may not always return a response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                },
                "examples": {
                  "An internal server error has occurred": {
                    "summary": "An internal server error has occurred",
                    "value": {
                      "type": "about:blank",
                      "title": "Internal Server Error",
                      "status": 500,
                      "detail": null,
                      "instance": "/cem-comms"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "connectionId": "11ofco",
          "httpMethod": "POST",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/communications/resend",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "passthroughBehavior": "when_no_match",
          "connectionType": "VPC_LINK"
        }
      }
    },
    "/{commId}/stop": {
      "patch": {
        "deprecated": true,
        "tags": [
          "Comms APIs"
        ],
        "operationId": "patchStopCem-comms",
        "summary": "Stop Communication",
        "description": "Stop a communication.",
        "parameters": [
          {
            "name": "commId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the communication to stop."
          }
        ],
        "responses": {
          "200": {
            "description": "The communication was stopped successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StopCommsResponse"
                },
                "examples": {
                  "Successful stop of a communication": {
                    "summary": "Successful stop of a communication",
                    "value": {
                      "id": "73ef9c42-df40-41c8-9b2d-6618ed5c31c1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "The token provided does not have permission to create a new communication."
          },
          "500": {
            "description": "An internal error has occurred. This may not always return a response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                },
                "examples": {
                  "An internal server error has occurred": {
                    "summary": "An internal server error has occurred",
                    "value": {
                      "type": "about:blank",
                      "title": "Internal Server Error",
                      "status": 500,
                      "detail": null,
                      "instance": "/cem-comms"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "connectionId": "11ofco",
          "httpMethod": "PATCH",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/communications/{commId}/stop",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.commId": "method.request.path.commId"
          },
          "passthroughBehavior": "when_no_match",
          "connectionType": "VPC_LINK"
        }
      }
    },
    "/{commId}/publish-options": {
      "patch": {
        "deprecated": true,
        "tags": [
          "Comms APIs"
        ],
        "operationId": "deactivateCem-commsPublishOptionMessage",
        "summary": "Deactivate or expire a single communication publish option message",
        "description": "Deactivate or expire a single communication publish option message",
        "parameters": [
          {
            "name": "commId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the communication that will be deactivated or expired for a publish option message."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeactivatePublishOptionVO"
              },
              "examples": {
                "Deactivate comms publish option AudioBulletinBoard message": {
                  "summary": "Deactivate comms publish option AudioBulletinBoard message",
                  "value": {
                    "path": "AudioBulletinBoard",
                    "status": "Deactivate"
                  }
                },
                "Deactivate comms publish option WebWidget message": {
                  "summary": "Deactivate comms publish option WebWidget message",
                  "value": {
                    "path": "WebWidget",
                    "status": "Deactivate"
                  }
                },
                "Deactivate comms publish option MemberPortal message": {
                  "summary": "Deactivate comms publish option MemberPortal message",
                  "value": {
                    "path": "MemberPortal",
                    "status": "Deactivate"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The comm publish option message was deactivated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishOptionMessageDeactivatedResponse"
                },
                "examples": {
                  "Successfully deactivated a Member Portal message": {
                    "summary": "Successfully deactivated a Member Portal message",
                    "value": {
                      "path": "MemberPortal",
                      "status": "Deactivated"
                    }
                  },
                  "Successfully deactivated an AudioBulletinBoard message": {
                    "summary": "Successfully deactivated an AudioBulletinBoard message",
                    "value": {
                      "path": "AudioBulletinBoard",
                      "status": "MANUALEXPIRE",
                      "expireDateTime": "2024-12-24T14:58:501Z"
                    }
                  },
                  "Successfully deactivated a WebWidget message": {
                    "summary": "Successfully deactivated a WebWidget message",
                    "value": {
                      "path": "WebWidget",
                      "status": "Deactivated",
                      "deactivatedDate": "2024-12-24T14:58:501Z",
                      "deactivatedBy": "Ranen Liu"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "The token provided does not have permission to deactivate a comms publish option path message."
          },
          "500": {
            "description": "An internal error has occurred. This may not always return a response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "passthroughBehavior": "when_no_match",
          "connectionId": "11ofco",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.commId": "method.request.path.commId"
          },
          "type": "http_proxy",
          "httpMethod": "PATCH",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/communications/{commId}/publish-options",
          "connectionType": "VPC_LINK"
        }
      },
      "get": {
        "deprecated": true,
        "tags": [
          "Comms APIs"
        ],
        "operationId": "getCem-commsPublishOptionPathDetail",
        "summary": "Retrieve a single communication publish option path detail",
        "description": "Retrieve a single communication publish option path detail",
        "parameters": [
          {
            "name": "commId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the communication for which to retrieve the publish option path detail."
          },
          {
            "in": "query",
            "name": "publishOptionPath",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AudioBulletinBoard",
                "WebWidget",
                "MemberPortal",
                "SocialMedia"
              ]
            },
            "description": "Communication publish option path you want to fetch."
          }
        ],
        "responses": {
          "200": {
            "description": "The communication publish option path detail info.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishOptionPathResponse"
                },
                "examples": {
                  "Retrieving communication publish option path AudioBulletinBoard detail": {
                    "summary": "Retrieving communication publish option path AudioBulletinBoard detail",
                    "value": {
                      "path": "AudioBulletinBoard",
                      "status": "ACTIVE",
                      "futureExpireDateTime": "2025-01-10T01:32:10.027Z"
                    }
                  },
                  "Retrieving communication publish option path MemberPortal detail": {
                    "summary": "Retrieving communication publish option path MemberPortal detail",
                    "value": {
                      "path": "MemberPortal",
                      "includeSelectedMapShape": true,
                      "status": "Deactivated"
                    }
                  },
                  "Retrieving communication publish option path WebWidget detail": {
                    "summary": "Retrieving communication publish option path WebWidget detail",
                    "value": {
                      "path": "WebWidget",
                      "name": "Widget 1",
                      "durationType": "Set by Calendar",
                      "status": "Expired",
                      "expirationDate": "2025-01-05T01:32:10.027Z"
                    }
                  },
                  "Retrieving communication publish option path SocialMedia detail": {
                    "summary": "Retrieving communication publish option path SocialMedia detail",
                    "value": {
                      "path": "SocialMedia",
                      "twitter": [
                        {
                          "twitterName": "@xxxxxxx11111",
                          "status": "Failed",
                          "errorMessage": "twitter v2 authentication error",
                          "errorCode": 401
                        },
                        {
                          "twitterName": "@xxxxxxx123432",
                          "status": "Failed",
                          "errorMessage": "twitter v2 authentication error",
                          "errorCode": 401
                        }
                      ],
                      "facebook": [
                        "Jim Green",
                        "Smith Wang",
                        "Kate Wang"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The `commId` provided was not in the correct format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "The communication could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An internal error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "passthroughBehavior": "when_no_match",
          "connectionId": "11ofco",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.commId": "method.request.path.commId"
          },
          "type": "http_proxy",
          "httpMethod": "GET",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/communications-query/{commId}/publish-options",
          "connectionType": "VPC_LINK"
        }
      }
    },
    "/{commId}/confirmation-result": {
      "post": {
        "deprecated": true,
        "tags": [
          "Comms APIs"
        ],
        "operationId": "postCem-commsConfirmationResult",
        "summary": "Generate a resultset based on communication confirmations",
        "description": "Generates one or more resultsets, to be used for sending a follow-up communication to recipients who have provided specified responses.",
        "parameters": [
          {
            "name": "commId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the communication recipients reacted to."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "Confirmations to include in results.",
                "items": {
                  "type": "string",
                  "description": "The confirmation to include in results."
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The resultset has been created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Set of applicable resultsets.",
                  "items": {
                    "type": "string",
                    "description": "The sets to include in new communication."
                  }
                },
                "examples": {
                  "Successfully created results": {
                    "summary": "Successfully created results",
                    "value": [
                      "evbg+resultset:contacts:234817a246-4f2f-4a4f-8b8f-4f2f4a4f8b8f-confirmation-246a735b:1143697283497"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "The token provided does not have permission to generate a result set from the communication."
          },
          "500": {
            "description": "An internal error has occurred. This may not always return a response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "passthroughBehavior": "when_no_match",
          "connectionId": "11ofco",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.commId": "method.request.path.commId"
          },
          "type": "http_proxy",
          "httpMethod": "POST",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/communications/{commId}/confirmation-result",
          "connectionType": "VPC_LINK"
        }
      }
    },
    "/{commId}/operator-confirmation": {
      "post": {
        "deprecated": true,
        "tags": [
          "Comms APIs"
        ],
        "operationId": "postCem-commsOperatorConfirmation",
        "summary": "Confirm operators for a communication",
        "description": "Confirms operator responses for the specified communication.",
        "parameters": [
          {
            "name": "commId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the communication to confirm."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OperatorConfirmationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operator confirmation processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperatorConfirmationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Communication not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An internal error has occurred. This may not always return a response body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "passthroughBehavior": "when_no_match",
          "connectionId": "11ofco",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.commId": "method.request.path.commId"
          },
          "type": "http_proxy",
          "httpMethod": "POST",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/communications/{commId}/operator-confirmation",
          "connectionType": "VPC_LINK"
        }
      }
    },
    "/comm": {
      "post": {
        "tags": [
          "Comms APIs"
        ],
        "operationId": "comm-launch",
        "summary": "Launch Communication",
        "description": "Launch a communication.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/LaunchCommRequest"
                  },
                  {
                    "$ref": "#/components/schemas/PreviewCommRequest"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The communication preview was generated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewCommResponse"
                }
              }
            }
          },
          "201": {
            "description": "The communication was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "The token provided does not have permission to create a new communication."
          },
          "500": {
            "description": "An internal error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "connectionId": "11ofco",
          "httpMethod": "POST",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/communications",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "passthroughBehavior": "when_no_match",
          "connectionType": "VPC_LINK"
        }
      },
      "get": {
        "tags": [
          "Comms APIs"
        ],
        "operationId": "getComm-list",
        "summary": "List Communications",
        "description": "List communications based on the filter criteria. Only communications that match all filter criteria will be returned.",
        "parameters": [
          {
            "in": "query",
            "name": "threadStatus",
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "INACTIVE"
              ]
            },
            "description": "Filter the record set by the thread status of the communication. If `threadStatus` is not provided, then the record set will include all communications."
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "ACTIVE",
                "IN_PROGRESS",
                "SENT",
                "STOPPED",
                "EXPIRED_ARCHIVED"
              ]
            },
            "description": "Filter the record set by the status of the communication."
          },
          {
            "in": "query",
            "name": "mode",
            "schema": {
              "type": "string",
              "enum": [
                "LIVE",
                "SIMULATION",
                "PREVIEW"
              ]
            },
            "description": "Filter the record set by the notification mode."
          },
          {
            "in": "query",
            "name": "types",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "Communication",
                  "Incident",
                  "Notification"
                ]
              }
            },
            "description": "Filter the records returned by the type of communication."
          },
          {
            "in": "query",
            "name": "fromDate",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start date as an ISO 8601-compliant value to filter the record set by."
          },
          {
            "in": "query",
            "name": "toDate",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End date as an ISO 8601-compliant value to filter the record set by."
          },
          {
            "in": "query",
            "name": "dateType",
            "schema": {
              "type": "string",
              "enum": [
                "CREATED",
                "UPDATED",
                "SENT"
              ]
            },
            "description": "Specifies the field that `fromDate` and `toDate` should apply to."
          },
          {
            "in": "query",
            "name": "contextId",
            "schema": {
              "type": "string"
            },
            "description": "The ID of a contextual object."
          },
          {
            "in": "query",
            "name": "title",
            "schema": {
              "type": "string"
            },
            "description": "Filters by the title of the communication."
          },
          {
            "in": "query",
            "name": "sentBy",
            "schema": {
              "type": "string"
            },
            "description": "Filter by an ID of a user that can launch communications."
          },
          {
            "in": "query",
            "name": "responseId",
            "schema": {
              "type": "string"
            },
            "description": "Filter by response management ID, which is resolved through the crisis event service before querying communications."
          },
          {
            "in": "query",
            "name": "tags",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by one or more tags."
          },
          {
            "in": "query",
            "name": "eventType",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Filter by one or more event type values, such as `General` or `Flood`. Values are converted to `eventType:<value>` tags and matched as an OR group. Supports repeated query parameters or comma-separated values."
          },
          {
            "in": "query",
            "name": "priority",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "NORMAL",
                  "HIGHPRIORITY",
                  "LIFETHREATENING"
                ]
              }
            },
            "description": "Filter by one or more communication priorities, matched as an OR group. If `priority` is not provided, then the record set will include communications with any priority. Supports repeated query parameters (e.g. `priority=NORMAL&priority=HIGHPRIORITY`)."
          },
          {
            "in": "query",
            "name": "sortBy",
            "schema": {
              "type": "string",
              "enum": [
                "CREATED",
                "EVENTTYPE",
                "NAME",
                "PRIORITY",
                "SENT"
              ]
            },
            "description": "The field to sort the result set by."
          },
          {
            "in": "query",
            "name": "sortDirection",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "ASCENDING",
                "DESC",
                "DESCENDING"
              ]
            },
            "description": "The order by which to sort the result set."
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100
            },
            "description": "The size of each page of search results."
          },
          {
            "in": "query",
            "name": "pageNumber",
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1
            },
            "description": "The requested page number."
          }
        ],
        "responses": {
          "200": {
            "description": "The query was executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommPaginatedResponse"
                }
              }
            }
          },
          "500": {
            "description": "An internal error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "passthroughBehavior": "when_no_match",
          "connectionId": "11ofco",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "httpMethod": "GET",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/communications-query",
          "connectionType": "VPC_LINK"
        }
      }
    },
    "/comm/{commId}": {
      "patch": {
        "tags": [
          "Comms APIs"
        ],
        "operationId": "patchComm-commId",
        "summary": "Update communication description, title, eventType and active",
        "description": "Update the description, title, eventType and active properties of an existing communication.",
        "parameters": [
          {
            "name": "commId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the communication to update."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCommRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "The communication has been updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommDetail"
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "The token provided does not have permission to update an existing communication."
          },
          "404": {
            "description": "The communication could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An internal error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "connectionId": "11ofco",
          "httpMethod": "PATCH",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/communications/{commId}",
          "responses": {
            "default": {
              "statusCode": "202"
            }
          },
          "requestParameters": {
            "integration.request.path.commId": "method.request.path.commId"
          },
          "passthroughBehavior": "when_no_match",
          "connectionType": "VPC_LINK"
        }
      },
      "get": {
        "tags": [
          "Comms APIs"
        ],
        "operationId": "getComm-detail",
        "summary": "Get Communication",
        "description": "Get a single communication by its ID.",
        "parameters": [
          {
            "name": "commId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the communication."
          }
        ],
        "responses": {
          "200": {
            "description": "A communication was found matching the given `commId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommDetail"
                }
              }
            }
          },
          "404": {
            "description": "The communication could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An internal error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "passthroughBehavior": "when_no_match",
          "connectionId": "11ofco",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.commId": "method.request.path.commId"
          },
          "type": "http_proxy",
          "httpMethod": "GET",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/communications-query/{commId}",
          "connectionType": "VPC_LINK"
        }
      }
    },
    "/comm/resend": {
      "post": {
        "tags": [
          "Comms APIs"
        ],
        "operationId": "postResendComm",
        "summary": "Resend Communication",
        "description": "Resend a communication.",
        "parameters": [
          {
            "in": "query",
            "name": "commId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The ID of the communication to resend."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResendCommRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The communication was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "The token provided does not have permission to create a new communication."
          },
          "500": {
            "description": "An internal error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "connectionId": "11ofco",
          "httpMethod": "POST",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/communications/resend",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "passthroughBehavior": "when_no_match",
          "connectionType": "VPC_LINK"
        }
      }
    },
    "/comm/{commId}/stop": {
      "patch": {
        "tags": [
          "Comms APIs"
        ],
        "operationId": "patchStopComm",
        "summary": "Stop Communication",
        "description": "Stop a communication.",
        "parameters": [
          {
            "name": "commId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the communication to stop."
          }
        ],
        "responses": {
          "200": {
            "description": "The communication was stopped successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StopCommsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "The token provided does not have permission to stop a communication."
          },
          "500": {
            "description": "An internal error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "type": "http_proxy",
          "connectionId": "11ofco",
          "httpMethod": "PATCH",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/communications/{commId}/stop",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.commId": "method.request.path.commId"
          },
          "passthroughBehavior": "when_no_match",
          "connectionType": "VPC_LINK"
        }
      }
    },
    "/comm/{commId}/publish-options": {
      "patch": {
        "tags": [
          "Comms APIs"
        ],
        "operationId": "deactivateComm-publishOptionMessage",
        "summary": "Deactivate or expire a single communication publish option message",
        "description": "Deactivate or expire a single communication publish option message",
        "parameters": [
          {
            "name": "commId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the communication."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeactivatePublishOptionVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The comm publish option message was deactivated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishOptionMessageDeactivatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "The token provided does not have permission to deactivate a comms publish option path message."
          },
          "500": {
            "description": "An internal error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "passthroughBehavior": "when_no_match",
          "connectionId": "11ofco",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.commId": "method.request.path.commId"
          },
          "type": "http_proxy",
          "httpMethod": "PATCH",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/communications/{commId}/publish-options",
          "connectionType": "VPC_LINK"
        }
      },
      "get": {
        "tags": [
          "Comms APIs"
        ],
        "operationId": "getComm-publishOptions",
        "summary": "Retrieve a single communication publish option path detail",
        "description": "Retrieve a single communication publish option path detail.",
        "parameters": [
          {
            "name": "commId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the communication."
          },
          {
            "in": "query",
            "name": "publishOptionPath",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AudioBulletinBoard",
                "WebWidget",
                "MemberPortal",
                "SocialMedia"
              ]
            },
            "description": "Communication publish option path you want to fetch."
          }
        ],
        "responses": {
          "200": {
            "description": "The communication publish option path detail.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishOptionPathResponse"
                }
              }
            }
          },
          "400": {
            "description": "The `commId` provided was not in the correct format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "The communication could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An internal error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "passthroughBehavior": "when_no_match",
          "connectionId": "11ofco",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.commId": "method.request.path.commId"
          },
          "type": "http_proxy",
          "httpMethod": "GET",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/communications-query/{commId}/publish-options",
          "connectionType": "VPC_LINK"
        }
      }
    },
    "/comm/{commId}/confirmation-result": {
      "post": {
        "tags": [
          "Comms APIs"
        ],
        "operationId": "postComm-confirmationResult",
        "summary": "Generate a resultset based on communication confirmations",
        "description": "Generates one or more resultsets, to be used for sending a follow-up communication to recipients who have provided specified responses.",
        "parameters": [
          {
            "name": "commId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the communication recipients reacted to."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "Confirmations to include in results.",
                "items": {
                  "type": "string",
                  "description": "The confirmation to include in results."
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The resultset has been created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request failed validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "The token provided does not have permission to generate a result set from the communication."
          },
          "500": {
            "description": "An internal error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "passthroughBehavior": "when_no_match",
          "connectionId": "11ofco",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.commId": "method.request.path.commId"
          },
          "type": "http_proxy",
          "httpMethod": "POST",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/communications/{commId}/confirmation-result",
          "connectionType": "VPC_LINK"
        }
      }
    },
    "/comm/{commId}/operator-confirmation": {
      "post": {
        "tags": [
          "Comms APIs"
        ],
        "operationId": "postComm-operatorConfirmation",
        "summary": "Confirm operators for a communication",
        "description": "Confirms operator responses for the specified communication.",
        "parameters": [
          {
            "name": "commId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the communication to confirm."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OperatorConfirmationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operator confirmation processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperatorConfirmationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Communication not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "An internal error has occurred.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "passthroughBehavior": "when_no_match",
          "connectionId": "11ofco",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.commId": "method.request.path.commId"
          },
          "type": "http_proxy",
          "httpMethod": "POST",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/communications/{commId}/operator-confirmation",
          "connectionType": "VPC_LINK"
        }
      }
    },
    "/{commId}/geometry": {
      "get": {
        "deprecated": true,
        "tags": [
          "Comms APIs"
        ],
        "operationId": "get-communication-geometry",
        "summary": "Get communication geometry",
        "description": "Return the geometry of a communication if it exists.",
        "parameters": [
          {
            "name": "commId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the communication as returned by [Launch Communication](https://developers.everbridge.net/internal/reference/postcem-comms)."
          },
          {
            "name": "responseType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Default",
                "GeoJSON"
              ],
              "pattern": "^(?i)(default|geojson)$",
              "description": "The type of response to be returned."
            },
            "description": "The type of response to be returned. The default is the `inArea` of the combined SemanticQuery by omitting or passing `default`. Alternatively `geojson` can be returned instead to return GeoJSON (RFC 7946)."
          }
        ],
        "responses": {
          "200": {
            "description": "A communication was found matching the given `commId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Geometry"
                },
                "examples": {
                  "Default": {
                    "summary": "Default response",
                    "value": {
                      "inArea": true,
                      "geometry": {
                        "type": "Polygon",
                        "coordinates": [
                          [
                            [
                              -73.9822,
                              40.7681
                            ],
                            [
                              -73.9822,
                              40.7681
                            ]
                          ]
                        ]
                      }
                    }
                  },
                  "GeoJSON": {
                    "summary": "GeoJSON response",
                    "value": {
                      "type": "FeatureCollection",
                      "features": [
                        {
                          "type": "Feature",
                          "geometry": {
                            "type": "Polygon",
                            "coordinates": [
                              [
                                [
                                  -122.4194,
                                  37.7749
                                ],
                                [
                                  -122.4066,
                                  37.7849
                                ],
                                [
                                  -122.3995,
                                  37.7734
                                ],
                                [
                                  -122.4114,
                                  37.7683
                                ],
                                [
                                  -122.4194,
                                  37.7749
                                ]
                              ]
                            ]
                          },
                          "properties": {}
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The communication could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "security": [
          {
            "API_Authorizer": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "passthroughBehavior": "when_no_match",
          "connectionId": "11ofco",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "requestParameters": {
            "integration.request.path.commId": "method.request.path.commId"
          },
          "type": "http_proxy",
          "httpMethod": "GET",
          "uri": "https://prod-us-us-east-1-0-os-nginx.ue1-0.prod-us.prod.us-east-1.evbg.io/cem-comms/communications-query/{commId}/geometry",
          "connectionType": "VPC_LINK"
        }
      }
    },
    "/{commId}/settings": {
      "get": {
        "deprecated": true,
        "tags": [
          "Comms APIs"
        ],
        "operationId": "getCem-commsCommidSettings",
        "summary": "Get Communication Settings",
        "description": "Get the settings for a communication",
        "parameters": [
          {
            "name": "commId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the communication as returned by [Launch Communication](https://developers.everbridge.net/internal/reference/postcem-comms)."
          }
        ],
        "responses": {
          "200": {
            "description": "A communication was found matching the given `commId`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSettings"
                },
                "examples": {
                  "Retrieving an ad-hoc communication's settings": {
                    "summary": "Retrieving an ad-hoc communication's settings",
[...]
